<a
  class="<%= params[:controller] === 'practices' && params[:action] === 'show' ? 'usa-tag text-uppercase text-bold' : 'dm-tag--big--action-primary' %>"
  href="/search?query=<%= term %>">
  <%= term %>
</a>
