
<a
  class="display-inline-block category-link font-sans-3xs margin-right-1
               margin-bottom-1 padding-y-05 padding-x-1 radius-sm text-white text-bold line-height-sans-2 text-ls-1 text-uppercase"
  href="/search?query=<%= term %>"
>
  <%= term %>
</a>