<div class="grid-col-12 desktop:grid-col-4">
  <% categories.each do |category| %>
    <%= render partial: 'practices/introduction_forms/category_checkbox', locals: {
      category: category,
      parent_category: parent_category
    } %>
  <% end %>
</div>