<div class="grid-col-12 desktop:grid-col-4">
  <% if categories.count > 1 %>
    <% categories[column].each do |category| %>
      <%= render partial: 'practices/introduction_forms/category_checkbox', locals: {
        category: category,
        parent_category: parent_category
      } %>
    <% end %>
  <% else %>
    <%= render partial: 'practices/introduction_forms/category_checkbox', locals: {
      category: categories.first,
      parent_category: parent_category
    } %>
  <% end %>
</div>