<h1>Editing Job Position Category</h1>

<%= render 'form', job_position_category: @job_position_category %>

<%= link_to 'Show', @job_position_category %> |
<%= link_to 'Back', job_position_categories_path %>
