<section class="usa-section padding-y-0">
  <div class="grid-container position-relative">
    <div class="grid-row grid-gap grid-col-12">
      <div class="grid-col-12">
        <h1 class="font-sans-2x1 desktop:margin-top-5 desktop:margin-bottom-3">
          VAMC directory
        </h1>
        <div class="text-base">
          Looking for a full list of VISNs? <a href="/visn">Click here</a>
        </div>
        <div class="desktop:margin-top-5 grid-col-5">
          <%= render partial: 'vamcs/vamc_directory_combo_box', locals: {vamc_selector: 'vamc_directory_select'} %>
        </div>
      </div>
    </div>
  </div>
</section>