<div class="margin-y-2">
  <div class="usa-alert usa-alert--warning margin-bottom-2 message-icon-bg-position">
    <div class="usa-alert__body grid-row flex-align-center">
      <div class="usa-alert__heading font-sans-sm x0-bottom"><%= params[:session_locked] %></div>
    </div>
  </div>
</div>