<% provide :main_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<%# provide :head_tags do %>
  <%#= javascript_include_tag 'practice_editor_utilities', 'data-turbolinks-track': 'reload' %>
<%# end %>

<%= render 'practice_editor_sidenav' %>
<div class="grid-container position-relative">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-3 grid-col-auto z-bottom">&nbsp;</div>

    <div id="editors" class="desktop:grid-col-9 grid-col-12 p0">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-top-0 p0-bottom editors">
        <h1 class="font-sans-2xl line-height-46px margin-bottom-3">Editors</h1>
        <div class="margin-top-3">
          <%= render 'pii_phi_alert' %>
        </div>
        <%= nested_form_for(@practice, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <fieldset class="usa-fieldset grid-col-11">
            <legend class="usa-sr-only">Practice Contact</legend>
          </fieldset>
        <% end %>
      </section>
    </div>
  </div>
</div>