version: '3'
services:
  proxy:
    image: proxy
    build:
      context: .
      dockerfile: ./proxy/Dockerfile
    volumes:
      - ./logs:/var/log
      - app:/var/www
    ports:
      - "80:80"
    depends_on:
      - app
    links:
      - app
  app:
    image: dm:vaec
    env_file:
      - .env
    volumes:
      - ./logs:/app/log
      - app:/var/www
    build:
      context: .
      dockerfile: Dockerfile
      args:
        S3_BUCKET_NAME: dev-dm
        AWS_ACCESS_KEY_ID: ABCD
        AWS_SECRET_ACCESS_KEY: 1234
        AWS_REGION: us-gov-west-1
    environment: &app_server_enviroment_vars
      # The AWS key and secret access key refer to the S3 bucket user
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_REGION: ${AWS_REGION}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      CONTAINER_ROLE: app_server
      DO_NOT_REPLY_MAILER_SENDER: ${DO_NOT_REPLY_MAILER_SENDER}
      GA_TRACKING_ID: ${GA_TRACKING_ID}
      HOSTNAME: ${HOSTNAME}
      MAILER_SENDER: ${MAILER_SENDER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      RAILS_ENV: ${RAILS_ENV}
      REDIS_URL: ${REDIS_URL}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      SES_SMTP_PASSWORD: ${SES_SMTP_PASSWORD}
      SES_SMTP_USERNAME: ${SES_SMTP_USERNAME}
      SURVEY_MONKEY_PASSWORD: ${SURVEY_MONKEY_PASSWORD}
      SURVEY_MONKEY_TOKEN: ${SURVEY_MONKEY_TOKEN}
      SURVEY_MONKEY_USERNAME: ${SURVEY_MONKEY_USERNAME}
volumes:
  app:
    external: false

