@import "../../variables/colors";

footer {
  .dm-footer-link {
    color: $dm-color-base;
    text-decoration: none;

    &:hover {
      color: $dm-color-blue-50v;
      text-decoration: underline;
    }

    &:visited {
      color: $dm-color-base;
      text-decoration: none;

      &:hover {
        color: $dm-color-blue-50v;
        text-decoration: underline;
      }
    }
  }
}