.usa-header--basic {
  .usa-current {
    span {
      @include u-text('primary-vivid');
      @include u-text('semibold');
    }
  }

  .usa-current::after {
    @include u-border('primary-vivid');
    @include u-border(2px)
  }

  .usa-nav {
    width: 263px;
  }

  .usa-nav__submenu-item a {
    &.usa-current {
      @include u-text('primary-vivid', !important);
    }

    &:hover {
      @include u-text('primary-vivid', !important);
    }
  }

  .usa-link {
    &:hover {
      @include u-text('primary-vivid', !important);
      @include u-bg('transparent', !important);
    }
  }

  @media all and (min-width: 75rem) {
    .dm-header--va-seal {
      @include u-width('6', !important);
      @include u-height('6', !important);
    }

    .usa-current {
      span {
        @include u-text('base-dark');
      }
    }

    .usa-logo {
      @include u-margin-y('3');
    }

    .usa-nav {
      min-width: 73%;
      max-width: 73%;
    }

    .usa-nav__primary {
      button[aria-expanded="true"] span{
        @include u-text($theme-color-dm-white)
      }
    }

    .usa-nav__submenu-item a {
      &.usa-current {
        @include u-text($theme-color-dm-white, !important);

        span {
          @include u-text('normal');
          @include u-text($theme-color-dm-white, !important);
        }
      }

      &:hover {
        @include u-text($theme-color-dm-white, !important);
        @include u-text('underline');
      }
    }
  }
}

.va-crisis-line-modal-container {
  div {
    @media all and (min-width: 75rem) {
      position: absolute;
      top: -22px;
      right: 24px;
    }
  }

  a {
    background-image: image-url('crisis-line-logo.png');
    background-color: color($theme-color-primary-lighter) !important;
    color: color($theme-color-base-ink)!important;
    background-repeat: no-repeat;
    line-height: 15px !important;
    background-size: 27px 17.5px;
    background-position: 16px center;
    padding: 8px 16px 8px 56px;

    @media all and (min-width: 75rem) {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      background-position: 10px center;
      padding: 8px 16px 8px 50px;

      i {
        display: none !important;
      }
    }
  }
}

.va-crisis-line-modal-container {
  div {
    @media all and (min-width: 75rem) {
      position: absolute;
      top: -22px;
      right: 3rem;
    }
  }

  a {
    background-image: image-url('crisis-line-logo.png');
    background-color: color($theme-color-primary-lighter) !important;
    color: color($theme-color-base-ink)!important;
    background-repeat: no-repeat;
    line-height: 15px !important;
    background-size: 27px 17.5px;
    background-position: 16px center;
    padding: 8px 16px 8px 56px;

    @media all and (min-width: 75rem) {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      background-position: 10px center;
      padding: 8px 16px 8px 50px;

      i {
        display: none !important;
      }
    }
  }
}

#va-crisis-line-modal {
  .usa-modal--lg {
    max-width: 50rem !important;
    border-radius: 4px !important;
  }

  .usa-modal__main {
    padding: 0 40px 40px 40px !important;
    max-width: unset !important;

    .crisis-line-logo {
      width: 36px;
      height: 23px;
    }
  }

  .va-crisis-line-contact-list {
    i {
      width: 32px;
    }
  }

  button {
    color: color($theme-color-base-ink) !important;
    margin-right: 20px;
    margin-top: 20px;

    i {
      font-size: 32px;
    }
  }
}
