@import "../../variables/colors";

#dm-nav-header {
  // mobile
  .dm-nav-header-profile {
    min-width: 100%;
  }

  .usa-nav__secondary {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;

    .usa-accordion__button.usa-nav__link {
      padding: 0.5rem 1rem;
    }
  }

  .usa-col {
    min-width: 100%;
  }

  .usa-accordion, .usa-nav__submenu, .usa-nav__submenu-list {
    > li {
      border-top-width: 1px;
      border-top-color: $dm-color-gray-cool-30;
    }
  }

  .dm-nav-header-profile {
    border-bottom: 1px solid $dm-color-gray-cool-30;
  }

  // desktop
  @media screen and (min-width: 64rem) {
    #extended-logo {
      max-width: 45%;
      margin: 0 !important;
      line-height: 80px;
    }

    .usa-nav__secondary {
      min-width: 40%;
      flex-direction: unset;
      margin-top: 1rem;
      bottom: 4.3rem !important;

      &.dm-signed-out-nav-secondary {
        min-width: 35%;
      }

      .usa-nav__primary-item {
        position: absolute;
        top: 0;
        right: -0.625rem;
      }

      .usa-accordion__button.usa-nav__link {
        padding: 1rem 1rem;
      }
    }

    .dm-nav-header-profile {
      display: flex;
      min-width: 0%;
      border-bottom: none;

      &.dm-nav-header-profile-sign-in {
        max-width: 5.75rem;
      }

      #dm-user-profile-options {
        &::before, &::after {
          background-color: transparent;
        }
        width: 125.422px !important;
      }
    }

    .usa-navbar {
      height: 80px !important;
    }
  }
}
