#dm-navbar-search-form {
  margin: 1.25rem 0.25rem;
  order: 5; // make it the last option on mobile nav view

  #dm-navbar-search-field {
    min-width: calc(100% - 3.0625rem) !important;
    max-width: calc(100% - 3.0625rem) !important;
    // remove red outline for required search input field
    &:invalid {
      box-shadow: none !important;
    }
  }

  #dm-navbar-search-button {
    height: 2.0625rem;
    width: 3.0625rem;
    font-size: 1rem;
    padding-top: 0.75rem;
  }

  // desktop
  @media screen and (min-width: 64rem) {
    margin: 0 0.5rem;
    order: 0;
    max-width: 16.5rem;

    #dm-navbar-search-field {
      margin: 0;
      width: 13.4375rem !important;
    }

    .dm-navbar-search-container {
      margin-top: 0.5rem;
    }
  }
}
