<div class="usa-form-group usa-form-group--error overview_error_msg" id="<%= area %>_<%= resource_type %>_err_message_attachment">
  <span class="usa-error-message" id="file-input-error-alert" role="alert"><%= message %></span>
</div>