<div class="usa-form-group usa-form-group--error overview_error_msg" id="<%= area %>_<%= resource_type %>_err_message_link_url">
  <span class="text-bold"><%= error %></span>
  <span class="usa-error-message" role="alert"><%= message %></span>
</div>