<h1>Editing Va Secretary Priority</h1>

<%= render 'form', va_secretary_priority: @va_secretary_priority %>

<%= link_to 'Show', @va_secretary_priority %> |
<%= link_to 'Back', va_secretary_priorities_path %>
