<div>
  <section class="grid-container margin-bottom-3">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
    <h1 class="font-sans-2xl margin-top-3 margin-bottom-05">Partners</h1>
    <div class="grid-row">
      <p class="font-sans-lg line-height-sans-505 grid-col-10">
        Best practices are always being developed, vetted, and promoted by offices within the VA. Below is a list of some of the
        organizations creating and implementing best practices. Select an organization to view their practice partnerships.
      </p>
    </div>
  </section>

  <section class="practice-partner-list">
    <div class="grid-container">
      <% @practice_partners.each do |ss| %>
        <% if ss.name == 'None of the above, or Unsure' %>
          <div class="display-none"></div>
        <% else %>
          <div class="grid-row">
            <div class="grid-col-8 margin-bottom-3">
              <h3 class="font-sans-lg margin-top-0 margin-bottom-05"><%= link_to "#{ss.name}#{ss.short_name.present? ? " (#{ss.short_name.upcase})" : ''}", practice_partner_path(ss), class: 'dm-internal-link', title: "Go to #{ss.name} partner page" %></h3>
              <p class="font-sans-md line-height-sans-505"><%= ss.description %></p>
            </div>
          </div>
        <% end  %>
      <% end %>
    </div>
  </section>
</div>