<div>
  <section class="grid-container margin-bottom-5">
    <%= render "shared/messages" %>
    <div class="dm-font-color-primary-blue p1-top breadcrumbs dm-font-color-super-violet-ish" id="breadcrumbs">
      <a href="/">Home</a>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Partners</span>
    </div>
    <h1 class="font-sans-3xl margin-top-5 margin-bottom-05">Partners</h1>
    <p class="font-sans-lg line-height-sans-6">
      Partners Best practices are constantly being developed, vetted, and promoted by offices within the VA. 
      Select an organization below to view their practice partnerships.
    </p>
  </section>

  <section class="practice-partner-list margin-bottom-2">
    <div class="grid-container">
      <% @practice_partners.each do |ss| %>
        <% if ss.name == 'None of the above, or Unsure' %>
          <div class="display-none"></div>
        <% else %>
          <div class="grid-row">
            <div class="grid-col-12 margin-bottom-3">
              <h3 class="font-sans-lg margin-top-0 margin-bottom-05"><%= link_to "#{ss.name}#{ss.short_name.present? ? " (#{ss.short_name.upcase})" : ''}", practice_partner_path(ss) %></h3>
              <p class="font-sans-md line-height-sans-6"><%= ss.description %></p>
            </div>
          </div>
        <% end  %>
      <% end %>
    </div>
  </section>
  <div class="grid-container margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>