<div>
  <section class="grid-container">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
  </section>

  <section class="margin-top-8 grid-container">
    <div class="grid-row margin-bottom-5">
      <div>
        <p class="grid-col-12 margin-0 line-height-26 tablet:grid-col-8"><%= @practice_partner.description %></p>
      </div>
    </div>
    <div class="dm-paginated-partner-practices">
      <%
        paginated_partner_practices = @paginated_partner_practices
        pagy_partner_practices = @pagy_partner_practices
      %>
      <%= render partial: 'shared/practice_cards_row', locals: { practices: paginated_partner_practices } %>
    </div>
    <div class="dm-load-more-container text-center">
      <% link = pagy_link_proc(pagy_partner_practices) %>
      <%= link.call(pagy_partner_practices.vars[:page].to_i + 1, 'Load more').html_safe if pagy_partner_practices.count > 3 %>
    </div>
  </section>
</div>
