<div class="partner-page-min-height margin-bottom-10">
  <section class="grid-container">
    <%= render partial: "shared/messages", locals: {small_text: false} %>
  </section>

  <section class="margin-bottom-5 margin-top-8 grid-container">
    <div class="grid-row">
      <div>
        <h1 class="grid-col-12 font-sans-2xl margin-top-0 margin-bottom-2"><%= "#{@practice_partner.name}#{@practice_partner.short_name.present? ? " (#{@practice_partner.short_name.upcase})" : ''}"%></h1>
        <p class="grid-col-12 margin-0 line-height-26 tablet:grid-col-8"><%= @practice_partner.description %></p>
      </div>
    </div>
  </section>
  <section>
    <div class="grid-container">
      <% @partner_practices = @practice_partner.practices %>
      <% if @partner_practices.any? %>
        <div class="grid-row grid-gap-3">
          <% @partner_practices.order(retired: :asc, name: :asc).each do |p| %>
            <%= render partial: 'shared/practice_card', locals: {practice: p, featured: false} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
