<div id="problem_resource_image_form">
<%= nested_form_for(@practice, html: { multipart: true, style: 'max-width: 100%', class: 'usa-form'}) do |form| %>
  <%= render 'shared/problem_image_editor', locals: { section_title: 'Thumbnail', form: form, practice: @practice } %>
  <% end %>
<%= label_tag 'practice_problem_resources', 'Caption', for: 'practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name' %>
<input type="text" name="practice[problem_resources_attributes][RANDOM_NUMBER_OR_SOMETHING][name]" id="practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name" style="width: 643px">
<%#= text_field_tag :practice_problem_resources, nil, required: true, id: 'image_caption', class: 'usa-input', :class => "round shadow" %>

  <div class="grid-row margin-bottom-8">
    <button type="button" id="cancel_problem_resource_image" class="usa-button usa-button--outline dm-btn-primary
            editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline">Cancel</button>

    <button type="button" class="add-resource usa-button usa-button-outline pe-continue padding-2
            margin-right-1 margin-bottom-5">Add image</button>
  </div>
</div>

<%= javascript_tag 'data-turbolinks-track':'reload' do %>
  attachAddResourceListener('problem_resource_image_form', 'display_problem_resources_image');

  $(document).on('click', '#cancel_problem_resource_image', function(e){
  debugger;
  e.preventDefault();
  document.getElementById("problem_image_form").style.display = 'none';
  document.getElementById('practice_problem_image').checked = false;
  document.getElementById('problem_resource_image_form').style.display = 'none';
  document.getElementById('display_problem_resources_image').style.display = 'none';
  });
<% end %>
