<div id="problem_resource_video_form">
<%= label_tag 'practice_problem_resources', 'Link (paste the full Youtube address)', for: 'practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_link_url' %>
<input type="text" required name="practice[problem_resources_attributes][RANDOM_NUMBER_OR_SOMETHING][link_url]" id="practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_link_url" style="width: 643px">
<br /><br />
<%= label_tag 'practice_problem_resources', 'Caption', for: 'practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name' %>
<input type="text" name="practice[problem_resources_attributes][RANDOM_NUMBER_OR_SOMETHING][name]" id="practice_problem_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name" style="width: 643px">
</div>

<%= javascript_tag 'data-turbolinks-track':'reload' do %>
  $(document).on('click', '#add_problem_resource_video', function(e){
    debugger;
    e.preventDefault();
    var link_form = $('#problem_resource_video_form').clone();
    link_form.html(link_form.html().replace(/RANDOM_NUMBER_OR_SOMETHING/g, createGUID()));
    link_form.appendTo('#display_problem_resources_video');
    document.getElementById('display_problem_resources_video').style.display = 'block';
  });

  $(document).on('click', '#cancel_problem_resource_video', function(e){
  debugger;
  e.preventDefault();
  document.getElementById("problem_video_form").style.display = 'none';
  document.getElementById('practice_problem_video').checked = false;
  document.getElementById('problem_resource_video_form').style.display = 'none';
  document.getElementById('display_problem_resources_video').style.display = 'none';
  });
<% end %>
<div class="grid-row margin-bottom-8">
  <button type="button" id="cancel_problem_resource_video" class="usa-button usa-button--outline dm-btn-primary
            editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline">Cancel</button>

  <button type="button" id="add_problem_resource_video" class="usa-button usa-button-outline pe-continue padding-2
            margin-right-1 margin-bottom-5">Add video</button>
</div>