<div id="results_resource_video_form">
  <%= label_tag 'practice_results_resources', 'Link (paste the full Youtube address)', for: 'practice_results_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_link_url' %>
  <input type="text" required name="practice[results_resources_attributes][RANDOM_NUMBER_OR_SOMETHING][link_url]" id="practice_results_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_link_url" style="width: 643px">
  <br /><br />
  <%= label_tag 'practice_results_resources', 'Caption', for: 'practice_results_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name' %>
  <input type="text" name="practice[results_resources_attributes][RANDOM_NUMBER_OR_SOMETHING][name]" id="practice_results_resources_attributes_RANDOM_NUMBER_OR_SOMETHING_name" style="width: 643px">
</div>

<%= javascript_tag 'data-turbolinks-track':'reload' do %>
  $(document).on('click', '#add_results_resource_video', function(e){
  debugger;
  e.preventDefault();
  var video_form = $('#results_resource_video_form').clone();
  video_form.html(video_form.html().replace(/RANDOM_NUMBER_OR_SOMETHING/g, createGUID()));
  video_form.appendTo('#display_results_resources_video');
  document.getElementById('display_results_resources_video').style.display = 'block';
  });

  $(document).on('click', '#cancel_results_resource_video', function(e){
  debugger;
  e.preventDefault();
  document.getElementById("results_video_form").style.display = 'none';
  document.getElementById('practice_results_video').checked = false;
  document.getElementById('results_resource_video_form').style.display = 'none';
  document.getElementById('display_results_resources_video').style.display = 'none';
  });
<% end %>
<div class="grid-row margin-bottom-8">
  <button type="button" id="cancel_results_resource_video" class="usa-button usa-button--outline dm-btn-primary
            editor-back-to-link margin-right-1 padding-2 margin-bottom-5 text-no-underline">Cancel</button>

  <button type="button" id="add_results_resource_video" class="usa-button usa-button-outline pe-continue padding-2
            margin-right-1 margin-bottom-5">Add video</button>
</div>