<div class="grid-container position-relative">
  <div class="grid-row flex-align-center position-relative margin-bottom-405 grid-col-8 margin-top-0 margin-bottom-2 margin-x-auto">
    <div class="width-full">
      <div class="margin-top-44px margin-bottom-3">
        <%= image_tag('shark-tank-screenshot.png', alt: 'Shark Tank 2020 Logo') %>
      </div>
      <div class="grid-col-auto font-sans-lg margin-right-305 display-inline-block">
        <span>Submit your practice application by May 1, 2020!</span>
      </div>
      <div class="grid-col-auto display-inline-block">
        <button class="usa-button height-7 width-1505">Apply now</button>
      </div>
    </div>
  </div>
  <section class="shark-tank-info grid-col-8 margin-y-0 margin-x-auto">
    <p class="margin-bottom-2 line-height-sans-505 font-sans-sm">Attention all VHA employees! The 2020 VHA Shark Tank Competition application is now open! All employees are encouraged to submit their
      practices and compete for the opportunity to pitch their practice live at the VHA Innovation Experience (iEx) in Washington, DC to
      Medical Center and VISN Director Sharks! To compete, submit your successfully implemented practice HERE by 11:59 pm PT on May 1, 2020.
    </p>
    <p class="margin-bottom-4 line-height-sans-505 font-sans-sm">
      The Competition shines a spotlight on employees passionate about solving some of the toughest challenges across VHA and provides a
      platform to bring exposure from all levels of leadership to their promising practices that are elevating the standard of care for
      Veterans.
    </p>
    <div class="usa-accordion margin-bottom-3">
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button font-sans-sm"
                aria-expanded="false"
                aria-controls="a1">
          Eligibility requirements
        </button>
      </h2>
      <div id="a1" class="usa-accordion__content usa-prose">
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">Access:</span> improving the ease with which a Veteran can receive timely care including same day services,
          responding to routine clinical inquiries within two business days, offering appointments and other follow up options upon leaving
          clinic, integrating community providers, or extending clinic hours
        </p>
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">Digital Health:</span> leveraging the use of digital information and/or communication technologies to improve
          remote health care access for Veterans with limited mobility, time, or transportation options
        </p>
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">High Reliability Culture Change:</span> Commit to Zero Harm - develop standard work practices for leaders and
          staff and share best practices to support the enterprise effort to build a Just Culture of safety and drive to zero harm
        </p>
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">Improving Capacity, Efficiency, and Productivity:</span> standardizing core processes and leveraging
          innovative practice solutions across specialties to optimize provider and care team productivity, and increase access to quality
          care for our nation’s Veterans
        </p>
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">Rural Women Veterans: A Diverse Community:</span> develop and expand innovative practices to support rural
          women Veterans, with an emphasis on minority women living in rural areas
        </p>
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">Veteran Experience:</span> restoring pride, public trust, and confidence in VA; delivering patient
          experiences marked by effectiveness, ease, and engagement
        </p>
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">Whole Health:</span> an approach to health care that empowers and equips people to take charge of their
          health and well-being and live their life to the fullest
        </p>
        <p class="shark-tank-eligibility-p font-sans-sm">
          <span class="text-bold font-sans-md">Workforce Development:</span> improving recruitment, retention, and morale of VA employees and empowering
          staff to contribute greater input into their work environment
        </p>
      </div>

      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button font-sans-sm"
                aria-expanded="false"
                aria-controls="a2">
          FAQs
        </button>
      </h2>
      <div id="a2" class="usa-accordion__content usa-prose">
        <p class="shark-tank-faq-p">

        </p>
      </div>
    </div>
  </section>
  <div class="grid-row flex-align-center position-relative margin-bottom-405 grid-col-8 margin-top-0 margin-bottom-4 margin-x-auto">
    <p class="font-sans-sm">
      If you have any questions, please <a target="_blank" href="mailto:VAInnovation@atlasresearch.us?subject=Shark Tank Question" class="shark-tank-support-link">email the VA Innovation Support Team</a>
    </p>
  </div>
  <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line grid-col-8 margin-top-0 margin-bottom-2 margin-x-auto">
  <section class="info-sessions grid-col-8 margin-y-0 margin-x-auto">
      <h3 class="font-sans-lg margin-bottom-2">Informational sessions</h3>
      <p class="line-height-sans-505 margin-bottom-2 font-sans-sm">
        The VA Innovation Support Team will host Applicant Informational Sessions via [Insert Name] on April 9 and 14, 2020 at 2:00 pm ET.
        Please find the session details below.
      </p>
      <div class="margin-bottom-2 font-sans-sm">
        <p class="line-height-sans-505 margin-bottom-2"><span class="text-bold">Meeting Link:</span></p>
        <p class="line-height-sans-505 margin-bottom-2"><span class="text-bold">Dial-in:</span></p>
        <p class="line-height-sans-505 margin-bottom-2"><span class="text-bold">Conference code:</span></p>
      </div>
      <p class="line-height-sans-505 font-sans-sm">
        The sessions will provide an overview of what to expect during the 2020 VHA Shark Tank Competition application process and offer
        an opportunity to ask questions. If you cannot attend the session, the VA Innovation Support Team will post resource materials on
        the VHA Shark Tank Competition page on the VHA Diffusion Marketplace.
      </p>
  </section>
  <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line grid-col-8 margin-top-5 margin-bottom-0 margin-x-auto">
  <section class="shark-tank-winners">
    <h3 class="font-sans-lg text-center grid-col-8 margin-top-2 margin-bottom-3 margin-x-auto">Previous Shark Tank Winners</h3>
    <% shark_tank_badge = Badge.find_by(name: 'Shark Tank') %>
    <% @shark_tank_winners = Practice.joins(:badge_practices).where(badge_practices: { badge: shark_tank_badge}).order(name: :asc) %>
    <% if @shark_tank_winners.any? %>
      <div class="grid-row grid-gap">
        <% @shark_tank_winners.each do |practice| %>
          <div class="tablet:grid-col-4 flex-column display-flex margin-bottom-28px">
            <%= render partial: 'practices/favorite_button', locals: {practice: practice, featured: false, col_4: true } %>
            <%= render partial: '/practices/marketplace_card', locals: {practice: practice, featured: false} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class="margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>