# Set permissions for files accessed by Sidekiq
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/51_chmod_logs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      APP_LOG_DIR=$EB_APP_DEPLOY_DIR/log

      SIDEKIQ_LOG=$APP_LOG_DIR/sidekiq.log

      case $RACK_ENV in
        "integration")
          RAILS_LOG=$APP_LOG_DIR/integration.log
          ;;
        "staging")
          RAILS_LOG=$APP_LOG_DIR/staging.log
          ;;
        "production")
          RAILS_LOG=$APP_LOG_DIR/production.log
          ;;
      esac

      touch $SIDEKIQ_LOG
      chmod 0664 $SIDEKIQ_LOG
      touch $RAILS_LOG
      chmod 0664 $RAILS_LOG