<a href="#facility-status-modal" aria-controls="facility-status-modal" data-open-modal class="fas fa-question-circle cursor-pointer">
  <span class="usa-sr-only">Open facility status modal</span>
</a>
<div class="usa-modal" id="facility-status-modal" aria-labelledby="facility-status-modal-heading" aria-describedby="facility-status-modal-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <div class="usa-prose">
        <div>
          <p class="line-height-18px text-bold">In-progress:</p>
          <p class="line-height-26 margin-top-1">Facilities that have started but not completed adopting the innovation.</p>
        </div>
        <div class="margin-top-5">
          <p class="line-height-18px text-bold">Successful:</p>
          <p class="line-height-26 margin-top-1">Facilities that have met adoption goals and implemented the innovation.</p>
        </div>
        <div class="margin-top-5">
          <p class="line-height-18px text-bold">Unsuccessful:</p>
          <p class="line-height-26 margin-top-1">Facilities that started but stopped working towards adoption.</p>
        </div>
      </div>
    </div>
    <button class="usa-button usa-modal__close dm-modal-close-button margin-right-05" aria-label="Close this window" data-close-modal>
      <span class="usa-sr-only">Close this window</span>
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>