<div class="margin-y-3">
  <div class="usa-modal usa-modal--lg" id="facility_complexity_def" aria-labelledby="modal-2-heading" aria-describedby="modal-2-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h3 class="usa-modal__heading" id="modal-2-heading">
          Facility complexity definitions
        </h3>
        <div class="usa-prose">
          <div class="modal-body padding-0 margin-top-2">
            <div class="divTable grid-col-12">
              <div class="headRow margin-bottom-3">
                <div class="divCell grid-col-4 text-bold">Complexity Level</div>
                <div  class="divCell grid-col-8 text-bold">Facility Description</div>
              </div>
              <hr>
              <div class="divRow margin-bottom-2">
                <div class="divCell grid-col-4">1a-Highest complexity</div>
                <div class="divCell grid-col-8">Facilities with high volume, high risk patients, most complex clinical programs, and large research and teaching programs.</div>
              </div>
              <hr>
              <div class="divRow margin-bottom-2">
                <div class="divCell grid-col-4">1b-High complexity</div>
                <div class="divCell grid-col-8">Facilities with medium-high volume, high risk patients, many complex clinical programs, and medium-large research and teaching programs.</div>
              </div>
              <hr>
              <div class="divRow margin-bottom-2">
                <div class="divCell grid-col-4">1c-Mid-High complexity</div>
                <div class="divCell grid-col-8">Facilities with medium-high volume, medium risk patients, some complex clinical programs, and medium sized research and teaching programs.</div>
              </div>
              <hr>
              <div class="divRow margin-bottom-2">
                <div class="divCell grid-col-4">2-Medium complexity</div>
                <div class="divCell grid-col-8">Facilities with medium volume, low risk patients, few complex clinical programs, and small or no research and teaching programs.</div>
              </div>
              <hr>
              <div class="divRow margin-bottom-2">
                <div class="divCell grid-col-4">3-Low complexity</div>
                <div class="divCell grid-col-8">Facilities with low volume, low risk patients, few or no complex clinical programs, and small or no research and teaching programs.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="usa-modal__footer">
        </div>
      </div>
      <button class=" usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
        <i style="color: black; font-size:26px" class="fas fa-times"></i>
      </button>
    </div>
  </div>
</div>