<section id="dm-va-facilities-adoption-index">
  <h2 class="font-sans-2xl margin-top-5 margin-bottom-3">
    Practices adopted at this facility
  </h2>
  <div class="grid-col-12 display-flex">
    <div class="usa-search float-left grid-col-8">
        <form role="search" class="flex-column">
        <div class="display-flex dm-search-container grid-col-12 margin-top-0">
          <label for="created-practice-search" class="usa-label usa-sr-only">
            Search
          </label>
          <input class="usa-input" id="dm-adopted-practices-search-field" title="Type at least three characters to search." autocomplete="off" type="search" name="search" data-search="">
          <button id="dm-adopted-practices-search-button" class="usa-button" type="submit" name="search-button">
            <span class="usa-search__submit-text text-bold">
              Search
            </span>
          </button>
        </div>
        </form>
    </div>
    <div class="grid-col-4 margin-left-5 top-neg-3">
      <%= render partial: 'va_facilities/facility_categories_combo_box', locals: {combo_box_id: 'facility_category_select_adoptions', categories: @categories} %>
    </div>
  </div>
<!-- HEAD-->
  <div class="grid-col-12">
    <div id="practices_adopted_at_facility_count" class="usa-search margin-bottom-2 facility-search-field">
      <%= @adoptions_at_facility.count %> results:
    </div>
  </div>
    <%= render partial: 'va_facilities/facility_adoption_results' %>
</section>
<!--=======-->
<!--  <div class="facility-category-select desktop:margin-bottom-3">-->
    <%#= render partial: 'va_facilities/facility_categories_combo_box', locals: {combo_box_id: 'facility_category_select_adoptions', categories: @created_practices_categories } %>
    <%# TODO: change categories value %>
<!--  </div>-->
<!--</div>-->
<!-- feature/vamc-visn-->
