<div id="facility-no-search-results" class="search-no-results margin-x-auto">
  <div class="height-full position-relative">
    <p class="no-query-results-p position-absolute z-100 padding-bottom-4 line-height-26 text-center">
      There are currently no matches for your search on the Marketplace.
    </p>
    <i class="fas fa-search position-absolute z-index-10 text-base-lightest"></i>
  </div>
</div>