<div id="practices_adopted_at_this_facility_table" class="usa-table-container--scrollable grid-col-12 margin-bottom-0">
  <table class="usa-table usa-table--borderless grid-col-12 bg-gray-2">
    <caption></caption>
    <thead>
    <tr>
      <th class="bg-gray-2" data-sortable scope="col" role="columnheader" aria-sort="descending">Innovation name</th>
      <th class="bg-gray-2"  data-sortable scope="col" role="columnheader">
        <%= render 'facility_status_definitions_modal' %>
      </th>
      <th class="bg-gray-2"  data-sortable scope="col" role="columnheader">Start date</th>
      <th class="bg-gray-2"  data-sortable scope="col" role="columnheader">Total VA adoptions</th>
    </tr>
    </thead>
    <tbody id="practices_adopted_by_facility_dyn" class="display-none">
      <!-- loaded asnychronously in `app/assets/javascripts/va_facilities/facility_adopted_practice_search.es6` -->
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite">
    <!-- this content will change when sort changes -->
  </div>
</div>