<div class="usa-modal usa-modal--lg" id="facility_complexity_def" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <div class="usa-prose">
        <div class="text-bold">1a-Highest complexity:</div>
        <div>Facilities with high volume, high risk patients, most complex clinical programs, and large research and teaching programs.</div>
        <div class="text-bold margin-top-5">1b-High complexity:</div>
        <div>Facilities with medium-high volume, high risk patients, many complex clinical programs, and medium-large research and teaching programs.</div>
        <div class="text-bold margin-top-5">1c-Mid-High complexity:</div>
        <div>Facilities with medium-high volume, medium risk patients, some complex clinical programs, and medium sized research and teaching programs.</div>
        <div class="text-bold margin-top-5">2-Medium complexity:</div>
        <div>Facilities with medium volume, low risk patients, few complex clinical programs, and small or no research and teaching programs.</div>
        <div class="text-bold margin-top-5">3-Low complexity:</div>
        <div>Facilities with low volume, low risk patients, few or no complex clinical programs, and small or no research and teaching programs.</div>
      </div>
      <div class="usa-modal__footer">
      </div>
    </div>
    <button class=" usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
      <i style="color: black; font-size:26px" class="fas fa-times"></i>
    </button>
  </div>
</div>
</div>

