<div id="facility_complexity_definitions" class="modal">
  <div class="modal-content width-tablet">
    <div class="first_el" tabindex="0" aria-label="Closing feedback form"></div>
    <div class="modal-header">
      <span class="close" tabindex="0" role="button" aria-label="Close feedback form"><span class="fas fa-times"></span></span>
      <h2>Facility complexity</h2>
    </div>
    <div class="modal-body padding-0 margin-bottom-5 margin-top-5">
      Hello there
    </div>
    <div class="last_el" tabindex="0" aria-label="Closing feedback form"></div>
  </div>
</div>