<div id="facility_complexity_definitions" class="modal">
  <div class="modal-content width-tablet">
    <div class="first_el" tabindex="0" aria-label="Closing facility complexity modal"></div>
    <div class="modal-header">
      <span class="close" tabindex="0" role="button" aria-label="Close feedback form"><span class="fas fa-times"></span></span>
      <h2>Facility complexity definitions</h2>
    </div>
    <div class="modal-body padding-0 margin-bottom-2 margin-top-3">
      <div class="divTable grid-col-12">
        <div class="headRow margin-bottom-3">
          <div class="divCell grid-col-4 text-bold">Complexity Level</div>
          <div  class="divCell grid-col-8 text-bold">Facility Description</div>
        </div>
        <hr>
        <div class="divRow margin-bottom-2">
          <div class="divCell grid-col-4">1a-Highest complexity</div>
          <div class="divCell grid-col-8">Facilities with high volume, high risk patients, most complex clinical programs, and large research and teaching programs.</div>
        </div>
        <hr>
        <div class="divRow margin-bottom-2">
          <div class="divCell grid-col-4">1b-High complexity</div>
          <div class="divCell grid-col-8">Facilities with medium-high volume, high risk patients, many complex clinical programs, and medium-large research and teaching programs.</div>
        </div>
        <hr>
          <div class="divRow margin-bottom-2">
          <div class="divCell grid-col-4">1c-Mid-High complexity</div>
          <div class="divCell grid-col-8">Facilities with medium-high volume, medium risk patients, some complex clinical programs, and medium sized research and teaching programs.</div>
        </div>
        <hr>
        <div class="divRow margin-bottom-2">
          <div class="divCell grid-col-4">2-Medium complexity</div>
          <div class="divCell grid-col-8">Facilities with medium volume, low risk patients, few complex clinical programs, and small or no research and teaching programs.</div>
        </div>
        <hr>
      <div class="divRow margin-bottom-2">
        <div class="divCell grid-col-4">3-Low complexity</div>
        <div class="divCell grid-col-8">Facilities with low volume, low risk patients, few or no complex clinical programs, and small or no research and teaching programs.</div>
      </div>
    </div>
    </div>
    <div class="last_el" tabindex="0" aria-label="Closing facility complexity modal"></div>
  </div>
</div>