<h1 class="font-sans-2x1 desktop:margin-top-5 desktop:margin-bottom-3">
  Practices adopted at this facility
</h1>
<div style="width: 100%; overflow: hidden;">
  <div class="usa-search margin-bottom-2 facility-search-field">
    <div role="search" class="flex-column">
      <label for="dm-practice-search-field"></label>
      <div id="search-bar-container" class="display-flex">
        <input class="usa-input" id="dm-practice-search-field" title="Type at least three characters to search." autocomplete="off" type="search" name="search">
        <button id="dm-practice-search-button" class="usa-button" type="submit" name="search-button">
          <span class="usa-search__submit-text text-bold">Search</span>
        </button>
      </div>
    </div>
  </div>
  <div class="facility-category-select desktop:margin-bottom-3">
    <%= render partial: 'va_facilities/facility_categories_combo_box', locals: {facility_category_selector: 'facility_category_select_adoptions'} %>
  </div>

</div>
<div style="width: 100%; overflow: hidden;">
  <div class="usa-search margin-bottom-2 facility-search-field">
    # results:
  </div>
  <div id="va_facility_adoption_results" class="grid-col-12">

  </div>
</div>
