<div class="margin-y-3">
  <div class="usa-modal" id="facility_status_def_modal" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <div class="usa-prose">
          <div>
            <p class="line-height-18px text-bold">In-progress:</p>
            <p class="line-height-26 margin-top-1">Facilities that have started but not completed adopting the practice.</p>
          </div>
          <div class="margin-top-5">
            <p class="line-height-18px text-bold">Successful:</p>
            <p class="line-height-26 margin-top-1">Facilities that have met adoption goals and implemented the practice.</p>
          </div>
          <div class="margin-top-5">
            <p class="line-height-18px text-bold">Unsuccessful:</p>
            <p class="line-height-26 margin-top-1">Facilities that started but stopped working towards adoption.</p>
          </div>
        </div>
      </div>
      <button class="usa-button usa-modal__close text-base-darkest" aria-label="Close this window" data-close-modal>
        <span class="usa-sr-only">Close this window</span>
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</div>
