<div id="dm-va-facilities-directory-table" class="usa-table-container--scrollable margin-bottom-0">
  <table class="usa-table usa-table--borderless grid-col-12">
    <caption></caption>
    <thead>
      <tr>
        <th class="grid-col-5" data-sortable scope="col" role="columnheader" aria-sort="descending">
          Facility
        </th>
        <th data-sortable scope="col" role="columnheader">
          State
        </th>
        <th class="padding-right-0 grid-col-2" data-sortable scope="col" role="columnheader">
          <%= render partial: 'shared/visn_info_modal', locals: { hide_modal_on_initial_load: false, is_map_filter: false, is_facility_header: true, is_search_filter: false } %>
        </th>
        <th class="padding-right-0 grid-col-3" data-sortable scope="col" role="columnheader">
          <%= render partial: 'shared/facility_complexity_modal', locals: { hide_modal_on_initial_load: false, is_map: false } %>
        </th>
        <th data-sortable scope="col" role="columnheader">
          Created
        </th>
        <th data-sortable scope="col" role="columnheader">
          Adopted
        </th>
      </tr>
    </thead>
    <tbody class="dm-facilities-table-rows"></tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite">
    <!-- this content will change when sort changes -->
  </div>
</div>