<%
  published = practice.published
  approved = practice.approved
  hidden = practice.hidden
  retired = practice.retired
%>
<% unless published && approved %>
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">This innovation will not be shown in the marketplace because it is:</h3>
      <% unless published %>
        <div>
         Unpublished
        </div>
      <% end %>
      <% unless approved %>
        <div>
          Not approved
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if hidden %>
  <div class="usa-alert usa-alert--info margin-bottom-3 margin-top-1">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Hidden practice</h4>
      <div class="usa-alert__text">
        This innovation can be viewed but is not included in any search results.
      </div>
    </div>
  </div>
<% end %>
<% if retired %>
  <div class="usa-alert usa-alert--info margin-bottom-3 margin-top-1">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Retired practice</h4>
      <div class="usa-alert__text">
        This innovation is no longer being updated.
        <% if practice.retired_reason.present? %>
          <p>
            <%
              retired_reason_html = practice.retired_reason.gsub("<p>", "").gsub("</p>", "")
            %>
            Reason for retirement: <%= sanitize retired_reason_html.html_safe %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
