<div class="line-height-sans-1">
  <div class="margin-top-1 visn-card-text">
    <%
      station_name = facility.official_station_name
      station_number = facility.station_number
      facility_name = facility.official_station_name
      facility_id = facility.id
      practice_list = @practices_list
      practice_names = practices_to_display_in_info_window facility_id, practice_list.split(",")
    %>
    <%= link_to "#{station_name} #{ show_common_name(station_name, facility.common_name)}", va_facility_path(facility), class: 'usa-link font-sans-md text-bold' %>
    <div class="text-bold margin-top-3 font-sans-2xs">
      <%= practice_names %>
    </div>
  </div>
</div>