<div id="filter-results">
  <label for="facilityId">Find marker based on facilityId</label>
  <input type="text" id="facilityId" /><button type="button" id="filterButton">Filter</button><button type="button" id="allMarkersButton">Bring back all markers</button>
</div>