<span class="fa-stack fa-2x">
  <i class="fas fa-map-marker fa-stack-2x map-marker"></i>
  <span class="fa-layers-text text-base-lightest fa-stack-1x" data-fa-transform="shrink-8 down-3" style="font-weight:900">27</span>
</span>