<section id="contact" class="margin-bottom-5 grid-container nav-header">
  <div class="grid-row grid-gap-2">
    <div class="desktop:grid-col-3 desktop:grid-col-auto desktop:z-bottom desktop:display-block display-none">&nbsp;</div>
    <div class="desktop:grid-col-9 grid-col-12 padding-top-10">
      <div class="practice-editor-long-rect-svg border-top-05 border-primary-dark"></div>
      <h2 class="font-sans-xl line-height-37px margin-top-2 margin-bottom-10">Contact</h2>

      <!--Comments-->
      <% if current_user.present? %>
        <div class="desktop:grid-col-11 comments-section practice-section">
          <div>
            <div class="practice-editor-rect-svg border-top-05 border-primary-dark"></div>
            <h2 id="comments" class="font-sans-lg text-bold margin-top-2 margin-bottom-3">Comment</h2>
          </div>
          <div>
            <%= commontator_thread(@practice) %>
          </div>
        </div>
      <% end %>

      <!--Email-->
      <%
        main_email = @practice.support_network_email
        practice_emails = @practice.practice_emails
      %>
      <% if main_email.present? %>
        <div class="practice-editor-rect-svg border-top-05 border-primary-dark margin-top-5"></div>
        <h2 id="email" class="font-sans-lg text-bold margin-top-2 margin-bottom-1 line-height-25px">Email</h2>
        <p class="line-height-26 margin-bottom-105 main-email-address-container">
          Email <%= mail_to main_email, main_email, cc: practice_emails.map(&:address).join(', '), class: 'dm-external-link', 'aria-label': "Email #{main_email}"  %> with questions about this practice.
        </p>
      <% end %>
    </div>
  </div>
</section>
