<section id="visns-show-search">
  <h2 class="font-sans-xl line-height-37px margin-bottom-3">Search for practices</h2>
  <form id="visns-show-search-form" class="usa-form max-width-unset">
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Search for practices by VISN</legend>
      <div class="grid-row margin-bottom-3" role="radiogroup">
        <div class="usa-radio grid-col-4">
          <input class="usa-radio__input visn-created-practices-radio" id="created-practices" type="radio" name="visns-show-radio-buttons" value="created">
          <label class="usa-radio__label x0-bottom" for="created-practices">Practices created in this VISN</label>
        </div>
        <div class="usa-radio grid-col-4">
          <input class="usa-radio__input visn-adopted-practices-radio" id="adopted-practices" type="radio" name="visns-show-radio-buttons" value="adopted">
          <label class="usa-radio__label x0-bottom" for="adopted-practices">Practices adopted in this VISN</label>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-col-8">
          <div class="usa-search" role="search">
            <label class="usa-sr-only" for="practices-created-by-visn-search-field">Search</label>
            <input class="usa-input" id="practices-created-by-visn-search-field" type="search" name="search" autocomplete="off">
            <button class="usa-button dm-btn-primary practices-created-by-visn-search-button x0-top" type="submit">
              <span class="usa-search__submit-text">Search</span>
            </button>
          </div>
        </div>
      </div>
    </fieldset>

    <%
      sort_options = [
        ['Sort by most adoptions', 'adoptions', class: 'usa-select'],
        ['Sort by A to Z', 'a_to_z', class: 'usa-select'],
        ['Sort by most recently added', 'added', class: 'usa-select']
      ]
    %>

    <section id="visn-practices-search-results">
      <div class="grid-row margin-bottom-105 flex-align-center">
        <p class="font-sans-normal grid-col-8 line-height-26" id="results-summary"></p>
        <div class="grid-col-4">
          <%= label_tag 'search_sort_option', '', class: 'usa-label margin-0', 'aria-label': 'Sort options'%>
          <%= select_tag('', options_for_select(sort_options), id: 'search_sort_option', name: 'search_sort_option', class: 'height-5 usa-select margin-0') %>
        </div>
      </div>
      <div id="search-results" class="grid-row grid-gap-3"></div>
    </section>
    <button type="submit">hello</button>
  </form>
</section>