<ul class="line-height-26 p0 x0 visn-data-ul">
  <%
    practices_created_by_visn = []
    visn_created_practices_count = get_created_practices_by_visn(Practice.published_enabled_approved, visn, practices_created_by_visn).count
    practices_adopted_by_visn = []
    visn_adoption_count = get_adopted_practices_by_visn(Practice.published_enabled_approved, visn, practices_adopted_by_visn).count
  %>
  <li class="small-disc visn-practice-creations-count x0-5-bottom"><%= visn_created_practices_count %> practice<%= visn_created_practices_count != 1 ? 's' : '' %> created here</li>
  <li class="small-disc visn-adoptions-count"><%= visn_adoption_count %> practice<%= visn_adoption_count != 1 ? 's' : '' %> adopted here</li>
</ul>