<h2 class="va-facilities-header line-height-37px font-sans-xl<% ' margin-top-10' unless practices_created == 0 && practices_adopted == 0 %> margin-bottom-05">List of VA facilities in this VISN</h2>
<div class="usa-table-container--scrollable">
  <table class="usa-table usa-table--borderless width-full visn-facilities-table display-none">
    <caption class="usa-sr-only">VISN <%= @visn.number %> facilities</caption>
    <thead>
    <tr>
      <th data-sortable scope="col" role="columnheader">
        Facility name
      </th>
      <th data-sortable scope="col" role="columnheader" class="padding-right-0">
        Complexity
        <%= render partial: 'shared/facility_complexity_modal', locals: { hide_modal_on_initial_load: true } %>
      </th>
      <th data-sortable scope="col" role="columnheader">
        Created
      </th>
      <th data-sortable scope="col" role="columnheader">
        Adopted
      </th>
    </tr>
    </thead>
    <tbody class="dm-visns-table-rows"></tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite">
    <!-- this content will change when sort changes -->
  </div>
  <%= render partial: 'shared/loading_spinner', locals: { display: true, classes: 'dm-visn-facilities-loading-spinner flex-justify-center flex-align-self-center margin-y-8 desktop:margin-y-10 text-center' } %>
</div>
