<% provide :body_classes, 'bg-gray-2' %>
<% provide :footer_classes, 'bg-gray-2' %>

<div id="visns-show" class="grid-container">
  <%= render partial: "shared/messages", locals: { small_text: false } %>
  <section id="visn-introduction" class="margin-bottom-3">
    <h1 class="font-sans-2xl line-height-46px"></h1>
  </section>
</div>