<section id="about" class="margin-bottom-5 grid-container">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-3 desktop:grid-col-auto desktop:z-bottom desktop:display-block display-none">&nbsp;</div>
    <div class="desktop:grid-col-9 grid-col-12">
      <div class="practice-editor-long-rect-svg border-top-05 border-primary-dark"></div>
      <h1 class="font-sans-xl line-height-37px margin-top-2 margin-bottom-5">About</h1>
      <div class="practice-editor-rect-svg border-top-05 border-primary-dark"></div>
      <% if @practice.origin_story.present? %>
        <h2 class="font-sans-lg text-bold margin-top-2 margin-bottom-1 line-height-25px">Origin story</h2>
        <p class="practice-view-origin-story line-height-26 dm-hyphens-auto dm-word-break-break-word margin-bottom-5">
          <%= @practice.origin_story %>
        </p>
        <div class="practice-editor-rect-svg border-top-05 border-primary-dark"></div>
      <% end %>
      <% if @practice.va_employees.any? %>
        <h2 class="font-sans-lg text-bold margin-top-2 margin-bottom-1 line-height-25px">Original team</h2>
      <% end %>
    </div>
  </div>
</section>