<%#
  Controllers that use this partial must supply the following variables:
  user
  nested_comments
%>
<%#<a class="replies-link">View <%= nested_comments.count %> <%#Replies</a>%>
<% nested_comments.each do |comment, nested_children| %>
  <div id="commontator-comment-<%= comment.id %>" class="comment grid-row">
    <div class="replies">
    <%=
      render partial: 'commontator/comments/show', formats: [ :html ], locals: {
        user: user, comment: comment, nested_children: nested_children
      }
    %>
    </div>
  </div>
<% end %>
