<div class="bg-primary-darker font-sans-3xs">
  <div class="grid-container padding-y-105 text-light">
    <p class="text-white margin-0">
      <span class="usa-tag uppercase bg-primary-vivid text-white">Beta</span>
      This site will be improving and expanding in the coming months. If you have feedback for us,
      <a href="#" role="button" id="header-feedback-survey-popup" class="beta-banner-link feedback-survey-popup">click here</a>.
    </p>
  </div>
</div>