<div id="beta-banner" class="beta-banner">
  <div class="grid-container padding-y-105 text-light">
    <p class="margin-0">
      <i class="fas fa-bullhorn"></i>
      This site will be improving and expanding in the coming months. If you have feedback for us,
      <a href="#" role="button" id="header-feedback-survey-popup" class="beta-banner-link feedback-survey-popup text-bold">click here<span class="sr-only"> to provide feedback</span></a>.
    </p>
  </div>
</div>