<% if @breadcrumbs %>
<div class="grid-container margin-y-2">
  <div class="grid-row">
    <div id="breadcrumbs" class="grid-col-auto breadcrumbs-container">
      <% @breadcrumbs.each do |crumb| %>
        <%
          path = crumb[:path]
          text = crumb[:text]
        %>
        <% if path && path.present? %>
          <%= link_to(text, path, class: 'dm-font-color-blue-50v breadcrumb-link') %>
          <span class='dm-font-color-blue-50v x0-5-right x0-5-left'>›</span>
        <% elsif path && path.empty? %>
          <span><%= text %></span><span class='dm-font-color-blue-50v x0-5-right x0-5-left'>›</span>
        <% else %>
          <span class="dm-font-color-blue-50v text-bold"><%= text %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>