<!--[if lte IE 11]>
<div class="usa-alert usa-alert--warning x1-bottom">
  <div class="usa-alert__body">
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Some features may not be available.
      To have the best experience, please use Microsoft Edge, Google Chrome, or Mozilla Firefox to browse the Diffusion Marketplace.</p>
  </div>
</div>
<![endif]-->