<div href="#facility-complexity-modal" class="facility-complexity-modal" aria-controls="facility-complexity-modal" data-open-modal class="cursor-pointer">
  <span class="usa-sr-only">Open facility complexity modal</span>
  <% if is_map === true %>
    <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0 display-inline-block">Facility <u class="dotted">complexity</u></h4>
  <% else %>
    <u class="dotted">Complexity</u>
  <% end %>
</div>
<div class="usa-modal <%= 'display-none' if hide_modal_on_initial_load %>" id="facility-complexity-modal" aria-labelledby="facility-complexity-modal-heading" aria-describedby="facility-complexity-modal-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <div class="margin-bottom-5">
        <p class="line-height-18px text-bold">1a-Highest complexity</p>
        <p class="line-height-26 margin-top-1">
          Facilities with high volume, high risk patients, most complex clinical programs, and large research and teaching programs
        </p>
      </div>
      <div class="margin-bottom-5">
        <p class="line-height-18px text-bold">1b-High complexity</p>
        <p class="line-height-26 margin-top-1">
          Facilities with medium-high volume, high risk patients, many complex clinical programs, and medium-large research and teaching programs
        </p>
      </div>
      <div class="margin-bottom-5">
        <p class="line-height-18px text-bold">1c-Mid-High complexity</p>
        <p class="line-height-26 margin-top-1">
          Facilities with medium-high volume, medium risk patients, some complex clinical programs, and medium sized research and teaching programs
        </p>
      </div>
      <div class="margin-bottom-5">
        <p class="line-height-18px text-bold">2-Medium complexity</p>
        <p class="line-height-26 margin-top-1">
          Facilities with medium volume, low risk patients, few complex clinical programs, and small or no research and teaching programs
        </p>
      </div>
      <div>
        <p class="line-height-18px text-bold">3-Low complexity</p>
        <p class="line-height-26 margin-top-1">
          Facilities with low volume, low risk patients, few or no complex clinical programs, and small or no research and teaching programs
        </p>
      </div>
    </div>
    <button class="usa-button usa-modal__close dm-modal-close-button margin-right-05" aria-label="Close this window" data-close-modal>
      <span class="usa-sr-only">Close this window</span>
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

