
<section class="usa-section dm-background-light-black dm-font-color-white">
  <div class="grid-container">
    <p class="measure-none">If you have any questions about the Changing Lives, Saving Lives campaign or about Diffusion of Excellence and VHA Innovators Network, please contact VAInnovation@atlasresearch.us.</p>
  </div>
</section>
