<footer class="<% if current_user.present? && params[:controller] == 'practices' && params[:action] == 'show' %> desktop:padding-bottom-0 padding-bottom-9<% end %>">
  <div class="grid-container usa-footer__return-to-top">
    <button class="usa-button usa-button--unstyled return-to-top dm-link">Return to top</button>
  </div>
  <div class="bg-base-lightest">
    <div class="grid-container padding-y-2">
      <div class="grid-row flex-align-center font-sans-sm">
        <div class="grid-col flex-auto text-bold footer-links-set-1">
          <div class="display-inline-block margin-right-5"><a href="/">Home</a></div>
          <div class="display-inline-block margin-right-5"><a href="/partners">Partners</a></div>

          <div class="display-inline-block margin-right-5">
            <a target="_blank" href="mailto:dm@agile6.com?subject=<%= URI.encode('Bug report for Diffusion Marketplace') %>&body=<%= URI.encode('Please be sure to include a step-by-step list to reproduce the error, if applicable.') %>">Report a bug</a>
          </div>
          <div class="display-inline-block"><a href="#" class="feedback-survey-popup">Send us feedback</a></div>
        </div>
        <div class="grid-col flex-end width-auto text-right margin-right-0 footer-links-set-2">
          <div>
            <a href="<%= nominate_a_practice_path %>" class="nominate-link">Nominate a practice</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary-darker text-white padding-y-4">
    <div class="grid-container">
      <div class="grid-row">
        <p class="font-sans-lg margin-0 text-normal">U.S. Department of Veteran Affairs | Veterans Health Administration </p>
      </div>
    </div>
  </div>
</footer>
