<li class="usa-breadcrumb__list-item">
  <%= link_to(breadcrumb['display'] || breadcrumb[:display], breadcrumb['path'] || breadcrumb[:path], class: 'dm-external-link breadcrumb-link usa-breadcrumb__link') %>
</li>