<% if alert.present? %>
    <div class="usa-alert usa-alert--error x1-bottom">
      <div class="usa-alert__body">
        <p><%= alert %></p>
      </div>
    </div>
<% end %>
<% if flash.present? %>
  <% flash.each do |key, value| %>
    <% if key == 'notice' then key = 'info' end %>
    <div class="grid-container usa-alert usa-alert--<%= key %> margin-bottom-2">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading"><%= value %></h3>
      </div>
    </div>
  <% end %>
<% end %>
