<% if alert.present? %>
  <div class="usa-alert usa-alert-error" >
    <div class="usa-alert-body">
      <p><%= alert %></p>
    </div>
  </div>
<% end %>
<% if notice.present? %>
  <div class="usa-alert usa-alert-info" >
    <div class="usa-alert-body">
      <p class="usa-alert-heading"><%= notice %></p>
    </div>
  </div>
<% end %>