<form id="practice-search-form" class="usa-search usa-search--small" role="search">
  <label class="usa-sr-only" for="basic-search-field-small">
    practice search
  </label>
  <input class="usa-input" id="practice-search-field" type="search" name="search" title="Search practices " required>
  <button id="practice-search-button" class="usa-button" type="submit">
    <span class="usa-sr-only">Search</span>
  </button>
</form>
