<div href="#parent-category-modal" aria-controls="parent-category-modal" data-open-modal class="cursor-pointer">
  <span class="usa-sr-only">Open parent category definitions modal</span>
  <u class="dotted">Categories</u>
</div>
<div class="usa-modal" id="parent-category-modal" aria-labelledby="parent-category-modal-heading" aria-describedby="parent-category-modal-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <div class="margin-bottom-5">
        <p class="line-height-18px text-bold">Clinical:</p>
        <p class="line-height-26 margin-top-1">
          Innovations related to patient care.
        </p>
      </div>
      <div class="margin-bottom-5">
        <p class="line-height-18px text-bold">Operational:</p>
        <p class="line-height-26 margin-top-1">
          Innovations related to VA administrative and logistical functions.
        </p>
      </div>
      <div class="margin-bottom-5">
        <p class="line-height-18px text-bold">Strategic:</p>
        <p class="line-height-26 margin-top-1">
          Innovations that support initiatives identified by VA leadership.
        </p>
      </div>
    </div>
    <button class="usa-button usa-modal__close dm-modal-close-button margin-right-05" aria-label="Close this window" data-close-modal>
      <span class="usa-sr-only">Close this window</span>
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
