<div class="grid-container position-relative z-top">
    <div id="dm-practice-nav" class="z-top mobile-hide">
        <ul id="dm-tabnav" class="usa-sidenav dm-tabnav margin-bottom-1">
            <li class="usa-sidenav__item">
                <a href="#overview" class="dm-tab top-tab scroll-to" data-target="#overview" data-turbolinks="false">Instructions</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="#origin" class="dm-tab scroll-to" data-target="#origin" data-turbolinks="false">Collaborators</a>
            </li>
            <p class="usa-sidenav__item">Your practice page</p>
            <li class="usa-sidenav__item">
                <a href="#resources_required" class="dm-tab scroll-to practice-editor-link" data-target="#resources_required" data-turbolinks="false">Overview</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="#timeline_and_checklist" class="dm-tab scroll-to practice-editor-link" data-target="#timeline_and_checklist" data-turbolinks="false">Origin</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="#risk_and_mitigation" class="dm-tab scroll-to practice-editor-link" data-target="#risk_and_mitigation" data-turbolinks="false">Impact</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="#contact" class="dm-tab bottom-tab scroll-to practice-editor-link" data-target="#contact" data-turbolinks="false">Resources</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="#comments" class="dm-tab bottom-tab scroll-to practice-editor-link" data-target="#comments" data-turbolinks="false">Difficulty</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="#comments" class="dm-tab bottom-tab scroll-to practice-editor-link" data-target="#comments" data-turbolinks="false">Timeline</a>
            </li>
            <li class="usa-sidenav__item">
                <a href="#comments" class="dm-tab bottom-tab scroll-to practice-editor-link" data-target="#comments" data-turbolinks="false">Contact</a>
            </li>
            <div class="text-center">
                <%= button_tag 'Save your progress' %>
            </div>
            <div class="text-center">
            <%= button_tag 'Publish your progress' %>
            </div>
        </ul>
    </div>
</div>