<section class="grid-container p2-top p2-bottom">
  <div class="grid-row">
    <div class="mobile-lg:grid-col-2">
      <a class="dm" href="#">Lives Saved</a>
    </div>
    <div class="mobile-lg:grid-col-2">
      <a class="dm" href="#">Veteran Experience</a>
    </div>
    <div class="mobile-lg:grid-col-2">
      <a class="dm" href="#">Financial Impact</a>
    </div>
    <div class="mobile-lg:grid-col-2">
      <a class="dm" href="#">Operational</a>
    </div>
    <div class="mobile-lg:grid-col-2">
      <a class="dm" href="#">Clinical Outcome</a>
    </div>
    <div class="mobile-lg:grid-col-2">
      <a class="dm" href="#">Ease of Implementation</a>
    </div>
  </div>
</section>