<div
  class="usa-modal usa-modal--lg"
  id="dm-terms-and-conditions-modal"
  aria-labelledby="dm-terms-and-conditions-modal-heading"
  aria-describedby="dm-terms-and-conditions-modal-description"
  <%= 'data-force-action' if @force_terms_and_conditions_modal%>>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="dm-terms-and-conditions-modal-heading">
        <p class="font-sans-2xl margin-bottom-3">Terms and conditions</p>
      </h2>
      <div class="usa-prose">
        <p id="dm-terms-and-conditions-modal-description">
          VA systems are intended to be used by authorized <%= current_user.present? ? 'VA network' : '' %> users for viewing and retrieving information; except as otherwise authorized for official business and limited personal use under VA policy. Information from this system resides on and transmits through computer systems and networks funded by VA. Access or use constitutes understanding and acceptance that there is no reasonable expectation of privacy in the use of Government networks or systems. Access or use of this system constitutes user understanding and acceptance of these terms and constitutes unconditional consent to review and action includes but is not limited to: monitoring; recording; copying; auditing; inspecting;
        </p>
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <% if @force_terms_and_conditions_modal %>
              <%= form_tag({action: 'accept_terms', controller: 'users'}, method: :post) do |f| %>
                <%= submit_tag 'I acknowledge the terms', class: 'usa-button margin-0 padding-2 margin-bottom-4-important' %>
              <% end %>
            <% else %>
              <button
                type="button"
                class="usa-button usa-button--unstyled text-center"
                data-close-modal>
                Continue to access this website and agree to these terms.
              </button>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% unless @force_terms_and_conditions_modal %>
      <button class="usa-button usa-modal__close dm-modal-close-button text-base-darkest" aria-label="Close this window" data-close-modal>
        <span class="usa-sr-only">Close this window</span>
        <i class="fas fa-times"></i>
      </button>
    <% end %>
  </div>
</div>
