<div
  class="usa-modal display-none"
  id="dm-terms-and-conditions-modal"
  aria-labelledby="dm-terms-and-conditions-modal-heading"
  aria-describedby="dm-terms-and-conditions-modal-description"
  <%= 'data-force-action' if @force_terms_and_conditions_modal%>>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h3 class="usa-modal__heading usa-prose-h3 margin-bottom-1" id="dm-terms-and-conditions-modal-heading">
        Terms and conditions
      </h2>
      <div class="usa-prose">
        <p id="dm-terms-and-conditions-modal-description" class="usa-prose-body">
          <%= get_terms_and_conditions_body_text(current_user) %>
        </p>
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <% if @force_terms_and_conditions_modal %>
              <%= form_tag({action: 'accept_terms', controller: 'users'}, method: :post) do |f| %>
                <%= submit_tag 'I acknowledge the terms', class: 'usa-button' %>
              <% end %>
            <% else %>
              <button
                type="button"
                class="usa-button usa-button--unstyled text-center"
                data-close-modal>
                Continue to access this website and agree to these terms.
              </button>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% unless @force_terms_and_conditions_modal %>
      <button class="usa-button usa-modal__close dm-modal-close-button text-base-darkest" aria-label="Close this window" data-close-modal>
        <span class="usa-sr-only">Close this window</span>
        <i class="fas fa-times"></i>
      </button>
    <% end %>
  </div>
</div>
