<div href="#visn-info-modal" aria-controls="visn-info-modal" data-open-modal class="cursor-pointer">
  <span class="usa-sr-only">Open visn info modal</span>
  <% if is_map_filter === true %>
    <h4 class="font-sans-md bold-height-2 margin-bottom-105 margin-top-0 display-inline-block">Facility <u class="dotted">VISN</u></h4>
    <% else %>
      <% if is_facility_header === true %>
        <u class="dotted">VISN</u>
      <% else %>
          <h1 class="font-sans-2xl line-height-46px margin-top-0 display-inline-block">
            <u class="dotted">VISN</u>
          </h1>
      <% end %>
  <% end %>
    </div>
<div class="usa-modal <%= 'display-none' if hide_modal_on_initial_load %>" id="visn-info-modal" aria-labelledby="visn-info-modal-heading" aria-describedby="visn-info-modal-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <div class="margin-bottom-5">
        <p class="usa-prose-body margin-top-1">
          Veterans Integrated Services Networks are regional systems of care within the Veterans Health Administration.
        </p>
      </div>
    </div>
    <button class="usa-button usa-modal__close dm-modal-close-button margin-right-05" aria-label="Close this window" data-close-modal>
      <span class="usa-sr-only">Close this window</span>
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>