<a href="#visn-info-modal" aria-controls="visn-info-modal" data-open-modal class="fas fa-question-circle cursor-pointer">
  <span class="usa-sr-only">Open visn info modal</span>
</a>
<div class="usa-modal <%= 'display-none' if hide_modal_on_initial_load %>" id="visn-info-modal" aria-labelledby="visn-info-modal-heading" aria-describedby="visn-info-modal-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <div class="margin-bottom-5">
        <p class="line-height-26 margin-top-1">
          Veterans Integrated Services Networks are regional systems of care within the Veterans Health Administration.
        </p>
      </div>
    </div>
    <button class="usa-button usa-modal__close dm-modal-close-button margin-right-05" aria-label="Close this window" data-close-modal>
      <span class="usa-sr-only">Close this window</span>
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>