<% if session[:download_url].present? %>
  <p>Your download is starting, you will be redirected to the home page in 5 seconds...</p>
  <script type="text/javascript">
      window.onload = function() {
        const fullUrl = `<%= session[:download_url].html_safe %>`;
        window.location.href = fullUrl;

        window.setTimeout(function() {
          window.location.href = '<%= root_path %>';
        }, 5000);
    };
  </script>
<% else %>
  <p>Download not available.</p>
<% end %>