@use "../../uswds" as *;

.successful-modal-icon, .in-progress-modal-icon, .unsuccessful-modal-icon {
  @media screen and (min-width: 1024px) {
    display: none !important;
  }
}

/* The Modal (background) */
.modal, .terms-modal, .report-abuse-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.successful-status-modal-container, .in-progress-status-modal-container, .unsuccessful-status-modal-container {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

/* Modal Content */
.modal-content, .terms-modal-content, .report-abuse-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.terms-modal, .report-abuse-modal {
  display: block;
  padding-top: 120px;

  .terms-modal-content {
    border: none
  }
}

.publication-modal {
  z-index: 100000; /* Sit on top */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */

  .publication-modal-content {
    width: 830px;
    @include u-padding-x(5);
    @include u-padding-y(6);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .close-publication-modal {
      i {
        font-size: 32px;
      }
    }
  }
}

.publication-modal-hidden {
  display: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: color($theme-color-base-ink);
  float: right;
  font-size: 23.3px;
  font-weight: bold;
  position: absolute;
  right: 8px;
  top: 4px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: color($theme-color-primary);
  color: color('white');
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: color($theme-color-primary);
  color: color('white');
}

/* map marker modal */
.home-marker-modal {
  position: absolute;
  background-color: transparent;

  .modal-content {
    border: none;
    box-shadow: none;
  }
}

.usa-modal {
  border-radius: 4px !important;

  .usa-modal__main {
    padding: 0.5rem 2.5rem 2.5rem !important;
  }

  button {
    margin-right: 4px;

    i {
      font-size: 32px;
    }
  }
}
