<section class="grid-container margin-top-12 margin-bottom-12 desktop:margin-bottom-8 desktop:margin-top-8" role="region" aria-label="Homepage categories section">
    <div class="dm-homepage-categories-container width-full padding-bottom-4">
      <h3 class="usa-prose-h3 margin-top-0 margin-bottom-2">Explore popular categories</h3>
      <% total_chars = 0 %>
      <% @popular_categories.each do |pop_cat| %>
        <% if total_chars < 130 %>
            <a class="dm-tag--big--action-primary radius-md" href="/search?query=<%= pop_cat %>&cat">
              <span class="font-sans-sm text-semibold line-height-18px">
                <%= pop_cat %>
              </span>
            </a>
          <% total_chars += pop_cat.length %>
        <% end %>
      <% end %>
    </div>
</section>