<section class="margin-bottom-8 grid-container" role="region" aria-label="<%= section_name %> section">
  <div class="grid-row desktop:grid-gap-3 grid-col-6">
      <h2 class="usa-prose-h2 margin-top-0 margin-bottom-2">Explore popular categories</h2>
      <p class="usa-prose-body margin-bottom-2">
        <% @popular_categories.each do |pop_cat| %>
          <a class="dm-tag--big--action-primary" href="/search?query=<%= pop_cat %>&cat=" %>
            <%= pop_cat %>
          </a>
        <% end %>
      </p>
  </div>
</section>