<main id="main-content">

  <section class="usa-section grid-container">
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-4" style="background:#162e51">
        <div style="background:#00bde3">
          <h1><a href="/practices">Vione</a></h1>
        </div>
      </div>
      <div class="grid-col-4" style="background:#162e51">
        <div style="background:#00bde3">
          <h1><a href="/practices">Rapid Naxalone</a></h1>
        </div>
      </div>
      <div class="grid-col-4" style="background:#162e51">
        <div style="background:#00bde3">
          <h1><a href="/practices">Project HAPPEN</a></h1>
        </div>
      </div>
    </div>
  </section>

  <section class="usa-section grid-container">
    <h2 class="font-heading-xl">Welcome</h2>
    <p class="measure-none">VHA’s new Changing Lives, Saving Lives (CLSL) campaign aims to raise awareness of how frontline driven innovation is changing the lives of Veterans, caregivers, and employees — and in some instances saving Veteran lives. Dr.
      Ryan Vega, Director, Diffusion of Excellence Initiative, will formally launch the 12-month campaign at the VHA Innovation Experience, a two-day event taking place in Washington, D.C. August 29–30, 2018, to showcase the continued commitment by VHA
      employees to improve the health care experience, with demonstrable outcomes, for all Veterans.</p>
    <form class="usa-search usa-search-small">
      <div role="search">
        <label class="usa-sr-only" for="search-field-small">Search for a practice</label>
        <input class="usa-input" id="search-field-small" type="search" name="search">
        <button class="usa-button" type="submit">
          <span class="usa-sr-only">Search</span>
        </button>
      </div>
    </form>
  </section>

  <section class="usa-section usa-section-dark">
    <div class="grid-container">
      <h2 class="font-heading-xl">Search for a practice</h2>
      <h2 class="font-heading-xl">Find your VISN</h2>
    </div>
  </section>

  <section class="usa-section grid-container">
    <div class="grid-row padding-2" style="background:#e7f6f8">
      <div class="grid-col-2 padding-1" style="background:#9ddfeb">[image]</div>
      <div class="grid-col-fill padding-1" style="background:#00bde3">
        <h1 class="margin-0">FLOW3</h1>
        <p class="margin-0">$$ | 50 health centers have adopted this practice</p>
        <p class="margin-0">Enable 53% faster delivery of prosthetic limbs to Veterans</p>
      </div>
      <div class="grid-col-2 padding-1" style="background:#009ec1">⭐️ Gold status practice</div>
    </div>
    <div class="grid-row padding-2" style="background:#e7f6f8">
      <div class="grid-col-2 padding-1" style="background:#9ddfeb">[image]</div>
      <div class="grid-col-fill padding-1" style="background:#00bde3">
        <h1 class="margin-0">Project HAPPEN</h1>
        <p class="margin-0">$$$ | 50 health centers have adopted this practice</p>
        <p class="margin-0">Prevent non-ventilator acquired pneumonia with better oral care to save lives</p>
      </div>
      <div class="grid-col-2 padding-1" style="background:#009ec1">⭐️ Gold status VISN</div>
    </div>
    <div class="grid-row padding-2" style="background:#e7f6f8">
      <div class="grid-col-2 padding-1" style="background:#9ddfeb">[image]</div>
      <div class="grid-col-fill padding-1" style="background:#00bde3">
        <h1 class="margin-0">VHA Rapid Naloxone Initiative</h1>
        <p class="margin-0">$ | 50 health centers have adopted this practice</p>
        <p class="margin-0">Improve access to life-saving naloxone in your hospital and community</p>
      </div>
      <div class="grid-col-2 padding-1" style="background:#009ec1">⭐️ VISN endorsed best practice</div>
    </div>
    <div class="grid-row flex-justify-center padding-2" style="background:#e7f6f8">
      <button class="usa-button usa-button-big">View more</button>
    </div>
  </section>

  <section class="usa-section usa-section-dark">
    <div class="grid-container">
      <p class="measure-none">If you have any questions about the Changing Lives, Saving Lives campaign or about Diffusion of Excellence and VHA Innovators Network, please contact VAInnovation@atlasresearch.us.</p>
    </div>
  </section>

  <!-- <section class="usa-section usa-section-dark"> <div class="usa-grid"> <h1>View by</h1> <div class="circle">Lives Saved</div> <div class="circle">Largest VISN</div> <div class="circle">Gold Status</div> <div class="circle">Clinical Outcome</div>
  <div class="circle">Patient Satisfaction</div> <div class="circle">Dollars Saved</div> <div class="circle">Ease of Implementation</div> <div class="circle">Staff Efficiency</div> <div class="circle">Financial Management</div> </div> </section> -->
</main>
