<main id="main-content">

  <section class="usa-section grid-container">
    <h2 class="font-heading-xl">Welcome</h2>
    <p class="measure-none">VHA’s new Changing Lives, Saving Lives (CLSL) campaign aims to raise awareness of how frontline driven innovation is changing the lives of Veterans, caregivers, and employees — and in some instances saving Veteran lives. Dr.
      Ryan Vega, Director, Diffusion of Excellence Initiative, will formally launch the 12-month campaign at the VHA Innovation Experience, a two-day event taking place in Washington, D.C. August 29–30, 2018, to showcase the continued commitment by VHA
      employees to improve the health care experience, with demonstrable outcomes, for all Veterans.</p>
  </section>

  <section class="usa-section grid-container">
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-4">
        <a href="/practices" class="text-no-underline">
          <div class="text-base-darkest padding-4" style="background:#00bde3">
            <h1>Vione</h1>
          </div>
        </a>
      </div>
      <div class="grid-col-4">
        <a href="/practices" class="text-no-underline">
          <div class="text-base-darkest padding-4" style="background:#00bde3">
            <h1>Rapid Naxalone</h1>
          </div>
        </a>
      </div>
      <div class="grid-col-4">
        <a href="/practices" class="text-no-underline">
          <div class="text-base-darkest padding-4" style="background:#00bde3">
            <h1>Project HAPPEN</h1>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="usa-section usa-section-dark padding-y-4">
    <div class="grid-container margin-bottom-3">
      <form class="usa-form maxw-none">
        <div class="grid-row flex-row">
          <div class="grid-col">
            <label class="usa-label font-heading-xl margin-top-0" for="options">Show practices for</label>
          </div>
          <div class="grid-col">
            <select class="usa-select" name="options" id="options">
              <option value="visn-all">All VISNs</option>
              <option value="visn-1">VISN 1</option>
              <option value="visn-2">VISN 2</option>
              <option value="visn-3">VISN 3</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="grid-container margin-bottom-3">
      <form class="usa-search usa-search-big">
        <div role="search">
          <label class="usa-sr-only" for="search-field-big">Search</label>
          <input class="usa-input maxw-none" id="search-field-big" type="search" name="search" placeholder="Type Search">
          <button class="usa-button" type="submit">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
      </form>
    </div>

    <div class="grid-container margin-bottom-2">
      <label class="usa-label font-heading-xl margin-top-0" for="view-by-filters">View by</label>
    </div>

    <div class="grid-container">
      <div id="view-by-filters" class="grid-row grid-gap">
        <div class="grid-col-2">
          <div class="circle">Lives Saved</div>
        </div>
        <div class="grid-col-2">
          <div class="circle">Veteran Experience</div>
        </div>
        <div class="grid-col-2">
          <div class="circle">Financial Impact</div>
        </div>
        <div class="grid-col-2">
          <div class="circle">Operational</div>
        </div>
        <div class="grid-col-2">
          <div class="circle">Clinical Outcome</div>
        </div>
        <div class="grid-col-2">
          <div class="circle">Ease of Implementation</div>
        </div>
      </div>
    </div>
  </section>

  <section class="usa-section grid-container">
    <% @practices.each do |practice| %>
    <div class="grid-row padding-2" style="background:#e7f6f8">
      <div class="grid-col-2 padding-1" style="background:#9ddfeb">[image]</div>
      <div class="grid-col-fill padding-1" style="background:#00bde3">
        <h1 class="margin-0"><%= link_to practice.name, practice %></h1>
        <p class="margin-0"><%= practice.description %></p>
      </div>
      <div class="grid-col-2 padding-1" style="background:#009ec1">⭐️ Gold status practice</div>
    </div>
    <% end %>
    <div class="grid-row flex-justify-center padding-2" style="background:#e7f6f8">
      <button class="usa-button usa-button-big">View more</button>
    </div>
  </section>

  <section class="usa-section usa-section-dark">
    <div class="grid-container">
      <p class="measure-none">If you have any questions about the Changing Lives, Saving Lives campaign or about Diffusion of Excellence and VHA Innovators Network, please contact VAInnovation@atlasresearch.us.</p>
    </div>
  </section>

</main>
