<% events.each do |event|%>
    <div class="page-event-component">
        <h3 class="event-title margin-bottom-3">
            <a href="<%= event.url %>">
                <%= event.title %>
            </a>
        </h3>
        <div id="a<%= event.id %>" class="event-description usa-prose padding-bottom-5">
            <% if event.text.present? %>
                <%= event.text.html_safe %>
            <% end %>
        </div>
    </div>
<% end %>
