<% if ENV['GOOGLE_API_KEY'].present? %>
  <% provide :head_tags do %>
    <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    var mapData = <%= raw @va_facility_marker.to_json %>
    <% end %>
    <%= javascript_include_tag 'page/page_map', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <div id="page_builder_map" class="display-none community_map_styles"></div>
  <%= render partial: 'shared/loading_spinner', locals: { display: true, classes: 'flex-justify-center flex-align-self-center margin-y-8 desktop:margin-y-10 dm-facilities-show-map-loading-spinner text-center' } %>
<% end %>
