<% provide :head_tags do %>
  <%= javascript_include_tag 'ie', 'data-turbolinks-track': 'reload' %>
<% end %>

function detectChrome() {
    return /chrome/.test(navigator.userAgent.toLowerCase());
}

function browsePageBuilderPageHappy() {
    var has_warning_banner = <%= @page.has_chrome_warning_banner %>

    if (!detectChrome() && !$('.browsehappy').length && has_warning_banner == true) {
        pageChromeWarningBanner();
    }
}

function containerizeSubpageHyperlinkCards() {
    var cardClass = 'pb-link-card';
    var cardContainerClass = 'pb-two-column-card-link-container';

    function addContainerAndAppendElements(container, containerClass, elementOne, elementTwo) {
        if (!elementOne.parent().hasClass(containerClass) || !elementTwo.parent().hasClass(containerClass)) {
            elementOne.before(container);
            elementOne.prev().append(elementOne, elementTwo);
        }
    }

    $('.dm-page-content').children().each(function() {
        var $this = $(this);
        var prevEle = $this.prev();
        var nextEle = $this.next();
        var containerDiv = "<div class='pb-two-column-card-link-container grid-row grid-gap-3'></div>";

        if ($this.hasClass(cardClass) && prevEle.hasClass(cardClass)) {
            addContainerAndAppendElements(containerDiv, cardContainerClass, prevEle, $this);
        } else if ($this.hasClass(cardClass) && nextEle.hasClass(cardClass)) {
            addContainerAndAppendElements(containerDiv, cardContainerClass, $this, nextEle);
        } else if ($this.hasClass(cardClass)) {
            $this.before(containerDiv);
            $this.prev().append($this);
        }
    });

    // Add bottom margin based on if the next element contains more link cards or not
    $('.pb-two-column-card-link-container').each(function() {
        var $this = $(this);

        $this.next().hasClass(cardContainerClass) ? $this.addClass('margin-bottom-3') : $this.addClass('margin-bottom-5')
    })
}

function removeBottomMarginFromLastAccordionHeading() {
    var accordionHeading = '.usa-accordion__heading';
    $(accordionHeading).last().removeClass('margin-bottom-2');
    $(accordionHeading).last().addClass('margin-bottom-0');
}

function execPageBuilderFunctions() {
    browsePageBuilderPageHappy();
    removeBottomMarginFromLastAccordionHeading();
    removeBottomMarginFromLastAccordionHeading();
}

$(document).on('turbolinks:load', execPageBuilderFunctions);