<p>Welcome <%= @user.email %>! You have been signed up for the VA Diffusion Marketplace.</p>

<p>We have provided you with a secure password: <strong><%= @password %></strong></p>

<p>You can log in at any time at <%= link_to 'this link.', new_user_session_url %></p>
