<section>
  <h2>Practice Criteria</h2>
  <ul>
    <li>Be adopted at 2 or more locations</li>
    <li>Endorsed by senior executive stakeholder</li>
    <li>Be an active practice</li>
  </ul>
  <h2>nomination criteria?</h2>
  <a target="_blank" href="mailto:marketplace@va.gov?subject=<%= URI.encode('Nominate a Practice') %>" class="nominate-link">Want to nominate a practice?</a>
</section>

  <div class="grid-container margin-bottom-105">
    <button class="usa-button usa-button--unstyled return-to-top">Return to top</button>
  </div>
</div>
