development:
  adapter: async
  url: <%= ENV.fetch("REDIS_URL") { "redis://localhost:6379/0" } %>

test:
  adapter: async
  url: <%= ENV.fetch("REDIS_URL") { "redis://localhost:6379/0" } %>

production:
  adapter: redis
  url: <%= ENV.fetch("REDIS_URL") { "redis://localhost:6379/0" } %>
  channel_prefix: diffusion-marketplace_production
