<%= label_tag practice_field, class: "usa-label #{label_classes}", for: form_field do %>
Caption
<% end %>
<p class="usa-prose-caption">
  This caption will appear underneath the photo. If possible, credit the photographer or creator of the image.
</p>