<%= label_tag practice_field, class: "usa-label #{label_classes}", for: form_field do %>
  <p class="usa-prose-body">Write a caption that provides context</p>
  <p class="usa-prose-caption">
    This caption will appear underneath the photo. If possible, credit the photographer or creator of the image.
  </p>
<% end %>