<%= label_tag practice_field, class: "usa-label #{label_classes}", for: form_field do %>
  <p class="usa-prose-body">Describe this image for visually impaired users</p>
  <p class="usa-prose-caption">
    This is a literal description of what is happening in an image for people who use screen-readers
    (e.g. A nurse in green scrubs helps an elderly Veteran in a blue sweater brush their teeth).
  </p>
<% end %>