<%= label_tag practice_field, class: "usa-label #{label_classes}", for: form_field do %>
  Alternative Text*
<% end %>
<span class="line-height-26">
  Describe the image for visually impaired users. (ex. A nurse in green scrubs helps an elderly Veteran in a blue sweater brush their teeth.)
</span>