.dm-about-page {
  .about-us-image-container {
    img {
      height: 209px;
      object-fit: cover;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @include u-display('none', !important);
      }
    }
  }

  .usa-accordion__heading, .usa-accordion__content {
    @include u-maxw('full', !important);
  }

  form {
    textarea {
      resize: none;
      height: 132px;
      @include u-maxw('full', !important);
    }

    .usa-button {
      @media screen and (max-width: 1023px) {
        width: 153px;
      }
    }
  }

  .dm-alert-message {
    @media screen and (max-width: 639px) {
      &:before {
        -webkit-mask-position: center 14px !important;
        mask-position: center 14px !important;
      }
    }

    .close-alert-message {
      @media screen and (max-width: 639px) {
        top: 24px;
      }
    }
  }
}