// crh-show
#crh-show{

  #crh-search-field, #crh-search-button {
    height: 38px !important;
  }

  .usa-combo-box__clear-input, .usa-combo-box__toggle-list, .usa-combo-box__input-button-separator {
    top: 2rem;
  }
  .usa-combo-box__toggle-list {
    right: 0.45em;
  }
  .usa-combo-box__clear-input {
    right: 3.2em;
  }

  .usa-combo-box__input-button-separator {
    top: 1.7em;
    right: 3.02em;
  }

  .usa-combo-box__input {
    margin-top: 0 !important;

    &::placeholder {
      color: color($theme-color-base-ink) !important;
    }
  }

  .usa-combo-box__list {
    width: calc(100% - 24px);
  }
}