@import '../variables/colors';

.login-card {
  background-color: white;
  margin: auto;
  width: 600px;
  border-radius: 20px;

  .login-header {
    background-image: image-url('login-header.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 20px 20px 0 0;

    .login-header-overlay {
      background-color: rgba($dm-color-blue-50v, 0.8);
      padding: 2rem 5rem;
      text-align: center;
      border-radius: 20px 20px 0 0;
    }

    h2, h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  .login-body {
    padding: 3rem 8rem;
  }
}
