// styles for /explore
@import '../variables/colors';

.dm-explore-practices {
  // need the next two properties to remove weird whitespace below header
  top: -1px;
  position: relative;

  .bg-primary-darker {
    height: 160px;
  }

  .dm-results-count {
    align-items: center;
  }

  .dm-category-btn {
    border-radius: 100px;
  }

  .dm-load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dm-practice-card {
    &:first-child {
      padding-top: 0;

      .dm-practice-bookmark-btn {
        top: 8px;
      }
    }
  }

  .dm-error-state {
    height: 53px;

    i, span {
      position: absolute;
    }

    i {
      font-size: 160px;
      color: $dm-color-gray-5;
      z-index: 0;
    }

    span {
      width: 308px;
      height: 53px;
      z-index: 1;
    }
  }

  @media screen and (min-width: 690px) {
    .dm-practice-card {
      &:nth-child(2) {
        padding-top: 0px;

        .dm-practice-bookmark-btn {
          top: 8px;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .dm-practice-card {
      &:nth-child(3) {
        padding-top: 0px;

        .dm-practice-bookmark-btn {
          top: 8px;
        }
      }
    }

    .dm-sort-container {
      // need this to make sure sort select is all the way to the right
      left: 8px;
      top: 8px;
    }
  }
}
