@import '../variables/colors';

#dm-va-facilities-index {
  .usa-table--borderless {
    th, td {
      background-color:$dm-color-gray-2;
    }
  }
}

#dm-va-facilities-adoption-index {
  .usa-table--borderless {
    th, td {
      background-color: $dm-color-white;
    }
  }
}

.fake-link{
  color: $dm-color-black !important;
  font-weight: bold !important;
  outline-style: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.fake-link_2 {
    color: $dm-color-black;
    cursor: pointer;
    background-image: none !important;
  }

.divTable
{
  display:  table;
  width:auto;
  //background-color:#eee;
  border:1px solid  #666666;
  border-spacing:5px;
}

.divRow
{
  display:table-row;
}

.divCell
{
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  //background-color:#ccc;
}

.facility-phone-number{
  text-decoration: none;
  color: $dm-color-blue-50v;
}
.facility-category-select{
  width: 309px;
  height: 26px;
  float: right;
}
.facility-search-field{
  width: 641px;
  height: 37px;
  float: left;
}
