@import '../variables/colors';

// index & show page
#dm-va-facilities-index, #dm-va-facilities-show {
  .usa-combo-box__input {
    margin-top: 0 !important;

    &::placeholder {
      color: $dm-color-black !important;
    }
  }

  .usa-combo-box__list {
    width: calc(100% - 24px) !important;
  }

  .usa-table--borderless {
    th, td {
      background-color:$dm-color-gray-2;
    }

    .fa-question-circle {
      color: $dm-color-base !important;
      padding: 4px;
      text-decoration: none !important;

      &:visited {
        text-decoration: none !important;
        color: $dm-color-base !important;
      }
    }

    tr:first-of-type {
      th {
        button {
          position: absolute;
        }
      }
    }
  }
}

// index page
#dm-va-facilities-index {
  .usa-table--borderless {
    tr:first-of-type {
      th:first-of-type {
        button {
          left: 4.5em;
        }
      }

      th:nth-of-type(2) {
        button {
          left: 3.7em;
        }
      }

      th:nth-of-type(3) {
        button {
          left: 3.5em;
        }
      }

      th:nth-of-type(4) {
        button {
          left: 8.5em;
        }
      }
      th:nth-of-type(5) {
        button {
          left: 4.9em;
        }
      }
      th:nth-of-type(6) {
        button {
          left: 5.9em;
        }
      }
    }
  }
}

// show page
#dm-va-facilities-show {
  .facility-phone-number {
    text-decoration: none;
    color: $dm-color-blue-50v;
  }

  .usa-combo-box__select {
    margin-top: 0;

    &::placeholder {
      color: $dm-color-black !important;
    }
  }
}

// show page - created practices search
.dm-facility-created-practice-search {
  .usa-search {
    top: 0.625rem;
  }

  .search-no-results {
    margin-top: 0;
  }

  #dm-created-practice-search-button {
    height: 2.375rem;
  }

  #dm-created-practice-search-field {
    padding: 1.125rem 0.625rem;
    line-height: 1.75rem;
  }

  .dm-search-container {
    position: absolute;
    top: -0.625rem;
  }
}

// show page - practice adoptions search
#dm-facility-adopted-practice-search {
  .facility-search-field {
    width: 641px;
    height: 37px;
    float: left;
  }

  #dm-adopted-practices-search-field, #dm-adopted-practices-search-button {
    height: 38px !important;
  }

  .dm-practice-bookmark-btn {
    width: 28px;
    height: 28px;
    padding: 5px;
    margin-left: 6px;

    .fas {
      color: $dm-color-blue-50v;

      &:hover {
        color: $dm-color-blue-70v;
      }

      &:active {
        color: $dm-color-blue-80v;
      }
    }

    .far {
      color: $dm-color-black;

      &:hover {
        color: $dm-color-blue-50v;
      }

      &:active {
        color: $dm-color-blue-70v;
      }
    }
  }

  .usa-table--borderless {
    tr:first-of-type {
      th:first-of-type {
        button {
          left: 7.9em;
        }
      }

      th:nth-of-type(2) {
        button {
          left: 6.1em;
        }
      }

      th:nth-of-type(3) {
        button {
          left: 5.9em;
        }
      }

      th:nth-of-type(4) {
        button {
          left: 5.7em;
        }
      }
    }
  }
}
