@import '../variables/colors';

#dm-va-facilities-index {
  .usa-table--borderless {
    th, td {
      background-color:$dm-color-gray-2;
    }
  }
}

#dm-va-facilities-adoption-index {
  .usa-table--borderless {
    th, td {
      background-color: $dm-color-white;
    }
  }
}

.fake-link{
  color: $dm-color-black !important;
  font-weight: bold !important;
  outline-style: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.fake-link_2 {
    color: $dm-color-black;
    cursor: pointer;
    background-image: none !important;
    vertical-align: middle;
  }

.divTable
{
  display:  table;
  width:auto;
  //background-color:#eee;
  border:1px solid  #666666;
  border-spacing:5px;
}

.divRow
{
  display:table-row;
}

.divCell
{
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  //background-color:#ccc;
}

.facility-phone-number{
  text-decoration: none;
  color: $dm-color-blue-50v;
}
.facility-category-select{
  width: 309px;
  height: 26px;
  float: right;
}
.facility-search-field{
  width: 641px;
  height: 37px;
  float: left;
}

#dm-adopted-practices-search-field, #dm-adopted-practices-search-button {
  height: 38px !important;
}

.usa-combo-box__toggle-list, .usa-combo-box__clear-input {
  top: 1.8em;
}

.usa-combo-box__toggle-list {
  right: 0.8em;
}

.usa-combo-box__clear-input {
  right: 3.2em;
}

.usa-combo-box__input-button-separator {
  top: 1.7em;
  right: 3.35em;
}

.usa-combo-box__input {
  margin-top: 0 !important;
}

.usa-combo-box__list {
  width: calc(100% - 24px);
}

// individual facility page created practices section
.dm-facility-created-practice-search {
  @media screen and (min-width: 64rem) {
    .usa-search {
      top: 0.625rem;
    }

    #dm-created-practice-categories {
      margin-top: 0;

      &::placeholder {
        color: $dm-color-black !important;
      }
    }

    .search-no-results {
      margin-top: 0;
    }

    #dm-created-practice-search-button {
      height: 2.375rem;
    }

    #dm-created-practice-search-field {
      padding: 1.125rem 0.625rem;
      line-height: 1.75rem;
    }

    .dm-search-container {
      position: absolute;
      top: -0.625rem;
    }
  }
}

#practices_adopted_at_this_facility_table {
  .visn-liaison-info {
    border-radius: 10px;
  }

  #visn-search-field, #visn-search-button {
    height: 38px !important;
  }

  .usa-combo-box__toggle-list, .usa-combo-box__clear-input {
    top: 1.8em;
  }

  .usa-combo-box__toggle-list {
    right: 0.8em;
  }

  .usa-combo-box__clear-input {
    right: 3.2em;
  }

  .usa-combo-box__input-button-separator {
    top: 1.7em;
    right: 3.35em;
  }

  .usa-combo-box__input {
    margin-top: 0 !important;

    &::placeholder {
      color: $dm-color-black !important;
    }
  }

  .usa-combo-box__list {
    width: calc(100% - 24px);
  }

  hr {
    border: none;
    height: 2px;
    background: #dcdee0;
  }

  mark {
    background: $dm-color-gold-20v;
    font-weight: bold;
  }

  .button-box {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }

  .va-facilities-header {
    margin-top: 68px;
  }

  .usa-table {
    th, td {
      background-color: $dm-color-gray-2 !important;
    }

    tr:first-of-type {
      th {
        border-bottom: 0 !important;
        button {
          position: absolute;
        }
      }

      th:first-of-type {
        button {
          left: 7.9em;
        }
      }

      th:nth-of-type(2) {
        button {
          left: 4.2em;
        }
      }

      th:nth-of-type(3) {
        button {
          left: 5.9em;
        }
      }

      th:nth-of-type(4) {
        button {
          left: 10em;
        }
      }
    }
  }

  .fa-question-circle {
    margin-left: 1.8em;
    padding: 4px;
  }
}
