// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../variables/colors';



.home .circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  text-align: center;
  background: #009ec1;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}

.tt-dataset-facilityNames {
  width: 275px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #FFFFFF;
  padding-bottom: 12px;
}

#facility_name_container {
  .typeahead {
    width: 275px;
  }
}

.tt-selectable {
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;

  &:hover {
    background-color: $dm-color-light-gray
  }
}

.map-filters-trigger, #filterClose {
  width: 100% !important;
}

#filterClose {
  color: $dm-color-dark-black !important;
  background-color: $dm-color-lighter-grey !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ie-welcome-container {
    width: 100% !important;
  }

  .ie-search-bar-container {
    width: 100%;
  }
}



