// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dm-homepage {
  .homepage-welcome-banner {
    // since the transform style from dm-gradient-banner flips the text along with the gradient colors, we need to flip the text inside of the grid-container to return it to its original state
    .grid-container {
      transform: matrix(1, 0, 0, -1, 0, 0);
    }

    .homepage-welcome-banner-body-text-container {
      margin-bottom: 119px;

      @media screen and (min-width: 1024px) {
        @include u-margin-bottom(0);
      }
    }
  }

  .homepage-welcome-banner-image-container {
    @include u-position('absolute');
    bottom: -87px;

    @media screen and (min-width: 1024px) {
      height: 223px;
      @include u-right(0);
      bottom: unset;
    }
  }

  .homepage-welcome-banner-image-container, .homepage-featured-topic-image-container, .homepage-featured-innovation-image-container {
    max-width: 308px;

    img {
      @include u-height('full');
      @include u-width('full');
      object-fit: cover;
      height: 174px !important;

      @media screen and (min-width: 1024px) {
        height: 223px !important;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @include u-display('none', !important);
      }
    }

    @media screen and (min-width: 1024px) {
      max-width: unset;
    }
  }

  .homepage-search {
    @media screen and (max-width: 1023px) {
      margin-top: 119px;
    }

    #dm-homepage-search-field {
      &::placeholder {
        color: color($theme-color-base-ink) !important;
      }
    }
  }

  .featured-innovation-content-container {
    @media screen and (min-width: 1024px) {
      flex-direction: row-reverse;
      // needed for Firefox support
      -webkit-flex-direction: row-reverse;
    }
  }

  .featured-topic, .featured-innovation {
    @media screen and (min-width: 1024px) {
      margin-bottom: 128px !important;
    }
  }

  .nominate-practice-section {
    @media screen and (min-width: 1024px) {
      height: 417px;
    }

    .grid-row {
      @media screen and (min-width: 1024px) {
        @include u-height('full');
        @include u-flex('align-center');
      }
    }
  }

  .newsletter-subscription-section {
    form {
      max-width: unset !important;
    }

    .grid-row {
      @media screen and (min-width: 1024px) {
        @include u-height('full');
      }
    }

    .subscribe-button-container {
      @include u-text('left');

      button {
        width: 166px !important;
      }
    }
  }

  .shark-tank-banner {
    background-color: color($theme-color-warning-lighter);
    @include u-line-height('sans', 3, !important);
    @include u-height(8);

    @media screen and (min-width: 640px) {
      @include u-height(5);
    }

    a {
      @include u-text-decoration('underline', !important);
    }
  }
}
