// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dm-homepage {
  .dm-system-message {
    .usa-alert {
      margin-bottom: 0;
    }
  }

  .homepage-welcome-banner {
    @media screen and (min-width: 1024px) {
      background: linear-gradient(236.03deg, color($theme-color-primary-vivid) 10.06%, #182F4C 93.13%);
      transform: matrix(1, 0, 0, -1, 0, 0);

      // since the transform style above flips the text along with the gradient colors, flip the text again to return it to its original state
      .grid-container {
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }
  }

  .homepage-banner-image-container {
    height: 174px;

    @media screen and (min-width: 1024px) {
      height: 223px;
      @include u-position('absolute');
      @include u-right(0)
    }
  }

  .homepage-banner-image-container, .homepage-featured-topic-image-container, .homepage-featured-practice-image-container {
    img {
      @include u-width('full');
      object-fit: cover;
      height: 174px !important;

      @media screen and (min-width: 1024px) {
        height: 223px !important;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @include u-display('none', !important);
      }
    }
  }

  #dm-homepage-search-field::placeholder {
  color: color($theme-color-base-ink) !important;
  }

  .featured-practice-content-container {
    @media screen and (min-width: 1024px) {
      flex-direction: row-reverse;
      // needed for Firefox support
      -webkit-flex-direction: row-reverse;
    }
  }

  .featured-topic, .featured-practice {
    @media screen and (min-width: 1024px) {
      margin-bottom: 128px !important;
    }
  }

  .nominate-practice-section {
    @media screen and (min-width: 1024px) {
      height: 441px;
    }

    .grid-row {
      @media screen and (min-width: 1024px) {
        @include u-height('full');
        @include u-flex('align-center');
      }
    }
  }

  .newsletter-subscription-section {
    @media screen and (min-width: 1024px) {
      height: 190px;
    }

    .grid-row {
      @media screen and (min-width: 1024px) {
        @include u-height('full');
        @include u-flex('align-center');
      }
    }

    .subscribe-button-container {
      @include u-text('left');

      @media screen and (min-width: 1024px) {
        @include u-text('right');
      }

      button {
        width: 166px !important;
      }
    }
  }
}
