// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../variables/colors';

.dm-homepage {
  .dm-system-message {
    .usa-alert {
      margin-bottom: 0;
    }
  }

  a {
    color: $dm-color-base !important;
  }

  .homepage-explore-all-section {
    height: 360px;

    @media screen and (min-width: 1024px) {
      height: 400px;
    }

    h1 {
      line-height: 36px;

      @media screen and (min-width: 1024px) {
        line-height: 46px;
      }
    }

    .fa-laptop-medical {
      color: $dm-color-blue-vivid !important;
    }

    .homepage-explore-all-button {
      line-height: 19px !important;
      color: $dm-color-base !important;
      background-color: $dm-color-white !important;
      border: none !important;
      font-weight: bold !important;
      cursor: pointer;
      padding: 12px 20px 12px 20px !important;
      width: 197px !important;
      font-size: 16px !important;
      text-decoration: none;

      @media screen and (min-width: 1024px) {
        line-height: 26px !important;
        color: $dm-color-base !important;
        background-color: $dm-color-white !important;
        border: none !important;
        padding: 16px 24px 16px 24px !important;
        font-size: 22px !important;
        width: 264px !important;
      }

      &:hover {
        background-color: $dm-color-alt-lighter-grey !important;
      }

      &:active {
        background-color: $dm-color-light-grey !important;
      }
    }

    @media screen and (max-width: 1023px) {
      .fa-laptop-medical {
        font-size: 4em !important;
      }
    }
  }

  .banner-links-section {
    .recommended-for-you-banner-link, .covid-banner-link {
      text-decoration: none !important;

      &:visited {
        color: $dm-color-base !important;
      }

      &:hover {
        h2 {
          text-decoration: underline !important;
        }
      }
    }
    .recommended-for-you-banner, .covid-banner {
      padding: 40px 0 40px 0 !important;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

      &:before {
        background-color: $dm-color-blue-30v !important;
      }
    }

    .recommended-for-you-banner {
      background-color: transparent !important;
    }

    .fa-user-circle {
      color: $dm-color-base !important;
    }

    .covid-banner {
      background-color: $dm-color-blue-30v;
    }
  }

  .nominate-section {
    a {
      width: 169px !important;
    }
  }

  // Highlighted Practice section
  .dm-highlighted-practice {
    .dm-practice-card {
      padding-top: 0;
      padding-bottom: 0;
    }

    .dm-practice-bookmark-btn {
      top: 6px;
    }

    @media screen and (min-width: 1024px) {
      height: 250px;
      max-height: 250px;

     .dm-highlighted-practice-content {
        display: flex;
        height: 100%;
        align-items: center;
      }

      .dm-highlighted-practice-text {
        max-width: 520px;
      }

      .dm-highlighted-practice-card{
        position: absolute;
        top: 944px;
        left: calc(100vw - 50vw + 88px);
      }
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ie-welcome-container {
      width: 100% !important;
    }
  }
}
