// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dm-homepage {
  .dm-system-message {
    .usa-alert {
      margin-bottom: 0;
    }
  }

  .homepage-banner-image-container {
    height: 223px;
  }

  .homepage-banner-image-container, .homepage-featured-topic-image-container, .homepage-featured-practice-image-container {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media screen and (min-width: 1024px) {
        max-height: 223px;
        width: 100%;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: none !important;
      }
    }
  }

  .reverse-featured-rows {
    flex-direction: row-reverse;
    // needed for Firefox support
    -webkit-flex-direction: row-reverse;
  }

  .nominate-practice-section {
    height: 441px;
  }

  .newsletter-subscription-section {
    height: 190px;
  }
}
