#communitySubnavBtn {
  border: none;
  font-weight: 700;
  width: 100%;
  background-color: #D9D9D985;
  color: #1B1B1B;
  text-align: left;

  // push text and icon to opposite ends
  display: flex;
  justify-content: space-between;
}

#community-subnav {
  ul {
    list-style: none;
    justify-content: space-evenly;
  }

  a, a:visited {
    color: white;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  a.current-page {
      text-decoration: underline;
  }

  @media screen and (max-width: 640px) {
    li {
      margin-top: 1rem;
    }
  }
}

#page-builder-page {
  .usa-accordion__content {
    p {
      min-width: 100%;
    }
  }
}
