@import "../variables/colors";

#dm-practice-nav {
  width: 207px !important;

  #practice-editor-save-button {
    margin-top: 1rem;
  }

  a {
    &:visited {
      color: $dm-color-base;
    }
  }
}

#dm-practice-nav-sticky-wrapper {
  margin-top: 34px;
  position: absolute;
}

#dm-tabnav {

  border: none !important;

  .usa-sidenav__item {
    border: none !important;
  }

  .dm-tab {
    border-bottom: 1px solid #F0F0F0;
    font-weight: normal;

    &.top-tab {
      border-top: 1px solid #F0F0F0;
    }

    // &.bottom-tab {
    // }

    &.active, &.tab-active, &:hover {
      font-weight: bold;
      color: $dm-color-blue-50v;
      background-color: transparent;
      position:relative;
    }

    &:hover:before, &.active:before {
      content:"";
      background:$dm-color-blue-50v;
      position:absolute;
      bottom:10%;
      left:0;
      height:75%;
      width:4px;
      border-radius: 12px;
    }

    &.active, &.tab-active {
      font-weight: bold;
      //border-left: 4px solid $dm-color-blue-50v;
      color: $dm-color-blue-50v;
      background-color: transparent;
      position:relative;
    }
  }
}

.practice-mobile-nav {
  background: $dm-color-white;
  border-top: 1px solid $dm-color-base;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.tab-inactive {
  display: none;
}

.tab-active {
  display: block;
}

.practice-tab-container {
  background-color: $dm-color-white;
  border-radius: 0 20px 20px 20px;
}

.practice-learn-more {
  width: 100%;
  border-radius: 20px;
}

.practice-aggregate-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
}

.aggregate-icon {
  font-size: 2rem;
}

.practice-facility {
  font-weight: 100;
}

.risk-border {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.aggregate-circles-position {
  top: -165px;
}

.avatar-container {
  width: 65px !important;
  height: 65px !important;
  position: relative;

  img {
    height: 65px;
    width: 65px;
    object-fit: cover;
  }
}

.un-published-practice {
  background-color: $dm-color-darker-gold;
}

.un-approved-practice {
  background-color: $dm-color-light-black;
}

.origin-picture-container {
  width: 150px;
  height: 150px;
}

.practice-input {
  max-width: 100% !important;
}

.tall-practice-input {
  height: 10em !important;
}

.hidden-upload {
  height: 0.1px;
  padding: 1px 0 0 1px;
  margin-left: -160px;
  margin-top: 50px;
  overflow: hidden;
  position: absolute;
  padding-left: unset !important;
  width: 0.1px;
  z-index: -20;

  &:focus {
    outline: none !important;
  }
}

.hidden-impact-photo-upload {
  margin-left: -30px;
  margin-top: 18px;
}

.practice-edit-nav {
  width: 14rem !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  // height: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conversation-h2 {
  margin-top: 0;
  margin-right: 8px;
}

.conversation-line {
  height: 2px;
  border: 2px solid #F0F0F0;
}

.impact-image {
  height: 263px;
  width: 393px;
  object-fit: cover;
}

.practice-video-container {
  height: 263px;
  width: 393px;
}

.fa-circle {
  vertical-align: top;
}

.fa-images {
  position: absolute;
  top: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  &.tall {
    top: 23%;
  }
}

.video-file-placeholder {
  position: absolute;
}

.no-impact-image, .video-file-placeholder {
  top: 36%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dm-practice-diffusion-map {
  width:100%;
  padding-top: 65.5844156%;
  height: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    height: 479px;
  }
}

.practice-map-filters {
  fieldset {
    padding: 0;
    border: 0;
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.complete::before, .usa-radio__input:checked + .usa-radio__label.complete::before {
    background-color: #2672DE;
    box-shadow: 0 0 0 2px #2672DE;
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.in_progress::before, .usa-radio__input:checked + .usa-radio__label.in_progress::before {
    background-color: $dm-color-yellow;
    box-shadow: 0 0 0 2px $dm-color-yellow;
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.in_progress::before, .usa-checkbox__input:checked:disabled + .usa-checkbox__label.in_progress::before {
    background-image: asset-url('uswds/correct8-alt.svg')
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.unsuccessful::before, .usa-radio__input:checked + .usa-radio__label.unsuccessful::before {
    background-color: #EB5757;
    box-shadow: 0 0 0 2px #EB5757;
  }
}

.practice-editor-link {
  padding-left: 1rem !important;
}

.editor-back-to-button, .editor-continue-button {
  margin: 0 !important;
}

.editor-back-to-link, .editor-continue-link {
  width: auto;
  display: inline-block;
  text-decoration: none !important;
}

.editor-back-to-link {
  &:visited {
    color: $dm-color-blue-50v !important;
  }

  &:hover {
    text-decoration: none !important;
    color: #1a4480 !important
  }
}

.editor-continue-link, .dm-cropper-save-edit, #edit-link-in-nav {
  color: white !important;
  line-height: 1 !important;

  &:visited {
    color: white !important;
  }

  &:hover {
    text-decoration: none !important;
    color: white !important
  }
}

.practice-editor-name-input, .practice-editor-tagline-textarea, .practice-editor-summary-textarea {
  max-width: 100% !important;
}

.practice-editor-overview-statement-input {
  max-width: 100% !important;
  height: 135px !important;
  resize: none
}

.practice-editor-tagline-textarea {
  resize: none;
  height: 72px !important;
}

.practice-partner-checkbox:last-child {
  margin-bottom: 44px;
}

.instructions-list {
  padding-left: 20px;

  li {
    margin-bottom: 16px;
  }
}

.fa-check-circle {
  text-decoration: none !important;
  color: #DADADA;
}

.collaborators-form {
  max-width: 100% !important;
}

.collab-trash, .staff-trash, .timeline-trash, .risk-mitigation-trash, .impact-trash,
.va-employee-trash, .dm-origin-trash, .documentation-trash, .permission-trash, .resource-trash {
  color: #D83933 !important;

  &:hover {
    color: #b51d09 !important;
  }
}

.impact-trash, .dm-origin-trash, .documentation-trash, .risk-mitigation-trash, .va-employee-trash, .permission-trash,
.resource-trash {
  font-size: 16px;
}

.timeline-trash{
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  text-align: right;
  text-decoration-line: underline;
}

.impact-trash-container, .documentation-trash-container, //.trash-container,
.risk-miti-trash-container, .permission-trash-container, .resource-trash-container {
  align-self: flex-end;
  text-align: center;
}

.trash-container {
  padding-right: 0.2rem;
  margin-top: 8px;
}

.documentation-trash-container, .contact-trash-container,
.permission-trash-container, .resource-trash-container {
  margin-left: 33px;
}

.clear-collaborator-button, .add-collaborator-button {
  text-decoration: none !important;
}

.clear-collaborator-button {
  margin-bottom: 28px !important;
  margin-top: 4px !important;
}

.add-collaborator-button {
  margin-top: 28px !important;
  margin-bottom: 44px !important;
}

.clear-collaborator-button:hover {
  color: #D83933 !important;
}

.add-collaborator-button:hover {
  color: #005EA2 !important;
}

.green-check {
  color: limegreen;
}

.clear-additional-staff-link, .clear-required-staff-link {
  margin-top: 0 !important;
  margin-bottom: 24px !important;
  color: #D83933 !important;

  &:hover {
    color: #b51d09 !important;
  }
}

.clear-timeline-link, .clear-risk-mitigation-link, .clear-va-employee-link {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  color: #D83933 !important;

  &:hover {
    color: #b51d09 !important;
  }
}

.dm-cropper-delete-image-label {
  margin-top: 6px;
  margin-bottom: 24px;
  color: $dm-color-red-50v;
  text-decoration: underline;

  &:hover {
    color: #B50909;
    cursor: pointer;
  }
}

.add-required-staff-link {
  margin-top: 24px !important;
}

.add-additional-staff-link, .add-required-staff-link, .add-timeline-link, .add-practice-resources-link,
.add-impact-photo-link, .add-practice-creator-link, .add-additional-document-link, .add-publication-link,
.add-video-file-link, .add-permission-link, .add-resource-link {
  margin-top: 24px !important;
  margin-bottom: 44px;
}

#required-training-container {
  display: none;
}

.milestone-textarea, .risk-description, .mitigation-description,
.practice-editor-video-caption, .practice-editor-image-caption, .risk-description-textarea, .mitigation-description-textarea,
.staff-training-description {
  resize: none;
}

.milestone-textarea {
  width: 640px !important;
}

.move-timeline-button, .move-risk-mitigation-button, .move-impact-button, .move-va-employee-button, .move-practice-creator-button {
  margin-top: 0 !important;
  margin-right: 21px !important;

  &:hover {
    color: #565c65 !important;
  }
}

.hidden-timeline, .hidden-risk-mitigation, .hidden-impact, .hidden-va-employee, .hidden-practice-creator {
  display: none;
}

.editor-sidenav-link {
  padding: 0.6rem !important;
}

.practice-editor-impact-photo {
  max-width: 100% !important;
  object-fit: cover;
}

.dm-cropper-thumbnail-original, .dm-cropper-thumbnail-modified {
  min-width: 100% !important;
  object-fit: cover;
}

.fields {
  width: 100%;
}

.add-impact-photo-label {
  margin-top: 0 !important;
}

.impact-p, .headshot-title {
  margin-top: 1.5rem;
}

.headshot-filler {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.practice-editor-origin-ul, .practice-editor-timeline-ul, .practice-editor-practice-resources-ul, .practice-editor-risk-mitigation-ul, .practice-editor-contact-ul,
.practice-editor-additional-document-ul, .practice-editor-publication-ul, .practice-editor-impact-photo-ul,
.practice-editor-video-file-ul, .practice-editor-permission-ul, .practice-editor-resource-ul, .practice-editor-about-ul {
  margin: 0;
  padding: 0;
}

.practice-editor-origin-li, .practice-editor-timeline-li, .practice-editor-practice-resources-li, .practice-editor-risk-mitigation-li, .practice-editor-contact-li,
.practice-editor-additional-document-li, .practice-editor-publication-li,
.practice-editor-video-file-li, .practice-editor-permission-li, .practice-editor-resource-li, .practice-editor-about-li {
  list-style: none;
}

.sortable-placeholder {
  margin-top: 24px;
  display: block !important;
  height: 250px !important;
  border: 2px solid #005ea2;
  border-radius: 4px;
}

.add-documentation-label {
  margin-top: 12px !important;
}

.partner-input, .category-input {
  left: 2px !important;
  top: 5px !important;
}

.delete-avatar-input, .delete-attachment-input {
  left: 5px !important;
}

.delete-documentation-attachment-input {
  left: 8px !important;
}

.resource-radio {
  left: 10px !important;
  height: 2px;
  width: 2px;
  top: 10px;
}

.impact-radio {
  left: 34px !important;
  height: 1px;
  width: 1px;
  margin-top: 5px;
}

.complexity-radio {
  left: 10px !important;
  height: 1px;
  width: 1px;
  margin-top: 11px;
}

.origin-errors-ul, .dm-publish-errors-ul, .complexity-errors-ul, .complexity-errors-ul, .resources-errors-ul,
.impact-errors-ul {
  padding-left: 20px;
  margin-top: 5px;

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.position-arrows {
  position: absolute;
  top: 0;
  right: 10px;
}

.documentation-arrows, .timeline-arrows, .origin-arrows, .risk-miti-arrows, .contact-arrows, .checklist-arrows {
  right: 1px;
}

.edit-impact-photo-button, .edit-origin-photo-button {
  margin-top: 3px !important;
  margin-right: 24px !important;
}

.delete-impact-attachment-input {
  left: 5px !important;
}

.video-file-url-input {
  width: 335px !important;
}

.hidden-radio {
  display: none !important;
}

.hidden-documentation-field {
  margin-top: 30px;
  margin-left: -120px;
}

.hidden-impact-field {
  margin-top: 45px;
  margin-left: -10px;
}

.pub-title, .add-doc-title, .practice-creator-name, .timeline-duration, .practice-resources-duration, .risk-description, .vae-name {
  margin-top: 0 !important;
}

.arrows-tooltip {

  &:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-text {
    visibility: hidden;
    width: 230px;
    text-align: center;
    text-transform: none !important;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: -105px;
    margin-bottom: 5px;
  }
}

.documentation-check, .risk-miti-check, .checklist-check {
  visibility: hidden;
}

.practice-editor-min-height {
  min-height: 700px;
}

.hidden-estimate-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.headshot-col {
  max-width: 8.9375rem !important;
}

.headshot-img {
  min-height: 8.9375rem !important;
}

.headshot-container {
  min-height: 8.9375rem !important;
  text-align: center;
}

.edit-practice-link {
  right: 2rem !important;
}

.cost-to-implement-container {
  width: 11.5%;
}

.dm-icon-link {
  color: $dm-color-blue-50v !important;

  &:visited {
    color: $dm-color-blue-50v !important;
  }

  &:hover, &:active {
    cursor: pointer !important;
  }

  &:hover {
    color: $dm-color-blue-70v !important;
  }

  &:active {
    color: $dm-color-blue-80v !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fa-circle {
    margin-bottom: -2px;
  }

  .share-checklist-container {
    margin-bottom: 2px !important;
  }
}

.side-nav-active {
  background-color: transparent;
  color: $dm-color-blue-50v !important;
  font-weight: bold !important;
  position: relative;

  &:before {
    content:"";
    background:$dm-color-blue-50v;
    position:absolute;
    bottom:10%;
    left:0;
    height:75%;
    width:4px;
    border-radius: 12px;
  }
}

.side-nav-inactive {
  font-weight: normal;
  border-left: none;
  color: inherit;
  background-color: transparent;
}

.add-milestone-link {
  width: auto !important;
}

.timeline-trash {
  right: 3px;
}

/* Adoptions */
.usa-accordion__button[aria-expanded=false].adoptions-edit {
  background-image: asset_url('edit.svg'), linear-gradient(transparent, transparent);
  background-position-x: 98.6%;
  background-size: 22.5px 20px;
}

.usa-accordion__button[aria-expanded=true].adoptions-edit {
  background-image: asset_url('minus.svg'), linear-gradient(transparent, transparent);
  background-position-x: 97.8%;
}

.child-accordion-button {
  span {
    margin-left: -4px;
  }
}

.usa-accordion__heading:not(:first-child).margin-top-105 {
  margin-top: 12px !important;
}

.status-width {
  width: 23%;
}

.facility-header-width {
  width: 40%;
}

.facility-name-width {
  width: 45%;
}

.timeline-width {
  width: 29%;
}

.action-button-width {
  width: 6%;
}

.delete-entry-link {
  height: 47px;
  padding-top: 15px !important;
}

.adoptions-radio-button {
  top: 10px !important;
  left: 10px !important;
  width: 1px;
  height: 1px;
}

.initiating-facility-other-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.initiating-facility-type-radio {
  top: 23px !important;
  left: 27px !important;
  width: 1px;
  height: 1px;
}

.pe-continue{
  width: 125px;
}

#add_adoption_button {
  background-image: none !important;
  width: auto !important;
  padding: 12px 20px 12px 20px !important;
  border-radius: 4px !important;
}

#successful_adoptions, #unsuccessful_adoptions, #in-progress_adoptions {
  .child-adoption-accordion:first-child {
    .usa-accordion__heading {
      padding-top: 0 !important;
    }
  }
}

/*********************************
 PRACTICE VIEW
**********************************/
// Introduction
#pr-view-introduction {
  .desktop-main-display-image-container, .mobile-main-display-image-container {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-top: 56.25%;
    }
  }
  .dm-thumbnail-image {
    width: 100%;
    height: auto;
    object-fit: cover;

    @media screen and (min-width: 1024px) {
      max-height: 10.875rem;
      width: 100%;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      display: none !important;
    }
  }

  .introduction-sections-container {
    div {
      margin-bottom: 16px ;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.dm-add-another-link {
  position: absolute;
  bottom: 0;
  left: 0;
}

li.small-disc {
  list-style: none;
  margin: 0 0 0 9px;
  text-indent: -9px;
}
li.small-disc:before {
  content: "· ";
  font-size: 25px;
  position: relative;
  top: 4px;
}

.resource_container{
  background: $dm-color-white;
  border: 2px solid $dm-color-gray-20;
  border-radius: 2px;
  padding: 16px;
}

.pe-category-checkbox:last-child {
  margin-bottom: 40px;
}

.maturity-level-banner, .pii-phi-alert-banner {
  padding: 0.5rem 1.25rem 0.5rem 1.75rem !important;
  margin-top: 0 !important;
  background-color: transparent !important;

  &:before {
    background-color: $dm-color-blue-30v !important;
  }
}

.maturity-level-radio {
  top: 15px !important;
  left: 11px !important;
  width: 1px;
  height: 1px;
}

// Overview
.overview-files-ul {
  div:last-child {
    margin-bottom: 0 !important;
  }
}

.overview-statement-container {
  a {
    display: inline-block;
    width: auto;
  }
}

.practice-editor-impact-photo-container {
  div {
    @media screen and (max-width: 1023px) {
      width: 100% !important;
    }
  }
}

#next-steps-link-in-nav {
  &:visited {
    color: $dm-color-white !important;
  }
}

// Implementation
#implementation {
  .usa-table--borderless {
    min-width: 100%;
  
    tr {
      th:first-child, td:first-child {
        border-right: 1px solid $dm-color-base;
      }

      td {
        border-bottom: 1px solid $dm-color-base;
      }

      td:first-child {
        padding-left: 0;
      }

      &:last-child {
        td {
          border-bottom: none !important;
        }
      }
    }

    &.dm-risk-mitigation-table {
      tr {
        th {
          width: 50%;
        }

        th:nth-child(2), td:nth-child(2) {
          padding-left: 0.35rem !important;
        }
      }
    }

    &.dm-resource-table {
      tr {
        td:first-child {
          width: 150px;
        }

        td:nth-child(2) {
          padding-left: 1.75rem !important;
        }

        &:first-child {
          td {
            border-top-color: white !important;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .usa-table--borderless {
      &.dm-risk-mitigation-table {
        tr {
          td:first-child {
            width: 20.125rem;
          }

          th:nth-child(2), td:nth-child(2) {
            padding-left: 0.75rem !important;
          }
        }
      }
    }
  }
}

// Contact
#contact {
  .report-abuse-cancel {
    border: none !important;
  }
}

/*********************************
 PRACTICE EDITOR
**********************************/
// Introduction
#editor_date_initiated_year {
  &::-webkit-inner-spin-button {
    display: none;
  }
}

// Overview
#overview {
  .dm-resource-image-editor {
    .dm-file-upload-label {
      max-width: 100%;
      line-height: 26px;
      color: $dm-color-base;
    }
  }

  .dm-cropper-images-container {
    img, canvas {
      max-width: 476px !important;
      max-height: 309px !important;
      min-width: auto !important;
    }
  }

  .overview-resource-label {
    margin-top: 16px !important;
  }

  .overview-problem-statement-label + span, .overview-solution-statement-label + span, .overview-results-statement-label + span {
    line-height: 18px !important;
  }
}

.overview-files-ul {
  div:last-child {
    margin-bottom: 0 !important;
  }
}

.overview-statement-container {
  a {
    display: inline-block;
    width: auto;
  }
}

.practice-editor-impact-photo-container {
  div {
    @media screen and (max-width: 1023px) {
      width: 100% !important;
    }
  }
}

// Implementation
#implementation {
  .usa-combo-box__clear-input, .usa-combo-box__toggle-list, .usa-combo-box__input-button-separator {
    top: 2rem;
  }

  .dm-add-practice-department-link {
    bottom: 1rem;
  }

  // required to hide inputs that appear when navigating away from comboboxes by clicking a link from the practice editor side nav
  .usa-combo-box__input[aria-owns="--list"] {
    display: none !important;
  }

  #dm-add-link-risk-mitigation {
    position: absolute;
    bottom: 0px;
  }

  .implementation-radio {
    left: 27px !important;
    top: 10px;
    width: 1px;
    height: 1px;
  }

  .implementation-resource-label {
    margin-top: 16px !important;
  }
}

// About
.origin-story-textarea {
  resize: none;
}

// Cross-section styles
.input-error {
  border-left-width: 0.25rem !important;
  border-left-color: #b50909 !important;
  border-left-style: solid !important;
  padding-left: 1rem !important;
  position: relative !important;
}

.attachment-input-target-error {
  border-color: #b50909 !important;
  border-width: 2px !important;
}

.text-input-error {
  border-width: 0.25rem !important;
  border-color: #b50909 !important;
  border-style: solid !important;
}

.usa-label--error {
  margin-top: 1.5rem !important;
}
