@import "../variables/colors";

#dm-practice-nav {
  width: 207px !important;
}

#dm-practice-nav-sticky-wrapper {
  margin-top: 2rem;
  position: absolute;
}

#dm-tabnav {

  border: none !important;

  .usa-sidenav__item {
    border: none !important;
  }

  //.usa-sidenav {
  //  a {
  //    //color: $dm-color-white !important;
  //    font-weight: normal !important;
  //  }
  //}

  .dm-tab {
    border-bottom: 1px solid #F0F0F0;
    font-weight: normal;

    &.top-tab {
      border-top: 1px solid #F0F0F0;
    }

    // &.bottom-tab {
    // }

    &.active, &.tab-active, &:hover {
      font-weight: bold;
      border-left: 4px solid $dm-color-primary-blue;
      color: black;
      background-color: transparent;
    }

    &.active, &.tab-active {
      font-weight: bold;
      border-left: 4px solid $dm-color-primary-blue;
      color: black;
      background-color: transparent;
    }

  }
}

.practice-mobile-nav {
  background: $dm-color-white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.tab-inactive {
  display: none;
}

.tab-active {
  display: block;
}

.level-aggregate-circle {
  border: 3px solid #1CC2AE;
  border-radius: 6rem;
  height: 12rem;
  margin: 3rem auto;
  text-align: center;
  width: 12rem;

  &.medium {
    border-color: $dm-color-medium-yellow;
  }

  &.medium-high {
    border-color: $dm-color-medium-high-yellow;
  }

  &.high {
    border-color: $dm-color-high-red;
  }
}

.practice-tab-container {
  background-color: #FFFFFF;
  border-radius: 0 20px 20px 20px;
}

.practice-learn-more {
  width: 100%;
  border-radius: 20px;
}

.practice-aggregate-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
}

.aggregate-icon {
  font-size: 2rem;
}

.practice-facility {
  font-weight: 100;
}

.risk-border {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.practice-summary {
  line-height: 30px !important;
}

.aggregate-circles-position {
  top: -165px;
}

.avatar-container {
  width: 65px !important;
  height: 65px;
}

.un-published-practice {
  background-color: $dm-color-darker-gold;
}

.un-approved-practice {
  background-color: $dm-color-light-black;
}

.origin-picture-container {
  width: 150px;
  height: 150px;
}

.practice-divider {
  height: 2px;
  background-color: $dm-color-light-grey;
}

.practice-input {
  max-width: 100% !important;
}

.tall-practice-input {
  height: 10em !important;
}

.hidden-upload {
  height: 1px;
  padding: 1px 0 0 1px;
  margin-left: -160px;
  margin-top: 50px;
  z-index: -20;
  position: absolute;
  padding-left: unset !important;

  &:focus {
    outline: none !important;
  }
}

.practice-edit-nav {
  width: 14rem !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  // height: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conversation-h2 {
  margin-top: 0;
  margin-right: 8px;
}

.conversation-line {
  height: 2px;
  border: 2px solid #F0F0F0;
}

.practice-complexity-divider {
  &:after {
    border: none;
    content: "";
    display: block;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    position: absolute;
    right: 10px;
    top: 0;

    @media screen and (min-width: 640px) {
      border-right: 2px solid $dm-color-light-grey;
    }
  }
}

.multiline-ellipses-1, .multiline-ellipses-2, .multiline-ellipses-3 {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiline-ellipses-1 {
  height: 85px; /* Fallback for non-webkit */
  -webkit-line-clamp: 3;
}

.multiline-ellipses-2 {
  height: 45px; /* Fallback for non-webkit */
  -webkit-line-clamp: 2;
}

.multiline-ellipses-3 {
  height: 35px; /* Fallback for non-webkit */
  -webkit-line-clamp: 2;
}

.impact-image {
  height: 263px; 
  width: 393px; 
  object-fit: cover;
}

.practice-video-container {
  height: 263px; 
  width: 393px;
}

.practice-title {
  margin: 0;
}

.fa-circle {
  vertical-align: top;
}

.fa-images {
  position: absolute;
  top: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  &.tall {
    top: 23%;
  }
}

.video-file-placeholder {
  position: absolute;
}

.no-impact-image, .video-file-placeholder {
  top: 36%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.back-to-partners-link {
  color: $dm-color-primary-blue !important;
  font-weight: normal !important;

  &:before {
    font-weight: bold;
  }
}

.practice-map-filters {
  fieldset {
    padding: 0;
    border: 0;
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.complete::before, .usa-radio__input:checked + .usa-radio__label.complete::before {
    background-color: #162E51;
    box-shadow: 0 0 0 2px #162E51;
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.in_progress::before, .usa-radio__input:checked + .usa-radio__label.in_progress::before {
    background-color: #FFBE2E;
    box-shadow: 0 0 0 2px #FFBE2E;
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.in_progress::before, .usa-checkbox__input:checked:disabled + .usa-checkbox__label.in_progress::before {
    background-image: asset-url('uswds/correct8-alt.svg')
  }

  .usa-checkbox__input:checked + .usa-checkbox__label.unsuccessful::before, .usa-radio__input:checked + .usa-radio__label.unsuccessful::before {
    background-color: #D83933;
    box-shadow: 0 0 0 2px #D83933;
  }
}

.practice-editor-link {
  padding-left: 1rem !important;
}

.editor-back-to-button, .editor-continue-button {
  margin: 0 !important;
}

.editor-back-to-link, .editor-continue-link {
  width: auto;
  display: inline-block;
}

.practice-editor-name-input, .practice-editor-tagline-textarea, .practice-editor-summary-textarea {
  max-width: 100% !important;
}

.practice-editor-tagline-textarea {
  resize: none;
  height: 72px !important;
}

.practice-editor-summary-textarea {
  resize: none;
  height: 142px !important;
}

.practice-partner-checkbox:last-child {
  margin-bottom: 44px;
}

.instructions-list {
  padding-left: 20px;

  li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 42px;
    }
  }
}

.fa-check-circle {
  text-decoration: none !important;
  color: #DADADA;
}

.collaborators-form {
  max-width: 100% !important;
}

.collab-trash, .staff-trash, .timeline-trash, .risk-mitigation-trash, .impact-trash, 
.va-employee-trash, .origin-trash, .documentation-trash {
  color: #D83933 !important;

  &:hover {
    color: #b51d09 !important;
  }
}

.impact-trash, .origin-trash, .documentation-trash, .timeline-trash, .risk-mitigation-trash, .va-employee-trash {
  font-size: 22px;
}

.impact-trash-container, .origin-trash-container, .documentation-trash-container, .timeline-trash-container,
.risk-miti-trash-container, .va-employee-trash-container {
  align-self: flex-end;
  text-align: center;
}

.documentation-trash-container, .timeline-trash-container, .risk-miti-trash-container, .contact-trash-container {
  margin-left: 33px;
}

.clear-collaborator-button, .add-collaborator-button {
  text-decoration: none !important;
}

.clear-collaborator-button {
  margin-bottom: 28px !important;
  margin-top: 4px !important;
}

.add-collaborator-button {
  margin-top: 28px !important;
  margin-bottom: 44px !important;
}

.clear-collaborator-button:hover {
  color: #D83933 !important;
}

.add-collaborator-button:hover {
  color: #005EA2 !important;
}

.green-check {
  color: limegreen;
}

.clear-additional-staff-link, .clear-required-staff-link {
  margin-top: 0 !important;
  margin-bottom: 24px !important;
  color: #D83933 !important;

  &:hover {
    color: #b51d09 !important;
  }
}

.clear-timeline-link, .clear-risk-mitigation-link, .clear-va-employee-link {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  color: #D83933 !important;

  &:hover {
    color: #b51d09 !important;
  }
}

.add-required-staff-link {
  margin-top: 24px !important;
}

.add-additional-staff-link, .add-required-staff-link, .add-timeline-link, .add-risk-mitigation-link, 
.add-impact-photo-link, .add-va-employee-link, .add-practice-creator-link, .add-additional-document-link, .add-publication-link,
.add-video-file-link {
  margin-top: 24px !important;
  margin-bottom: 44px;
}

#required-training-container {
  display: none;
}

.milestone-textarea, .risk-description, .mitigation-description, 
.practice-editor-video-caption, .practice-editor-image-caption, .risk-description-textarea, .mitigation-description-textarea {
  resize: none;
}

.move-timeline-button, .move-risk-mitigation-button, .move-impact-button, .move-va-employee-button, .move-practice-creator-button {
  margin-top: 0 !important;
  margin-right: 21px !important;

  &:hover {
    color: #565c65 !important;
  }
}

.hidden-timeline, .hidden-risk-mitigation, .hidden-impact, .hidden-va-employee, .hidden-practice-creator {
  display: none;
}

.editor-sidenav-link {
  padding: 0.6rem !important;
}

.practice-editor-impact-photo {
  max-width: 392px !important;
  object-fit: cover;
}

.fields {
  width: 100%;
}

.add-impact-photo-label {
  margin-top: 0 !important;
}

.impact-p, .va-employee-headshot-p, .practice-creator-headshot-p {
  margin-top: 24px;
}

.va-employee-headshot-container, .practice-creator-headshot-container {
  width: 65px;
  height: 65px;
  position: relative;
}

.va-employee-headshot-filler, .practice-creator-headshot-filler {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.va-employee-headshot-col, .practice-creator-headshot-col {
  margin-right: 24px;
}

.add-va-employee-headshot-label, .add-practice-creator-headshot-label {
  margin-top: 12px !important;
}

.practice-editor-origin-ul, .practice-editor-timeline-ul, .practice-editor-risk-mitigation-ul, .practice-editor-contact-ul,
.practice-editor-additional-document-ul, .practice-editor-publication-ul, .practice-editor-impact-photo-ul, 
.practice-editor-video-file-ul {
  margin: 0;
  padding: 0;
}

.practice-editor-origin-li, .practice-editor-timeline-li, .practice-editor-risk-mitigation-li, .practice-editor-contact-li,
.practice-editor-additional-document-li, .practice-editor-publication-li, .practice-editor-impact-photo-li,
.practice-editor-video-file-li {
  list-style: none;
}

.sortable-placeholder {
  margin-top: 24px;
  display: block !important;
  height: 250px !important;
  border: 2px solid #005ea2;
  border-radius: 4px;
}

.add-documentation-label {
  margin-top: 12px !important;
}

.partner-input {
  left: 2px !important;
}

.delete-avatar-input, .delete-attachment-input {
  left: 145px !important;
}

.delete-documentation-attachment-input {
  left: 8px !important;
}

.resource-radio {
  left: 10px !important;
  height: 2px;
  width: 2px;
  top: 10px;
}

.impact-radio {
  left: 34px !important;
  height: 1px;
  width: 1px;
  margin-top: 5px;
}

.complexity-radio {
  left: 12px !important;
  height: 1px;
  width: 1px;
  margin-top: 11px;
}

.origin-errors-ul, .contact-errors-ul, .complexity-errors-ul, .complexity-errors-ul, .resources-errors-ul, .overview-errors-ul,
.impact-errors-ul {
  padding-left: 20px;
  margin-top: 5px;

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.practice-editor-publication-error-container {
  height: 268px;
  overflow-y: auto;
}

.position-arrows {
  position: absolute;
  top: 0;
  right: 10px;
}

.documentation-arrows, .timeline-arrows, .origin-arrows, .risk-miti-arrows, .contact-arrows {
  right: 1px;
}

.edit-impact-photo-button, .edit-origin-photo-button {
  margin-top: 3px !important;
  margin-right: 24px !important;
}

.delete-impact-attachment-input {
  left: 5px !important;
}

.video-file-url-input {
  width: 335px !important;
}

.hidden-radio {
  display: none !important;
}

.hidden-documentation-field {
  margin-top: 30px;
  margin-left: -120px;
}

.hidden-impact-field {
  margin-top: 45px;
  margin-left: -10px;
}

.pub-title, .add-doc-title, .practice-creator-name, .timeline-duration, .risk-description, .vae-name {
  margin-top: 0 !important;
}

.arrows-tooltip {

  &:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-text {
    visibility: hidden;
    width: 230px;
    text-align: center;
    text-transform: none !important;
    padding: 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: -105px;
    margin-bottom: 5px;
  }
}

.documentation-check, .risk-miti-check {
  visibility: hidden;
}