@import "../variables/colors";

.practice-image {
  color: white;
  padding: 3rem 6rem;
  background: linear-gradient(180deg, rgba(0, 42, 92, 0) 0%, rgba(0, 42, 92, 0.8) 0.01%), image-url('practice-hero.jpg');
  background-position: center;
  background-size: cover;
}

.dm-tab {
  padding: 16px 24px;
  border-bottom: 1px solid #D8D8D8;
  background-color: white;
}

.tab-inactive {
  display: none;
}

.tab-active {
  display: block;
}

.level-aggregate-circle {
  border: 3px solid #1CC2AE;
  border-radius: 6rem;
  height: 12rem;
  margin: 3rem auto;
  text-align: center;
  width: 12rem;
}

.practice-tab-container {
  background-color: #FFFFFF;
  border-radius: 20px;
}

.practice-tab-content {
  padding: 0 0 100px;
}

.practice-learn-more {
  width: 100%;
  border-radius: 20px;
}

.practice-aggregate-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
  padding: 50px;
}

.aggregate-icon {
  font-size: 2rem;
  margin-top: 0.83em;
}

.practice-facility {
  padding-left: 4rem;
  font-weight: 100
}

.risk-border {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}
