@import "../variables/colors";

#dm-practice-nav {
  width: 207px !important;
}

#dm-practice-nav-sticky-wrapper {
  margin-top: 2rem;
  position: absolute;
}

#dm-tabnav {

  border: none !important;

  .usa-sidenav__item {
    border: none !important;
  }

  //.usa-sidenav {
  //  a {
  //    //color: $dm-color-white !important;
  //    font-weight: normal !important;
  //  }
  //}

  .dm-tab {
    border-bottom: 1px solid #F0F0F0;
    font-weight: normal;

    &.top-tab {
      border-top: 1px solid #F0F0F0;
    }

    // &.bottom-tab {
    // }

    &.active, &.tab-active, &:hover {
      font-weight: bold;
      border-left: 4px solid $dm-color-primary-blue;
      color: black;
      background-color: transparent;
    }

    &.active, &.tab-active {
      font-weight: bold;
      border-left: 4px solid $dm-color-primary-blue;
      color: black;
      background-color: transparent;
    }

  }
}

.practice-mobile-nav {
  background: $dm-color-white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.tab-inactive {
  display: none;
}

.tab-active {
  display: block;
}

.level-aggregate-circle {
  border: 3px solid #1CC2AE;
  border-radius: 6rem;
  height: 12rem;
  margin: 3rem auto;
  text-align: center;
  width: 12rem;

  &.medium {
    border-color: $dm-color-medium-yellow;
  }

  &.medium-high {
    border-color: $dm-color-medium-high-yellow;
  }

  &.high {
    border-color: $dm-color-high-red;
  }
}

.practice-tab-container {
  background-color: #FFFFFF;
  border-radius: 0 20px 20px 20px;
}

.practice-learn-more {
  width: 100%;
  border-radius: 20px;
}

.practice-aggregate-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
}

.aggregate-icon {
  font-size: 2rem;
}

.practice-facility {
  font-weight: 100;
}

.risk-border {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.practice-summary {
  line-height: 30px !important;
}

.aggregate-circles-position {
  top: -165px;
}

.avatar-container {
  width: 65px !important;
  height: 65px;
}

.un-published-practice {
  background-color: $dm-color-darker-gold;
}

.un-approved-practice {
  background-color: $dm-color-light-black;
}

.origin-picture-container {
  width: 150px;
  height: 150px;
}

.practice-divider {
  height: 2px;
  background-color: $dm-color-light-grey;
}

.practice-input {
  max-width: 100% !important;
}

.tall-practice-input {
  height: 10em !important;
}

.hidden-upload {
  width: 1px;
  height: 1px;
  padding: 1px 0 0 1px;
}

.practice-edit-nav {
  width: 14rem !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  // height: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conversation-h2 {
  margin-top: 0;
  margin-right: 8px;
}

.conversation-line {
  height: 2px;
  border: 2px solid #F0F0F0;
}

.practice-complexity-divider {
  &:after {
    border: none;
    content: "";
    display: block;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    position: absolute;
    right: 10px;
    top: 0;

    @media screen and (min-width: 640px) {
      border-right: 2px solid $dm-color-light-grey;
    }
  }
}
.multiline-ellipses-1, .multiline-ellipses-2, .multiline-ellipses-3 {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiline-ellipses-1 {
  height: 85px; /* Fallback for non-webkit */
  -webkit-line-clamp: 3;
}

.multiline-ellipses-2 {
  height: 45px; /* Fallback for non-webkit */
  -webkit-line-clamp: 2;
}

.multiline-ellipses-3 {
  height: 35px; /* Fallback for non-webkit */
  -webkit-line-clamp: 2;
}

.impact-image {
  height: 263px; 
  width: 393px; 
  object-fit: cover;
}

.practice-video-container {
  height: 263px; 
  width: 393px;
}

.practice-title {
  margin: 0;
}

.fa-circle {
  vertical-align: top;
}

.fa-images {
  position: absolute;
  top: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  &.tall {
    top: 23%;
  }
}

.back-to-partners-link {
  color: $dm-color-primary-blue !important;
  font-weight: normal !important;

  &:before {
    font-weight: bold;
  }
}




