@import "../variables/colors";

#dm-practice-nav {
  width: 207px !important;
}

#dm-practice-nav-sticky-wrapper {
  //position: relative;
  //left: -8px;
}

#dm-tabnav {
  background-color: $dm-color-blue-black;
  border: none !important;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  color: $dm-color-white;

  .usa-sidenav__item {
    border-top: none !important;
  }

  .usa-sidenav {
    a {
      color: $dm-color-white !important;
    }
  }

  .dm-tab {
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);;
    background-color: transparent;
    color: $dm-color-white;
    font-weight: 500;
    padding: 16px 24px;
    overflow: hidden;

    &.top-tab {
      border-radius: 20px 20px 0 0;
    }

    &.bottom-tab {
      border-radius: 0 0 20px 20px;
    }

    &.active, &.tab-active, &:hover {
      background-color: $dm-color-white;
      color: $dm-color-primary-blue;
    }

    &.active, &.tab-active {
      border-left: 6px solid $dm-color-primary-blue;
    }

  }
}

.tab-inactive {
  display: none;
}

.tab-active {
  display: block;
}

.level-aggregate-circle {
  border: 3px solid #1CC2AE;
  border-radius: 6rem;
  height: 12rem;
  margin: 3rem auto;
  text-align: center;
  width: 12rem;

  &.medium {
    border-color: $dm-color-medium-yellow;
  }

  &.medium-high {
    border-color: $dm-color-medium-high-yellow;
  }

  &.high {
    border-color: $dm-color-high-red;
  }
}

.practice-tab-container {
  background-color: #FFFFFF;
  border-radius: 0 20px 20px 20px;
}

.practice-learn-more {
  width: 100%;
  border-radius: 20px;
}

.practice-aggregate-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
}

.aggregate-icon {
  font-size: 2rem;
}

.practice-facility {
  font-weight: 100;
}

.risk-border {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.practice-summary {
  line-height: 33px !important;
}

.aggregate-circles-position {
  top: -165px;
}

.avatar-container {
  width: 65px;
  height: 65px;
}

.un-published-practice {
  background-color: $dm-color-darker-gold;
}

.un-approved-practice {
  background-color: $dm-color-light-black;
}

.origin-picture-container {
  width: 150px;
  height: 150px;
}

.practice-divider {
  height: 2px;
  background-color: $dm-color-light-grey;
}

.practice-input {
  max-width: 100% !important;
}

.hidden-upload {
  width: 1px;
  height: 1px;
  padding: 1px 0 0 1px;
}

.practice-edit-nav {
  width: 14rem !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
