#dm-practice-nav {
  width: 207px !important;

  #practice-editor-save-button {
    margin-top: 0.5rem;
  }

  a {
    &:visited {
      color: color($theme-color-base-ink);
    }
  }
}

#dm-practice-nav-sticky-wrapper {
  margin-top: 34px;
  position: absolute;
}

.practice-mobile-nav {
  background: color($theme-color-dm-white);
  border-top: 1px solid color($theme-color-base-ink);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.tab-inactive {
  display: none;
}

.tab-active {
  display: block;
}

.aggregate-circles-position {
  top: -165px;
}

.avatar-container {
  width: 65px !important;
  height: 65px !important;
  position: relative;

  img {
    height: 65px;
    width: 65px;
    object-fit: cover;
  }
}

.practice-input {
  max-width: 100% !important;
}

.hidden-upload {
  height: 0.1px;
  padding: 1px 0 0 1px;
  margin-left: -160px;
  margin-top: 50px;
  overflow: hidden;
  position: absolute;
  padding-left: unset !important;
  width: 0.1px;
  z-index: -20;

  &:focus {
    outline: none !important;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  // height: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fa-circle {
  vertical-align: top;
}

.fa-images {
  position: absolute;
  top: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  &.tall {
    top: 23%;
  }
}

.video-file-placeholder {
  position: absolute;
}

.no-impact-image, .video-file-placeholder {
  top: 36%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dm-practice-diffusion-map {
  width:100%;
  padding-top: 65.5844156%;
  height: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    height: 479px;
  }
}

.dm-cropper-save-edit, #edit-link-in-nav {
  color: color($theme-color-dm-white) !important;
  line-height: 1 !important;

  &:visited {
    color: color($theme-color-dm-white) !important;
  }

  &:hover {
    text-decoration: none !important;
    color: color($theme-color-dm-white) !important
  }
}

.practice-editor-name-input, .practice-editor-tagline-textarea, .practice-editor-summary-textarea {
  max-width: 100% !important;
}

.practice-editor-overview-statement-input {
  max-width: 100% !important;
  height: 135px !important;
  resize: none
}

.practice-editor-tagline-textarea {
  resize: none;
  height: 72px !important;
}

.practice-partner-checkbox:last-child {
  margin-bottom: 44px;
}

.instructions-list {
  padding-left: 20px;

  li {
    margin-bottom: 16px;
  }
}

.staff-trash, .timeline-trash, .risk-mitigation-trash, .impact-trash,
.va-employee-trash, .dm-origin-trash, .documentation-trash, .permission-trash, .resource-trash {
  color: #D83933 !important;

  &:hover {
    color: #b51d09 !important;
  }
}

.impact-trash, .dm-origin-trash, .documentation-trash, .risk-mitigation-trash, .va-employee-trash, .permission-trash,
.resource-trash {
  font-size: 16px;
}

.timeline-trash{
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  text-align: right;
  text-decoration-line: underline;
}

.impact-trash-container, .documentation-trash-container, //.trash-container,
.risk-miti-trash-container, .permission-trash-container, .resource-trash-container {
  align-self: flex-end;
  text-align: center;
}

.trash-container {
  padding-right: 0.2rem;
  margin-top: 8px;
}

.dm-cropper-delete-image-label {
  margin-top: 6px;
  margin-bottom: 24px;
  color: color($theme-color-error);
  text-decoration: underline;

  &:hover {
    color: color($theme-color-error-dark);
    cursor: pointer;
  }
}

.add-required-staff-link {
  margin-top: 24px !important;
}

.add-additional-staff-link, .add-required-staff-link, .add-practice-resources-link,
.add-impact-photo-link, .add-practice-creator-link, .add-additional-document-link, .add-publication-link,
.add-video-file-link, .add-permission-link, .add-resource-link {
  margin-top: 24px !important;
  margin-bottom: 44px;
}

#required-training-container {
  display: none;
}

.milestone-textarea, .risk-description, .mitigation-description,
.practice-editor-video-caption, .practice-editor-image-caption, .risk-description-textarea, .mitigation-description-textarea,
.staff-training-description {
  resize: none;
}

.milestone-textarea {
  width: 640px !important;
}

.hidden-timeline, .hidden-risk-mitigation, .hidden-impact, .hidden-va-employee, .hidden-practice-creator {
  display: none;
}

.practice-editor-impact-photo {
  max-width: 100% !important;
  object-fit: cover;
}

.dm-cropper-thumbnail-original, .dm-cropper-thumbnail-modified {
  min-width: 100% !important;
  object-fit: cover;
}

.fields {
  width: 100%;
}

.add-impact-photo-label {
  margin-top: 0 !important;
}

.impact-p, .headshot-title {
  margin-top: 1.5rem;
}

.practice-editor-origin-ul, .practice-editor-timeline-ul, .practice-editor-practice-resources-ul, .practice-editor-risk-mitigation-ul, .practice-editor-contact-ul,
.practice-editor-additional-document-ul, .practice-editor-publication-ul, .practice-editor-impact-photo-ul,
.practice-editor-video-file-ul, .practice-editor-permission-ul, .practice-editor-resource-ul, .practice-editor-about-ul {
  margin: 0;
  padding: 0;
}

.practice-editor-origin-li, .practice-editor-timeline-li, .practice-editor-practice-resources-li, .practice-editor-risk-mitigation-li, .practice-editor-contact-li,
.practice-editor-additional-document-li, .practice-editor-publication-li,
.practice-editor-video-file-li, .practice-editor-permission-li, .practice-editor-resource-li, .practice-editor-about-li {
  list-style: none;
}

.sortable-placeholder {
  margin-top: 24px;
  display: block !important;
  height: 250px !important;
  border: 2px solid color($theme-color-primary-vivid);
  border-radius: 4px;
}

.add-documentation-label {
  margin-top: 12px !important;
}

.partner-input, .category-input {
  left: 2px !important;
  top: 5px !important;
}

.delete-avatar-input, .delete-attachment-input {
  left: 5px !important;
}

.delete-documentation-attachment-input {
  left: 8px !important;
}

.origin-errors-ul, .dm-publish-errors-ul, .complexity-errors-ul, .complexity-errors-ul, .resources-errors-ul,
.impact-errors-ul {
  padding-left: 20px;
  margin-top: 5px;

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.position-arrows {
  position: absolute;
  top: 0;
  right: 10px;
}

.documentation-arrows, .timeline-arrows, .origin-arrows, .risk-miti-arrows, .contact-arrows, .checklist-arrows {
  right: 1px;
}

.edit-impact-photo-button, .edit-origin-photo-button {
  margin-top: 3px !important;
  margin-right: 24px !important;
}

.delete-impact-attachment-input {
  left: 5px !important;
}

.hidden-documentation-field {
  margin-top: 30px;
  margin-left: -120px;
}

.hidden-impact-field {
  margin-top: 45px;
  margin-left: -10px;
}

.pub-title, .add-doc-title, .practice-creator-name, .timeline-duration, .practice-resources-duration, .risk-description, .vae-name {
  margin-top: 0 !important;
}

.arrows-tooltip {

  &:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-text {
    visibility: hidden;
    width: 230px;
    text-align: center;
    text-transform: none !important;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: -105px;
    margin-bottom: 5px;
  }
}

.documentation-check, .risk-miti-check, .checklist-check {
  visibility: hidden;
}

.hidden-estimate-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.headshot-container {
  min-height: 8.9375rem !important;
  text-align: center;
}

.edit-practice-link {
  right: 2rem !important;
}

.cost-to-implement-container {
  width: 11.5%;
}

.dm-icon-link {
  color: color($theme-color-primary) !important;

  &:visited {
    color: color($theme-color-primary) !important;
  }

  &:hover, &:active {
    cursor: pointer !important;
  }

  &:hover {
    color: color($theme-color-primary-dark) !important;
  }

  &:active {
    color: color($theme-color-primary-darker) !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fa-circle {
    margin-bottom: -2px;
  }

  .share-checklist-container {
    margin-bottom: 2px !important;
  }
}

.add-milestone-link {
  width: auto !important;
}

.timeline-trash {
  right: 3px;
}

/* Adoptions */
.child-accordion-button {
  span {
    margin-left: -4px;
  }
}

.usa-accordion__heading:not(:first-child).margin-top-105 {
  margin-top: 12px !important;
}

.status-width {
  width: 23%;
}

.facility-header-width {
  width: 40%;
}

.facility-name-width {
  width: 45%;
}

.timeline-width {
  width: 29%;
}

.action-button-width {
  width: 6%;
}

.adoptions-radio-button {
  top: 10px !important;
  left: 10px !important;
  width: 1px;
  height: 1px;
}

.initiating-facility-other-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.initiating-facility-type-radio {
  top: 23px !important;
  left: 27px !important;
  width: 1px;
  height: 1px;
}

#add_adoption_button {
  background-image: none !important;
  width: auto !important;
  padding: 12px 20px 12px 20px !important;
  border-radius: 4px !important;
}

#successful_adoptions, #unsuccessful_adoptions, #in-progress_adoptions {
  .child-adoption-accordion:first-child {
    .usa-accordion__heading {
      padding-top: 0 !important;
    }
  }
}

#adoptions, .practice-section {
  .fa-question-circle {
    font-size: 0.75em;
  }
  .usa-tooltip__body {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: color($theme-color-dm-white);
    line-height: 26px !important;
  }
}

.practice-section {
  .usa-tooltip__body {
    bottom: -12.4px !important;
  }
}

#adoptions {
  #adoption_form_container {
    .usa-tooltip__body {
      bottom: -38px !important;
    }

    .tooltip-after-ajax {
      bottom: -40px !important;
    }
  }

  .usa-tooltip__body {
    bottom: -35px !important;
  }

  .tooltip-after-ajax {
    margin-bottom: 0;
    margin-left: 19px;
    bottom: -40px !important;
    line-height: 26px;
    padding: 0.5em;
    font-family: Public Sans Web,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
    cursor: pointer;
  }
}

/*********************************
 PRACTICE VIEW
**********************************/
// Introduction
#pr-view-introduction {
  .desktop-main-display-image-container, .mobile-main-display-image-container {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-top: 56.25%;
    }
  }
  .dm-thumbnail-image {
    width: 100%;
    height: auto;
    object-fit: cover;

    @media screen and (min-width: 1024px) {
      max-height: 10.875rem;
      width: 100%;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      display: none !important;
    }
  }

  .introduction-sections-container {
    div {
      margin-bottom: 16px ;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Diffusion Tracker
#dm-pv-diffusion-tracker {
  .dm-adoption-info {
    margin-top: 0 !important;

    li {
      margin-bottom: 0 !important;
      color: color($theme-color-base);
    }
  }

  .practice-map-filters {
    fieldset {
      padding: 0;
      border: 0;
      margin-left: 0;
    }

    .usa-checkbox__input:checked + .usa-checkbox__label.successful::before, .usa-radio__input:checked + .usa-radio__label.successful::before {
      background-color: #00A91C;
      box-shadow: 0 0 0 2px #00A91C;
    }

    .usa-checkbox__input:checked + .usa-checkbox__label.in-progress::before, .usa-radio__input:checked + .usa-radio__label.in-progress::before {
      background-color: #face00;
      box-shadow: 0 0 0 2px #face00;
    }

    .usa-checkbox__input:checked + .usa-checkbox__label.in_progress::before, .usa-checkbox__input:checked:disabled + .usa-checkbox__label.in_progress::before {
      background-image: asset-url('uswds/correct8-alt.svg')
    }

    .usa-checkbox__input:checked + .usa-checkbox__label.unsuccessful::before, .usa-radio__input:checked + .usa-radio__label.unsuccessful::before {
      background-color: color($theme-color-base-light);
      box-shadow: 0 0 0 2px color($theme-color-base-light);
    }

    .usa-checkbox__input:checked + .usa-checkbox__label.unsuccessful::before, .usa-checkbox__input:checked:disabled + .usa-checkbox__label.unsuccessful::before {
      background-image: asset-url('uswds/correct8-alt.svg')
    }
  }
}



.dm-add-another-link {
  position: absolute;
  bottom: 0;
  left: 0;
}

li.small-disc {
  list-style: none;
  margin: 0 0 0 9px;
  text-indent: -9px;
}
li.small-disc:before {
  content: "· ";
  font-size: 25px;
  position: relative;
  top: 4px;
}

.resource_container {
  background: color($theme-color-dm-white);
  border: 2px solid color($theme-color-secondary-dark);
  border-radius: 2px;
  padding: 16px;
}

.pe-category-checkbox:last-child {
  margin-bottom: 40px;
}

.maturity-level-banner, .pii-phi-alert-banner {
  padding: 0.5rem 1.25rem 0.5rem 1.75rem !important;
  margin-top: 0 !important;
  background-color: transparent !important;

  &:before {
    background-color: color($theme-color-primary-light) !important;
  }
}

.maturity-level-radio {
  top: 15px !important;
  left: 11px !important;
  width: 1px;
  height: 1px;
}

// Overview
.overview-files-ul {
  div:last-child {
    margin-bottom: 0 !important;
  }
}

.overview-statement-container {
  a {
    display: inline-block;
    width: auto;
  }
}

.practice-editor-impact-photo-container {
  div {
    @media screen and (max-width: 1023px) {
      width: 100% !important;
    }
  }
}

#next-steps-link-in-nav {
  &:visited {
    color: color($theme-color-dm-white) !important;
  }
}

// Implementation
#implementation {
  .usa-table--borderless {
    min-width: 100%;

    tr {
      th:first-child, td:first-child {
        border-right: 1px solid color($theme-color-base-ink);
      }

      td {
        border-bottom: 1px solid color($theme-color-base-ink);
      }

      td:first-child {
        padding-left: 0;
      }

      &:last-child {
        td {
          border-bottom: none !important;
        }
      }
    }

    &.dm-risk-mitigation-table {
      tr {
        th {
          width: 50%;
        }

        th:nth-child(2), td:nth-child(2) {
          padding-left: 0.35rem !important;
        }

        &:first-child {
          th:first-child {
            padding-left: 0;
          }
        }
      }
    }

    &.dm-resource-table {
      tr {
        td:first-child {
          width: 150px;
        }

        td:nth-child(2) {
          padding-left: 1.75rem !important;
        }

        &:first-child {
          td {
            border-top-color: color($theme-color-dm-white) !important;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .usa-table--borderless {
      &.dm-risk-mitigation-table {
        tr {
          td:first-child {
            width: 20.125rem;
          }

          th:nth-child(2), td:nth-child(2) {
            padding-left: 0.75rem !important;
          }
        }
      }
    }
  }
}

// Contact
#contact {
  .report-abuse-cancel {
    border: none !important;
  }
}

/*********************************
 PRACTICE EDITOR
**********************************/
// Introduction
#editor_date_initiated_year {
  &::-webkit-inner-spin-button {
    display: none;
  }
}

// Overview
#overview {
  .dm-resource-image-editor {
    .dm-file-upload-label {
      max-width: 100%;
      line-height: 26px;
      color: color($theme-color-base-ink);
    }
  }

  .dm-cropper-images-container {
    img, canvas {
      max-width: 476px !important;
      max-height: 309px !important;
      min-width: auto !important;
    }
  }

  .overview-resource-label {
    margin-top: 16px !important;
  }

  .overview-problem-statement-label + span, .overview-solution-statement-label + span, .overview-results-statement-label + span {
    line-height: 18px !important;
  }
}

.overview-files-ul {
  div:last-child {
    margin-bottom: 0 !important;
  }
}

.overview-statement-container {
  a {
    display: inline-block;
    width: auto;
  }
}


.practice-editor-impact-photo-container {
  div {
    @media screen and (max-width: 1023px) {
      width: 100% !important;
    }
  }
}

// Implementation
#implementation {
  .usa-combo-box__clear-input, .usa-combo-box__toggle-list, .usa-combo-box__input-button-separator {
    top: 2rem;
  }

  .dm-add-practice-department-link {
    bottom: 1rem;
  }

  // required to hide inputs that appear when navigating away from comboboxes by clicking a link from the practice editor side nav
  .usa-combo-box__input[aria-owns="--list"] {
    display: none !important;
  }

  #dm-add-link-risk-mitigation {
    position: absolute;
    bottom: 0px;
  }

  .implementation-radio {
    left: 27px !important;
    top: 16px;
    width: 1px;
    height: 1px;
  }

  .implementation-resource-label {
    margin-top: 16px !important;
  }
}

// About
.origin-story-textarea {
  resize: none;
}

// Editors
#editors {
  .practice-editor-entry {
    .fa-trash-alt {
      font-size: 1.5em;
    }
  }

  .usa-label {
    max-width: 100% !important;
  }
}

// adoptions
#dm-pe-adoptions {
  .usa-accordion__button[aria-expanded=false].adoptions-edit {
    background-image: asset_url('edit.svg'), linear-gradient(transparent, transparent);
    background-position-x: 98.6%;
    background-size: 22.5px 20px;
  }

  .usa-accordion__button[aria-expanded=true].adoptions-edit {
    background-image: asset_url('minus.svg'), linear-gradient(transparent, transparent);
    background-position-x: 97.8%;
    border-bottom: 4px color($theme-color-base-lightest) solid;
  }
}

// Cross-section styles
.input-error {
  border-left-width: 0.25rem !important;
  border-left-color: #b50909 !important;
  border-left-style: solid !important;
  padding-left: 1rem !important;
  position: relative !important;
}

.attachment-input-target-error {
  border-color: #b50909 !important;
  border-width: 2px !important;
}

.text-input-error {
  border-width: 0.25rem !important;
  border-color: #b50909 !important;
  border-style: solid !important;
}

.usa-label--error {
  margin-top: 1.5rem !important;
}

tr.border_bottom td {
  border-bottom: 1px solid darkgray;
}

.side-nav-highlighted {
  background-color: transparent;
  color: color($theme-color-primary) !important;
  font-weight: bold !important;
  position: relative;
}

.side-nav-hide{
  display: none !important;
}
.metrics-select{
  max-width: 100% !important;
}

.metrics-table {
  th, td {
    padding-left: 10px !important;
  }
  td {
    background-color: color($theme-color-secondary-light) !important;
  }
}

#toggle_adoptions_view_30, #toggle_leader_board_view_30 {
  &:before {
    border-right: color($theme-color-base-ink) !important;
  }
}

.practice-viewer-adoptions-accordion {
  .usa-tooltip {
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
}

.fa-question-circle {
  color: color($theme-color-base-ink) !important;
  padding: 4px;
  text-decoration: none !important;

  &:visited {
    text-decoration: none !important;
    color: color($theme-color-base-ink) !important;
  }
}
