@import "../variables/colors";

.dm-tabnav {
  border: none !important;
}

.dm-tab {
  padding: 16px 24px;
  border-bottom: 1px solid #D8D8D8;
  background-color: white;
  overflow: hidden;

  &.top-tab {
    border-radius: 20px 0 0 0;
  }

  &.bottom-tab {
    border-radius: 0 0 0 20px;
  }
}

.tab-inactive {
  display: none;
}

.tab-active {
  display: block;
}

.level-aggregate-circle {
  border: 3px solid #1CC2AE;
  border-radius: 6rem;
  height: 12rem;
  margin: 3rem auto;
  text-align: center;
  width: 12rem;
}

.practice-tab-container {
  background-color: #FFFFFF;
  border-radius: 0 20px 20px 20px;
}

.practice-learn-more {
  width: 100%;
  border-radius: 20px;
}

.practice-aggregate-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
}

.aggregate-icon {
  font-size: 2rem;
}

.practice-facility {
  font-weight: 100;
}

.risk-border {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.practice-summary {
  line-height: 39px !important;
}

.aggregate-circles-position {
  top: -165px;
}

.avatar-container {
  width: 65px;
  height: 65px;
}

.un-published-practice {
  background-color: $dm-color-darker-gold;
}

.un-approved-practice {
  background-color: $dm-color-light-black;
}

.origin-picture-container {
  width: 150px;
  height: 150px;
}

.practice-input {
  max-width: 100% !important;
}
