#main-content.products.show-main {
	#show-page-siderail { // TO DO: extract this after migrating practices template
		#show-page-siderail-sticky {
			position: sticky;
			top: 4rem;
		}

		#product-show-sidenav {
			ul.usa-sidenav  {
				border-left: 1px solid color($theme-color-base-lighter);
				border-bottom: none;
			}
			.usa-sidenav__item {
				border: none;
				a, a:hover, a:focus, a:active, a:visited {
					color: color($theme-link-color);
					font-weight: 700;

					&.usa-current {
						color: color($theme-color-base-ink) !important;
					}

					&.usa-current::after {
						background-color: color($theme-color-base-ink);
					}
				}
			}
		}

		.desktop-tags {
			display: none;
			border: 1px solid color($theme-color-base-lighter);
			@include u-radius('lg');
			@include u-padding-x(3);
			@include u-padding-bottom(2);
			@include at-media(tablet) {
	      		display: none;
	      	}
	    	@include at-media(desktop) {
	        	display: block;
	    	}
		}

		.show-page-tag {
			display: block;
			width: fit-content;
		}
	}

	#practice-show-intrapreneur {
		.origin-story p {
			margin-bottom: 0.5rem;
		}

	}
	p {
		@extend .line-height-26;
	}
}
