// Styles for the practice search page
@import '../variables/colors';

#search-page {
  .usa-checkbox__label:before {
    border-radius: 0 !important;
  }

  .usa-combo-box__toggle-list, .usa-combo-box__clear-input {
    top: 2.3em !important;
  }

  .usa-combo-box__input-button-separator {
    top: 2.1em !important;
  }

  .usa-combo-box__list-option:not([data-value*="VISN"]) {
    padding-left: 24px !important;
  }

  .usa-select {
    max-width: 100% !important;
  }
}

.dm-search-practices {
  hr {
    border: none;
    height: 2px;
    background: #dcdee0;
  }

  mark {
    background: $dm-color-gold-20v;
    font-weight: bold;
  }

  /* Truncate text a given line amount */
  .truncate-text-search {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
  }
  .one-line {
    -webkit-line-clamp: 1;
    height: calc(1em * 1.5 * 1);
  }
  .two-lines {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.5 * 2);
  }
  .three-lines {
    -webkit-line-clamp : 3;
    height: calc(1em * 1.5 * 3);
  }
  .four-lines {
    -webkit-line-clamp: 4;
    height: calc(1em * 1.5 * 4);
  }
  .five-lines {
    -webkit-line-clamp: 5;
    height: calc(1em * 1.5 * 5);
  }

  /* Set 1:1 aspect ratio for image */
  /* Adapted from: http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
  .img-box {
    position: relative;
    width: 100%;  /* desired width */
  }

  .img-box-content {
    background-repeat: no-repeat;

    width: 100%;
    height: 210px;

    @media all and (min-width: 640px){
      height: 200px;
    }

    @media all and (min-width: 870px){
      width: 254px;
      height: 257px;
    }
  }

  .search-no-image {
    top: 36%;
  }
}

#dm-search-practices {
  .addListData {
    width: 120px !important;
  }
}

#no-search-query-content {
  width: 261px !important;
  height: 40vh;
  margin-top: 40px;

  .text-and-icon-container {
    height: 100%
  }

  #no-query-p, #no-query-results-p {
    top: 50%;
    transform: translateY(-50%);
  }

  .no-search-query-icon {
    font-size: 11.25em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#search_filters_dropdown {
  border: 0 !important;
  background-color: $dm-color-gray-2 !important;

  @media screen and (min-width: 1024px) {
    height: 55vh;
    border: 2px solid $dm-color-gray-5 !important;
    top: unset;
    right: unset;
    left: unset;
    bottom: unset;
    position: absolute;
    background-color: $dm-color-white !important;
  }

  fieldset {
    border: none !important;
    margin: 0 !important;
    width: 100% !important
  }

  .fa-times {
    display: block !important;
  }
}

#update-search-results-form {
  .usa-search [type="submit"] {
    background-image: none !important;
    width: 85px !important;
    padding: 8px 16px 8px 16px !important;

    @media screen and (min-width: 480px) {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      width: auto !important;
    }
  }

  .usa-search__submit-text {
    left: unset !important;
    position: unset !important;
  }
}

#close_filters_modal {
  background: none !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.category-container, .originating-facility-container, .adopting-facility-container {
  background-color: $dm-color-gray-2;

  @media screen and (min-width: 1024px) {
    background-color: $dm-color-white;
  }
}

.category-container {
  div:last-child {
    .usa-checkbox {
      &:last-child {
        .usa-checkbox__label {
          @media screen and (max-width: 1023px) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.mobile-modal-container {
  position: relative;
  padding-bottom: 93px;
  min-height: 100vh;

  @media screen and (min-width: 1024px) {
    position: unset;
    padding-bottom: 0;
    min-height: unset;
  }
}

#filter_button_container {
  @media screen and (max-width: 1023px) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}