// Styles for the practice search page
@import '../variables/colors';
.search-practices {

  hr {
    border: none;
    height: 3px;
    background: #dcdee0;
  }

  mark {
    background: #fff46b;
  }

  #practice-search-form {
    margin-bottom: 2rem;
  }

  #practice-search-field {
    margin: 0;
    float: left;
    height: 3rem;
  }

  #practice-search-button {
    float: left;
    height: 3rem;
    font-size: 1.3rem;
  }

  /* Wider than 650px */
  @media all and (min-width: 650px) {
    #practice-search-field {
      border-right: none;
      /*background: red;*/
    }

    #practice-search-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  /* Narrower than 650px */
  @media all and (max-width: 650px) {
    #practice-search-field {
      border-bottom: none;
      /*background: blue;*/
    }

    #practice-search-button {
      width: 100%;
      max-width: 30rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  #results-summary {
    font-style: italic;
    clear: both;
  }

  #search-results {
    margin-bottom: 10rem
  }

  #search-results a:visited {
    color: $dm-color-black;
  }

  /* Truncate text a given line amount */
  .truncate-text {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
  }
  .one-line {
    -webkit-line-clamp: 1;
    height: calc(1em * 1.2 * 1);
  }
  .two-lines {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.2 * 2);
  }
  .three-lines {
    -webkit-line-clamp : 3;
    height: calc(1em * 1.2 * 3);
  }
  .four-lines {
    -webkit-line-clamp: 4;
    height: calc(1em * 1.2 * 4);
  }
  .five-lines {
    -webkit-line-clamp: 5;
    height: calc(1em * 1.2 * 5);
  }

  /* Set 1:1 aspect ratio for image */
  /* Adapted from: http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
  .img-box {
    position: relative;
    width: 100%;  /* desired width */
  }
  //.img-box:before {
  //  content: "";
  //  display: block;
  //  padding-top: 100%;  /* initial ratio of 1:1 */
  //}
  .img-box-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    height: 271px;
    width: 271px;
  }

  .search-row {
    min-height: 300px;
  }

}
