// Styles for the practice search page
@import '../variables/colors';
.dm-search-practices {
  hr {
    border: none;
    height: 2px;
    background: #dcdee0;
  }

  mark {
    background: $dm-color-gold-20v;
    font-weight: bold;
  }

  /* Truncate text a given line amount */
  .truncate-text-search {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
  }
  .one-line {
    -webkit-line-clamp: 1;
    height: calc(1em * 1.5 * 1);
  }
  .two-lines {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.5 * 2);
  }
  .three-lines {
    -webkit-line-clamp : 3;
    height: calc(1em * 1.5 * 3);
  }
  .four-lines {
    -webkit-line-clamp: 4;
    height: calc(1em * 1.5 * 4);
  }
  .five-lines {
    -webkit-line-clamp: 5;
    height: calc(1em * 1.5 * 5);
  }

  /* Set 1:1 aspect ratio for image */
  /* Adapted from: http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
  .img-box {
    position: relative;
    width: 100%;  /* desired width */
  }

  .img-box-content {
    background-repeat: no-repeat;

    width: 100%;
    height: 210px;

    @media all and (min-width: 640px){
      height: 200px;
    }

    @media all and (min-width: 870px){
      width: 254px;
      height: 257px;
    }
  }

  .search-no-image {
    top: 36%;
  }

  .button-box {

  }
}

#no-search-query-content {
  width: 261px !important;
  height: 42vh;

  .text-and-icon-container {
    height: 100%
  }

  #no-query-p, #no-query-results-p {
    top: 50%;
    transform: translateY(-50%);
  }

  .no-search-query-icon {
    font-size: 11.25em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#search_filters_dropdown {
  height: 60vh;
  border: 2px solid $dm-color-gray-5 !important;

  fieldset {
    border: none !important;
    margin: 0 !important;
    width: 100% !important
  }

  .usa-checkbox__label:before {
    border-radius: 0 !important;
  }

  .usa-combo-box__toggle-list, .usa-combo-box__clear-input {
    top: 2.3em;
  }

  .usa-combo-box__input-button-separator {
    top: 2.1em;
  }

  li:not([data-value*="VISN"]) {
    padding-left: 24px !important;
  }
}