// unused file but keep for records
.shark-tank-eligibility-p, .shark-tank-faq-p {
  max-width: unset !important;
}

.shark-tank-support-link, .shark-tank-faq-link, .shark-tank-application-link {
  color: color($theme-color-primary);
  text-decoration: underline;

  &:hover {
    color: color($theme-color-primary) !important;
  }

  &:visited {
    color: color($theme-link-visited-color) !important;
  }
}
.shark-tank-apply-button {
  padding: 16px !important;
  margin-right: 0 !important;
}