@import '../variables/colors';

.shark-tank-eligibility-p, .shark-tank-faq-p {
  max-width: unset !important;
}

.shark-tank-support-link, .shark-tank-faq-link, .shark-tank-application-link {
  color: $dm-color-blue-50v;
  text-decoration: underline;

  &:hover {
    color: $dm-color-blue-50v !important;
  }

  &:visited {
    color: $dm-default-visited-purple !important;
  }
}
.shark-tank-apply-button {
  padding: 16px !important;
  margin-right: 0 !important;
}