@import "../variables/colors";

.practice-partners-background {
  height: 100%;

  &:after {
    background: $dm-color-white image-url('practice-partners-background.png') no-repeat center;
    opacity: 0.6;
    width: 100%;
    height: inherit;
    margin: auto 0;
    padding: inherit;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    content: "";
    min-height: inherit;
    transform: rotate(-3.11deg);
  }
}

.practice-partner-card {
  border-radius: 20px;
  background-color: $dm-color-white;
}

.practice-partner-short-name {
  background-color:$dm-color-royal-blue;
  height: 60px;
  border-radius: 0px 20px 20px 0px;
}