<% provide :head_tags do %>
  <%= javascript_tag do %>
    <%= render partial: 'page_not_found_404', formats: [:js] %>
  <% end %>
<% end %>

<div class="grid-container">
  <h1 class="usa-prose-h1 margin-top-128">Internal server error</h1>
  <p class="grid-col-9 usa-prose-intro margin-bottom-105">
    We're sorry, something went wrong.  We're working to fix it as soon as we can.
    Please check back in 30 minutes.
  </p>

  <div class="grid-col-7 usa-prose-body margin-bottom-205">
    <p class="margin-bottom-105">
      Send an email to <a class="usa-link" href="mailto:marketplace@va.gov">marketplace@va.gov</a> (or click the button below) to tell us
      when the error occurred and what actions you took right before this error message appeared.
    </p>
  </div>

  <div class="margin-bottom-5">
    <%= link_to 'Visit homepage', root_path, class: 'usa-button' %>
    <a href="/about#contact-us" class="usa-button usa-button--outline" >
      Contact us
    </a>
  </div>

  <p class="usa-prose-body margin-bottom-4">Error code: 500</p>
</div>