<% provide :head_tags do %>
  <%= javascript_tag do %>
    <%= render partial: 'page_not_found_404', formats: [:js] %>
  <% end %>
<% end %>

<div class="grid-container">
  <h1 class="usa-prose-h1 margin-top-8">Page not found</h1>
  <p class="grid-col-9 usa-prose-intro margin-bottom-105">
    We're sorry, we can't find the page you're looking for. It might have been removed, changed names, or is otherwise unavailable.
  </p>

  <div class="grid-col-7 usa-prose-body margin-bottom-205">
    <p class="margin-bottom-105">
      If you typed the URL directly, check your spelling and capitalization. Our URLs look like this: <strong>marketplace.gov/covid-19</strong>
    </p>
    <p>
      Visit our homepage for helpful tools and resources, or contact us and we'll point you in the right direction.
    </p>
  </div>

  <div class="margin-bottom-5">
    <%= link_to 'Visit homepage', root_path, class: 'usa-button' %>
    <a href="/about#contact-us" class="usa-button usa-button--outline" >
      Contact us
    </a>
  </div>

  <p class="usa-prose-body">Error code: 404</p>
</div>