<h1>Editing Developing Facility Type</h1>

<%= render 'form', developing_facility_type: @developing_facility_type %>

<%= link_to 'Show', @developing_facility_type %> |
<%= link_to 'Back', developing_facility_types_path %>
