<% @practice.additional_documents.each do |ad| %>
  <div class="display-flex flex-justify margin-bottom-1 dm-hyphens-auto dm-word-break-break-word">
    <%= link_to ad.attachment_s3_presigned_url, class: 'usa-link usa-link--external font-sans-xs-2 line-height-sans-505', download: ad.attachment_file_name, target: '_blank' do %>
      <%= ad.title.present? ? ad.title : ad.attachment_file_name %>
    <% end %>
  </div>
<% end %>