<!-- Use the accurate heading level to maintain the document outline -->
<button id="add_adoption_button" class="usa-button--outline dm-btn-primary new line-height-sans-3 <%= params[:created] ? 'margin-bottom-0' : 'margin-bottom-3' %>">
  Add new adoption
</button>
<% if params[:created] %>
  <div class="usa-alert usa-alert--info x1-bottom" role="alert">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">Success!</h3>
      <p class="usa-alert__text">Adoption entry was successfully created.</p>
    </div>
  </div>
<% end %>

<div id="adoption_form_container" class="display-none margin-bottom-2">
  <% if params[:exists] %>
    <%= render partial: 'existing_adoption_warning', locals: {facility: params[:exists]} %>
  <% end %>
  <!-- New/Create Adoption form -->
  <%= render partial: 'adoption_form' %>
</div>
<!-- start repeatable -->
<%= render partial: 'adoptions_list' %>