<section class="grid-container margin-y-2">
  <div id="breadcrumbs" class="dm-font-color-blue-50v breadcrumbs">
    <a href="/">Home</a>
    <span class="x0-5-left x0-5-right">›</span>

    <%
      breadcrumbs = session[:breadcrumbs]
    %>

    <% breadcrumbs.each_with_index do |b, i| %>
      <%
        last_crumb = breadcrumbs.size - 1 == i
      %>
        <% if !last_crumb %>
          <span><%= link_to b['display'] || b[:display], b['path'] || b[:path] %></span>
          <span class="x0-5-left x0-5-right">›</span>
        <% elsif !last_crumb && b['display'] == 'Edit' %>
          <span><%= link_to b['display'] || b[:display], b['path'] || b[:path] %></span>
        <% elsif last_crumb && b['display'] == 'Edit' %>
          <span class="text-bold"><%= b['display'] || b[:display] %></span>
        <% else %>
          <span class="text-bold"><%= b['display'] || b[:display] %></span>
        <% end %>
    <% end %>
  </div>
</section>