<div class='grid-row x2'>
  <div class='tablet:grid-col-6 p2-left p2-right'>
    <div class='grid-row flex-column flex-align-center'>
      <div class='grid-auto'>
        <!-- Cost level Circle -->
        <div class='grid-row flex-column flex-align-center flex-justify-center level-aggregate-circle'>
          <div class='grid-col-12'>
            <% cost_to_implement_aggregate = @practice.cost_to_implement_aggregate || 0 %>
            <% (0..3).each do |index| %>
              <% if index < cost_to_implement_aggregate %>
                <i class="fas fa-dollar-sign large-icon-dark aggregate-icon"></i>
              <% else %>
                <i class="fas fa-dollar-sign large-icon-light aggregate-icon"></i>
              <% end %>
            <% end %>
          </div>
          <div class='grid-auto'><h4 class='margin-0 fw-100'>Cost to Implement</h4></div>
        </div>
      </div>
      <% @practice.costs.each do |cost| %>
        <div class='grid-auto'>
          <h3><%= cost.description %></h3>
        </div>
      <% end %>
    </div>
  </div>

  <div class='tablet:grid-col-6 p2-left p2-right'>
    <div class='grid-row flex-column flex-align-center'>
      <div class='grid-auto'>
        <!-- Difficulty level Circle -->
        <div class='grid-row flex-column flex-align-center flex-justify-center level-aggregate-circle'>
          <div class='grid-col-12'>
            <% difficulty_aggregate = @practice.difficulty_aggregate || 0 %>
            <% (0..3).each do |index| %>
              <% if index < difficulty_aggregate %>
                <i class="fas fa-wrench large-icon-dark aggregate-icon"></i>
              <% else %>
                <i class="fas fa-wrench large-icon-light aggregate-icon"></i>
              <% end %>
            <% end %>
          </div>
          <div class='grid-auto'><h4 class='margin-0 fw-100'>Difficulty</h4></div>
        </div>
      </div>
      <% @practice.difficulties.each do |difficulty| %>
        <div class='grid-auto'>
          <h3><%= difficulty.description %></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
