<%
  no_departments = Department.find_by(name: 'None')
  all_departments = Department.find_by(name: 'All departments equally - not a search differentiator')
%>

<div class="grid-row word-break-break-word hyphens-auto padding-y-105 border-bottom-1px border-top-1px border-black">
  <div class="tablet:grid-col-6 padding-left-105">
    <p class="font-sans-xs-2 line-height-sans-505">Departments required</p>
  </div>
  <div class="tablet:grid-col-6 padding-left-105">
    <p class="font-sans-xs-2 line-height-sans-505">
      <% if @practice.departments.ids.include?(all_departments.id) %>
        All
      <% elsif @practice.departments.ids.include?(no_departments.id) %>
        None
      <% else %>
        <% @practice.departments.each do |d| %>
          <%= d.name %><%= ',' unless @practice.departments.last.id == d.id %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
