<div class="usa-alert usa-alert--warning x1-bottom">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Heads up!</h3>
    <p class="usa-alert__text">An adoption for
      <span class="fw-bold"><%= facility['OfficialStationName'] %></span>
      in <span class="fw-bold"><%= facility['MailingAddressState'] %></span>
      already exists in the entry list.
      If it is not listed, please
      <a target="_blank" href="mailto:dm@agile6.com?subject=<%= URI.encode('Bug report for Diffusion Marketplace') %>&body=<%= URI.encode('Please be sure to include a step-by-step list to reproduce the error, if applicable.') %>">report a bug</a>.
    </p>
  </div>
</div>