<div class="margin-bottom-9">
  <div class="grid-row flex-align-center margin-bottom-3">
    <h2 id="impact" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205">Impact</h2>
    <div class="height-2px border border-base-lightest flex-fill"></div>
  </div>
  <% @practice.impact_photos.each_with_index do |impact, ind| %>
    <div class='grid-container-full p3-top' id='impact-photo-<%= ind %>'>
      <div class="desktop:grid-col-9">
      <div>
        <%= image_tag impact.attachment_s3_presigned_url(:thumb), alt: '' %>
      </div>

      <div class='x4-top'>
        <% if impact.title.present? %>
          <h4><%= impact.title %></h4>
        <% end %>
      </div>
      <div>
        <p class="hyphens-auto word-break-break-word"><%= impact.description %></p>
      </div>
    </div>
  <% end %>
</div>
