<div class="margin-bottom-9">
  <% @practice.impact_photos.each_with_index do |impact, ind| %>
    <div class='grid-container-full p3-top' id='impact-photo-<%= ind %>'>
      <div>
        <%= image_tag impact.attachment_s3_presigned_url(:thumb), alt: '' %>
      </div>

      <div class='x4-top'>
        <% if impact.title.present? %>
          <h4><%= impact.title %></h4>
        <% end %>
      </div>
      <div>
        <p class="hyphens-auto word-break-break-word"><%= impact.description %></p>
      </div>
    </div>
  <% end %>
</div>
