
<% @practice.impact_photos.each_with_index do |impact, ind| %>
  <div class='grid-container-full padding-top-3' id='impact-photo-<%= ind %>'>
    <div class="grid-row grid-gap">
      <div class="grid-col-7">
        <% if impact.attachment? %>
          <div>
            <%= image_tag impact.attachment_s3_presigned_url(:thumb), class: 'impact-image', alt: '' %>
          </div>
        <% else %>
          <div class="bg-base-lightest position-relative" style="height: 263px; width: 393px;">
            <i class="fas fa-images fa-4x text-base-lighter no-impact-image"></i>
          </div>
        <% end %>
      </div>
      <div class="grid-col-fill">
        <div>
          <% if impact.title.present? %>
            <h4 class="margin-top-0 margin-bottom-1"><%= impact.title %></h4>
          <% end %>
        </div>
        <div>
          <p class="hyphens-auto word-break-break-word font-sans-xs-2 line-height-sans-505"><%= impact.description %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

