<h3 id="origin" class="font-sans-xl text-bold margin-0">Origin of the Practice</h3>
<div class='grid-container-full'>
  <div class='grid-row'>
    <div class="tablet:grid-col-8">
      <div class="">
        <% if @practice.origin_title.present? %>
          <h4 class="margin-y-105"><%= @practice.origin_title %></h4>
        <% end %>
      </div>
      <div>
        <p class="practice-summary margin-0 hyphens-auto word-break-break-word"><%= @practice.origin_story %></p>
      </div>
    </div>
    <div class="tablet:grid-col-4 display-flex">
      <% if @practice.origin_picture.present? %>
        <div class='margin-y-2 origin-picture-container overflow-hidden margin-x-auto rounded'>
          <%= image_tag @practice.origin_picture_s3_presigned_url(:thumb), class: '', alt: "#{@practice.name} origins" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
