<div class='grid-container p3-top'>
  <div class='grid-row flex-row flex-justify-center flex-align-center'>
    <%= image_tag @practice.origin_picture.url, class: 'rounded', alt: "#{@practice.name} origins" %>
  </div>

  <div class='x4-top'>
    <h3><%= @practice.origin_title %></h3>
  </div>
  <div>
    <p><%= @practice.origin_story %></p>
  </div>
</div>
