<div class="grid-row flex-align-center">
  <h2 id="origin" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205">Origin</h2>
  <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line">
</div>
<div class="grid-container-full origin-container">
  <div class="grid-row">
    <div class="margin-top-4 grid-col-8">
      <p class="practice-summary margin-0 hyphens-auto word-break-break-word font-sans-xs-2 line-height-sans-505"><%= @practice.origin_story %></p>
    </div>
  </div>
</div>
