<div class="usa-alert usa-alert--warning usa-alert--slim margin-bottom-5 pii-phi-alert" role="alert">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      Do not enter PII or PHI for any individual, Veteran, or patient.
      See our <%= link_to 'Privacy policy.', practice_instructions_path(@practice), class: 'dm-internal-link' %>
    </p>
  </div>
</div>