<div class="usa-alert usa-alert--warning usa-alert--slim margin-bottom-5" role="alert">
  <div class="usa-alert__body">
    <p class="usa-alert__text">Do not enter any veteran PII or PHI.  <%= link_to "Learn more", pii_phi_information_path %> about what constitutes PII and PHI.</p>
  </div>
</div>