<% @practice.publications.each do |p| %>
  <div class="margin-bottom-2 hyphens-auto word-break-break-word">
    <span>
      <%= link_to p.link, class: 'dm-font-color-pale-blue', target: '_blank' do %>
        <%= p.title %>
      <% end %>
    </span>
  </div>
<% end %>