<div id="practiceEditorPublicationModal" class="bg-base-light publication-modal-hidden">
  <div class="padding-y-9 publication-modal">
    <div class="margin-x-auto bg-white radius-md publication-modal-content">
      <div class="bg-secondary text-white radius-top-md">
        <h2 class="margin-0 padding-205 font-sans-lg">Cannot publish yet</h2>
      </div>
      <div class="publication-modal-body font-sans-md">
        <div class="padding-2">
          <p>This is what you need to do before publishing your practice to the Diffusion Marketplace</p>
        </div>
        <div class="font-sans-md line-height-sans-5 practice-editor-publication-error-container padding-2 border-top-2px border-bottom-2px border-base-lightest">
          <% if @practice %>
            <%# Overview errors %>
            <%
              tagline = @practice.tagline
              initiating_facility = @practice.facility? ? @practice.practice_origin_facilities.present? : @practice.initating_facility.present?
              initiating_facility_type = @practice.initiating_facility_type
              summary = @practice.summary
              date_initiated = @practice.date_initiated
              adoptions = @practice.diffusion_histories
            %>
            <% if initiating_facility_type.blank? || initiating_facility.blank? || date_initiated.blank? || summary.blank? %>
              <p class="text-bold">Overview</p>
              <ul class="dm-publish-errors-ul">
                <% if date_initiated.blank? %>
                  <li>You must include the initiation date for your practice</li>
                <% end %>
                <% if initiating_facility_type.blank? || initiating_facility.blank? %>
                  <li>You must include the initiating facility for your practice</li>
                <% end %>
                <% if summary.blank? %>
                  <li>You must include a practice summary</li>
                <% end %>
              </ul>
            <% end %>

            <% if adoptions.blank? %>
              <p class="text-bold">Adoptions</p>
              <ul class="dm-publish-errors-ul">
                <li>You must include at least one adoption</li>
              </ul>
            <% end %>

            <%# Contact error %>
            <%
              email = @practice.support_network_email
            %>
            <% if email.blank? %>
              <p class="text-bold">Contact</p>
              <ul class="dm-publish-errors-ul margin-bottom-0">
                <li>You must include a support network email</li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="padding-2 text-right">
        <button class="usa-button margin-0 padding-2 back-to-editor-button">Return to editor</button>
      </div>
    </div>
  </div>
</div>