<% @practice.publications.each do |p| %>
  <div class="margin-bottom-2 hyphens-auto word-break-break-word">
    <span>
      <%= link_to p.link, class: 'publication-link font-sans-xs-2 line-height-sans-505', target: '_blank' do %>
        <%= p.title %>
      <% end %>
    </span>
  </div>
<% end %>