<!-- Risk and mitigations list -->
<h3 id="risks_and_mitigation" class="font-sans-xl text-bold margin-0 margin-bottom-6">Risks & Mitigation</h3>
  <div class='grid-row'>
    <div class='tablet:grid-col-12'>
      <% @practice.risk_mitigations.each_with_index do |rm, index| %>
        <div class='grid-row  margin-bottom-5'>
          <div class='grid-col-6 padding-right-1'>
            <h4 class="margin-0">Risk</h4>
            <% rm.risks.each do |risk| %>
              <p><%= risk.description %></p>
            <% end %>
          </div>
          <div class='grid-col-6 padding-right-1'>
            <h4 class="margin-0">Mitigation</h4>
            <% rm.mitigations.each do |mitigation| %>
              <p><%= mitigation.description %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>