<!-- Risk and mitigations list -->
<div class="grid-row flex-align-center margin-bottom-4">
  <h2 id="risk_and_mitigation" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205">Risk and mitigation</h2>
  <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest dm-section-line">
</div>
<div class='tablet:grid-col-12'>
  <div class="grid-row padding-bottom-105 border-bottom-1px border-black">
    <div class='grid-col-6 padding-right-1'>
      <h5 class="margin-0 mitigation-header font-sans-xs-2 line-height-sans-505">Risk</h5>
    </div>
    <div class='grid-col-6 padding-right-1'>
      <h5 class="margin-0 risk-header font-sans-xs-2 line-height-sans-505">Mitigation</h5>
    </div>
  </div>
</div>
<div class='grid-row'>
  <div class='tablet:grid-col-12'>
    <% @practice.risk_mitigations.each_with_index do |rm, index| %>
      <div class='grid-row padding-y-105 border-bottom-1px border-black risk-and-mitigation-row'>
        <div class='grid-col-6 padding-right-2'>
          <% rm.risks.each do |risk| %>
            <p class="font-sans-xs-2 line-height-sans-505"><%= risk.description %></p>
          <% end %>
        </div>
        <div class='grid-col-6 padding-right-2'>
          <% rm.mitigations.each do |mitigation| %>
            <p class="font-sans-xs-2 line-height-sans-505"><%= mitigation.description %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>