<div class='grid-container p3-top'>
  <h3 id="timeline_and_checklist" class="font-sans-xl text-bold margin-0 margin-bottom-6">Timeline</h3>
  <div class="timeline">
    <% @practice.timelines.each_with_index do |t, i| %>
      <div class="container timeline-<%= i.even? ? 'left' : 'right' %>">
        <div class="content">
          <p><%= t.milestone %></p>
          <h2><%= t.timeline %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
