<div class='grid-container p3-top'>
  <h3>Timeline & Toolkit</h3>
  <p>30 days to train the Practice Champion, additional 60 days for the Champion to oversee staff training.
Training is “go at your own pace” and made up of multiple 20 minute videos.
$750,000 for 3 years for whole country (already paid) This line shouldn’t go in the Practice Page</p>

<div class='grid-row flex-row flex-justify-center x5-top'>
    <!-- <%= link_to practices_download_toolkit_path, class: 'usa-button usa-button-primary' do %> -->
    <button class='usa-button usa-button-primary'>
      Download Toolkit
      <i class="fas fa-file-download"></i>
    </button>
    <!-- <% end %> -->
  </div>
</div>



