<div class="grid-row flex-align-center margin-bottom-4">
  <h2 id="timeline_and_checklist" class="font-sans-xl text-bold margin-0 flex-auto margin-right-205 nav-header">Timeline</h2>
  <hr class="flex-fill height-2px border border-base-lightest bg-base-lightest section-line">
</div>
<% @practice.timelines.order(position: :asc).each_with_index do |t, i| %>
    <div class="timeline">
      <div class="bg-white padding-y-05"><i class="fas fa-circle fa-2x text-primary-darker"></i><span class="timeline-number"></span></div>
      <div class="hyphens-auto word-break-break-word padding-bottom-205 timeline-and-milestone-container">
        <h2 class="margin-top-0 margin-left-6"><%= t.timeline %></h2>
        <ul class="margin-left-6 padding-0 margin-y-1">
          <% t.milestones.each do |m| %>
            <li class="margin-left-3 font-sans-xs-2 line-height-sans-505"><%= m.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>


