<div class='grid-container p3-top'>
  <h3>Timeline & Toolkit</h3>

<div class='grid-row flex-row flex-justify-center x5-top'>
    <!-- <%= link_to practices_download_toolkit_path, class: 'usa-button usa-button-primary' do %> -->
    <button class='dm-button-primary'>
      Download Toolkit
      <i class="fas fa-file-download"></i>
    </button>
    <!-- <% end %> -->
  </div>
</div>



