<div class="dm-background-linear-up-lightblue-to-white full-view-height">
  <%= render 'shared/sub_search_nav' %>
  <section class="promo dismissible grid-container dm-background-primary-blue promo-primary promo-rounded-corners-20 dm-font-color-white">
    <div class="diffusion-background-circles-promo-translucent"></div>
    <div class="grid-row flex-direction-row-reverse dismiss-row p1">
      <button type="button" class="dismiss-cross dismiss-button z-index-10"><%= icon('fas', 'times') %></button>
    </div>
    <section class="promo-body p2">
      <div class="grid-row">
        <div class="tablet:grid-col-8 x1-bottom">
          <h2>Do you have a best practice worth spreading?</h2>
          <p>You can submit a practice to the diffusion marketplace and help save lives.</p>
        </div>
        <div class="tablet:grid-col-4 display-grid-align-items-center">
          <button class="dm-button-secondary x1-bottom dismiss-button">Maybe Later</button>
          <button class="dm-button-secondary">Learn More</button>
        </div>
      </div>
    </section>
  </section>
</div>
