<div id="search-page">

  <div class="dm-background-white full-view-height padding-top-1">

    <section class="grid-container x1-5-bottom">
      <div id="breadcrumbs" class="dm-font-color-primary-blue p1-top breadcrumbs dm-font-color-super-violet-ish">
        <a href="/">Home</a>
        <span class="x0-5-left x0-5-right">›</span>
        <span id="search-breadcrumb">Practices</span>
      </div>
    </section>

    <section class="grid-container margin-bottom-8">
      <%= render "shared/messages" %>
      <h1 class="font-sans-3xl margin-top-0 margin-bottom-205">Find your new best practice</h1>
      <h2 class="margin-0">Search by Practice name, facility location, condition, or keyword</h2>
    </section>

    <section class="dm-background-light-blue margin-bottom-6">
      <div class="grid-container padding-y-4">
        <form id="practicesSearchForm" name="practiceSearchForm" action="/search" method="get" class="usa-search margin-bottom-3">
          <div role="search" class="flex-column">
            <label class="margin-bottom-5" for="practice-search-field">Type keywords to find a practice</label>
            <div id="search-bar-container" class="display-flex">
              <input class="usa-input" id="practice-search-field" required title="Type at least three characters to search." autocomplete="off" type="search" name="query">
              <button id="practice-search-button" class="usa-button" type="submit">
                <span class="usa-search__submit-text">Search</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="search-practices grid-container">
      <h2 class="font-sans-xl">Browse Practices</h2>
      <div class="grid-row grid-gap-lg ">
        <% @practices.each_with_index do |practice, i| %>
          <% index = i + 1 %>
          <div class="tablet:grid-col-4 flex-column display-flex margin-bottom-8 ">
            <%= render partial: 'marketplace_card', locals: {practice: practice} %>
            <div class="marketplace-card-border-bottom margin-top-auto"></div>
          </div>
        <% end %>
      </div>
    </section>

  </div>

</div>
