<div id="search-page">

  <div class="dm-background-white full-view-height padding-top-1">

    <section class="grid-container x1-5-bottom">
      <div id="breadcrumbs" class="dm-font-color-primary-blue p1-top breadcrumbs dm-font-color-super-violet-ish">
        <a href="/">Home</a>
        <span class="x0-5-left x0-5-right">›</span>
        <span id="search-breadcrumb">Practices</span>
      </div>
    </section>

    <section class="grid-container margin-bottom-1">
      <%= render "shared/messages" %>
      <h1 class="font-sans-3xl margin-top-0 margin-bottom-205">Create your practice page</h1>
      <h2 class="margin-0">Please follow these instructions to complete each of the following sections for your practice page.</h2>
    </section>

    <section class="margin-bottom-6">
      <div class="grid-container padding-y-1">
        <ul>
          <li>Do not enter Personally Identifying Information (PII) or Personal Health Information (PHI) for any individual, Veteran, or patient into the Diffusion Marketplace.</li>
          <li>All uploaded files (research, data, examples, illustrations, etc.) should be displayed in a general format (e.g. PNG, JPG, PDF) that is ready to be shown to the public.</li>
          <li>Ensure your work is accurate, formatted consistently, and is complete before publishing. Use sentence case and spell out acronyms. Your published responses will be displayed ‘as-is’ on the Diffusion Marketplace.</li>
          <li>You will be able to edit your practice once it’s published.</li>
        </ul>
      </div>
    </section>
  </div>

</div>
