<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'search', formats: [:js] %>
  <% end %>
<% end %>

<div id="search-page">
  <div class="bg-white padding-top-1">
    <section class="grid-container">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <h1 class="font-sans-2xl margin-top-0 margin-bottom-2">Search results</h1>
      <div class="grid-row">
        <form id="dm-practice-search-form" name="dm-practice-search-form" class="usa-search margin-bottom-3 grid-col-12 desktop:grid-col-6">
          <div role="search" class="flex-column">
            <label class="margin-bottom-1" for="dm-practice-search-field"></label>
            <div id="search-bar-container" class="display-flex">
              <input class="usa-input" id="dm-practice-search-field" required title="Type at least three characters to search." autocomplete="off" type="search" name="search">
              <button id="dm-practice-search-button" class="usa-button" type="submit">
                <span class="usa-search__submit-text text-bold">Search</span>
              </button>
            </div>
          </div>
          <p class="margin-top-1 font-sans-3xs grid-col-12 text-italic">Search by practice name, facility name, clinical condition, category, or keyword</p>
        </form>
      </div>
    </section>

    <section class="dm-search-practices grid-container">
      <p class="margin-bottom-3 font-sans-lg" id="results-summary"></p>
      <div id="search-results"></div>
    </section>
  </div>
</div>
