<% provide :head_tags do %>
  <%= javascript_tag 'data-turbolinks-track': 'reload' do %>
    <%= render partial: 'search', formats: [:js] %>
  <% end %>
<% end %>

<div id="search-page">
  <div class="dm-background-white padding-top-1">
    <section class="grid-container x1-5-bottom">
      <div id="breadcrumbs" class="dm-font-color-blue-50v p1-top breadcrumbs">
        <a href="/">Home</a>
      </div>
    </section>
    <section class="grid-container margin-bottom-3">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
    </section>

    <section class="search-practices grid-container">
      <p class="margin-bottom-2" id="results-summary"></p>
      <div id="search-results" class="margin-bottom-6"></div>
    </section>
  </div>
</div>
