<div class="dm-background-white full-view-height padding-top-1">
  <section class="grid-container x1-5-bottom">
    <div class="dm-font-color-primary-blue p1-top breadcrumbs dm-font-color-super-violet-ish">
      <a href="/">Home</a>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Search</span>
    </div>
  </section>

  <section class="grid-container margin-bottom-3">
    <%= render "shared/messages" %>
    <h1 class="font-sans-3xl margin-top-0 margin-bottom-205">Find a Practice</h1>
    <form id="searchForm" name="searchForm"  class="usa-search">
      <div role="search" class="flex-column">
        <label class="margin-bottom-5" for="practice-search-field">Type keywords to find a practice</label>
        <div class="display-flex">
          <input class="usa-input" id="practice-search-field" required title="Type at least three characters to search." autocomplete="off" type="search" name="search">
          <button id="practice-search-button" class="usa-button" type="submit">
            <span class="usa-search__submit-text">Search</span>
          </button>
        </div>
      </div>
    </form>
  </section>

  <section class="search-practices grid-container">
    <p id="results-summary"></p>
    <div id="search-results"></div>
  </section>
</div>
