@font-face {
  font-family: 'diffusion';
  src: font-url('diffusion.eot');
  src: font-url('diffusion.eot?#iefix') format('embedded-opentype'),
    font-url('diffusion.svg#diffusion') format('svg'),
    font-url('diffusion.woff') format('woff'),
    font-url('diffusion.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

i.dm {
  font-family: 'diffusion';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  speak: none;
  text-transform: none;


  &.dm-saluting-veteran:before { content: "\e900";}
}

.line-height-sans-205 {
  line-height: 1.13;
}

.line-height-sans-505 {
  line-height: 1.53;
}

.font-sans-xs-2 {
  font-size: 16.96px;
}
.font-sans-4xs {
  font-size: 0.75rem !important;
}

.line-height-sans-255 {
  line-height: 1.2 !important;
}

.line-height-sans-105 {
  line-height: 1.0 !important
}

.line-height-26 {
  line-height: 26px;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-37px {
  line-height: 37px;
}

.line-height-46px {
  line-height: 46px;
}