.line-height-sans-205 {
  line-height: 1.13;
}

.line-height-sans-505 {
  line-height: 1.53;
}

.font-sans-xs-2 {
  font-size: 16.96px;
}
.font-sans-4xs {
  font-size: 0.75rem !important;
}

.line-height-sans-255 {
  line-height: 1.2 !important;
}

.line-height-sans-105 {
  line-height: 1.0 !important
}

.line-height-26 {
  line-height: 26px !important;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-37px {
  line-height: 37px;
}

.line-height-46px {
  line-height: 46px;
}