/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
@import "uswds-theme-color";
@import "uswds/uswds";
@import "../../dm/variables/colors";

* {
  box-sizing: border-box;
}

/* Override usa-banner */
.usa-banner {
  background-color: color($theme-color-base-darkest);

  .usa-banner__header {
    color: color($theme-color-base-lightest);
  }

  .usa-banner__content {
    color: color($theme-color-base-lightest);
  }

  .usa-banner__button-text, .usa-banner__header-action {
    color: color($theme-color-primary-light);
  }

  .usa-banner__header-action {
    color: color($theme-color-base-lightest);

    &:after {
      background-image: none;
      content: '\f078';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }
  }

  .usa-banner__button[aria-expanded=false]::after {
    background-image: none;
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    left: -999em;
    position: absolute;
    width: 12px;
    color: color($theme-color-primary-light);

    @media screen and (min-width: 40em) {
      position: static;
    }
  }

  .usa-banner__button[aria-expanded=true]::after {
    background-image: none;
    content: '\f077';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    left: -999em;
    position: absolute;
    width: 12px;
    color: color($theme-color-primary-light);

    @media screen and (min-width: 40em) {
      position: static;
      display: inline;
    }
  }
}

/* Override usa-logo */
@media screen and (min-width: 64em) {
  .usa-header--extended .usa-logo {
    font-size: 1.5rem;
  }
}

/* Override .usa-nav*/
.usa-nav__secondary-links .usa-nav__secondary-item + .usa-nav__secondary-item::before {
  color: transparent;
}

.usa-header--extended .usa-nav {
  border-top: none;
  border-right: none;
  border-bottom: 3px solid $dm-color-darker-blue;
  border-left: none;
}

.usa-header + .usa-section, .usa-header + main {
  border: none;
}

.usa-nav__secondary-links .usa-nav__secondary-item,
.usa-nav__secondary-links a {
  color: #000000;
}

.usa-button-outline-white {
  @extend .usa-button--outline;
  color: #FFFFFF !important;
  box-shadow: inset 0 0 0 2px #FFFFFF !important;
}

.usa-button-white {
  background-color: #FFFFFF !important;
  color: $dm-color-darker-blue !important;
}

// USWDS utility extensions

button.appearance-none {
  appearance: none;
  background: none;
  border: none;
}

.link-dark, .link-dark:visited {
  @extend .text-base-darkest;
}

// Custom styles

p {
  @extend .measure-none;
}

.icon {
  position: relative;
  top: 6px;
  margin-right: 6px;
}

.icon-large {
  float: left;
  margin-right: 15px;
  position: relative;
  top: 20px;
  height: 50px;
}

.icon-positive-outcomes {
  float: left;
  margin-right: 15px;
  height: 35px;
}

.icon-highlights {
  width: 35px;
}

.badge {
  position: relative;
  top: 15px;
  width: 40px;
}

.section-selected {
  border-bottom: solid 6px color('accent-cool-dark');
}

.usa-sidenav .usa-current {
  color: #000000;
  font-weight: 600;
}

.usa-sidenav a {
  color: #000000;
  font-weight: 100;
  padding: 1rem;
}

.usa-sidenav .usa-current::after {
  background-color: #0076d6;
  border-radius: 0;
  height: 100%;
  top: 0;
  width: 0.5rem;
}

a {
  color: black;
  text-decoration: none;

  &:visited {
    color:black;
  }

  &:hover {
    text-decoration: underline;
    color: #0050D8;

    > * {
      text-decoration: underline;
    }

    img, .img {
      cursor: pointer;
      opacity: .9;
    }

  }

  &.beta-banner-link {
    color: black;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media all and (min-width: 40em) {
  /* line 68, uswds-rails-029b4d4c92fc/app/assets/stylesheets/uswds/core/mixins/_utility-builder.scss */
  .tablet\:display-block {
    display: block;
  }
}

@media all and (min-width: 40em) {
  /* line 68, uswds-rails-029b4d4c92fc/app/assets/stylesheets/uswds/core/mixins/_utility-builder.scss */
  .tablet\:display-flex {
    display: flex;
  }
}