/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
@import "uswds-theme-color";
@import "uswds/uswds";
@import "../../dm/variables/colors";

* {
  box-sizing: border-box;
}

.usa-button-outline-white {
  //@extend .usa-button--outline;
  background-color: transparent !important;
  color: #FFFFFF !important;
  box-shadow: none !important;
  border: 2px solid #ffffff !important;
}

.usa-button--outline {
  box-shadow: none !important;
  border: 2px solid $dm-color-primary-blue !important;

  &:hover {
    border: 2px solid #1a4480 !important;
  }

  &:disabled {
    border: 2px solid #dcdee0 !important;
  }
}

// USWDS utility extensions

button.appearance-none {
  appearance: none;
  background: none;
  border: none;
}

.link-dark, .link-dark:visited {
  @extend .text-base-darkest;
}

.link-primary, .link-primary:visited {
  @extend .text-primary;
  &:hover {
    @extend .text-base-darkest;
  } 
}

// Custom styles

p {
  @extend .measure-none;
}

.icon {
  position: relative;
  top: 6px;
  margin-right: 6px;
}

.icon-large {
  float: left;
  margin-right: 15px;
  position: relative;
  top: 20px;
  height: 50px;
}

.icon-positive-outcomes {
  float: left;
  margin-right: 15px;
  height: 35px;
}

.icon-highlights {
  width: 35px;
}

.badge {
  position: relative;
  top: 15px;
  width: 40px;
}

.section-selected {
  border-bottom: solid 6px color('accent-cool-dark');
}

.usa-sidenav .usa-current {
  color: #000000;
  font-weight: 600;
}

.usa-sidenav a, .usa-sidenav p {
  color: #000000;
  font-weight: normal;
}

.usa-sidenav li {
  height: 40px !important;
}

.usa-sidenav p {
  font-weight: normal;
}

.usa-sidenav a:hover {
  background-color: #ffffff !important;
}

.usa-sidenav .usa-current::after {
  background-color: $dm-color-lightest-gray !important;
}

.dm-link-title {
  color: black;
  text-decoration: none;

  &:visited {
    color:black;
  }

  &:hover {
    text-decoration: underline;
    color: $dm-color-blue-50v;

    > * {
      text-decoration: underline;
    }

    img, .img {
      cursor: pointer;
      opacity: .9;
    }

    &:visited {
      color: $dm-color-blue-50v;
    }

  }


}
a {
  color: $dm-color-blue-50v;
  text-decoration: underline;

  &:visited {
    color: $dm-alt-visited-purple;
  }

  &:hover {
    text-decoration: none;
    color: $dm-color-blue-50v;
  }

  &.beta-banner-link {
    color: black;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
    &:visited {
      color: black;
    }
  }
}
@media all and (min-width: 40em) {
  /* line 68, uswds-rails-029b4d4c92fc/app/assets/stylesheets/uswds/core/mixins/_utility-builder.scss */
  .tablet\:display-block {
    display: block;
  }
}

@media all and (min-width: 40em) {
  /* line 68, uswds-rails-029b4d4c92fc/app/assets/stylesheets/uswds/core/mixins/_utility-builder.scss */
  .tablet\:display-flex {
    display: flex;
  }
}

.favorite-practice-button, .featured-favorite-practice-button, .search-favorite-practice-button {
  color: $dm-color-black;
  position: absolute;
  width: 28px;
  height: 28px;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  z-index: 2;
}

.featured-favorite-practice-button {
  right: 26px !important;
  top: 10px !important;
}

.favorite-practice-button, .favorite-practice-button {
  right: 22px;
  top: 22px;
}

.col-4-not-featured-favorite-button {
  right: 26px;
  top: 10px;
}

.search-favorite-practice-button {
  right: -8px;
  top: 4.5px;
}

.highlighted-practice > .favorite-practice-button {
  top: 2%;
  right: 2%;
}

.text-no-underline {
  @include u-text('no-underline', !important)
}

.practice-card-outline {
  border: 2px solid #DCDEE0;
  box-sizing: border-box;
  border-radius: 2px;
  
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .usa-checkbox__input:checked + .usa-checkbox__label::before, .usa-radio__input:checked + .usa-radio__label::before {
    border: 3px solid #005ea2 !important;
    padding: 5px !important;
  }
}


