<div class="grid-container">
  <div class="grid-row grid-gap">
    <div id="description" class="grid-col-12 margin-top-4">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <%= render partial: "products/step_indicator", locals: {product: @product} %>
      <section class="usa-section padding-y-0 introduction">
        <h1 class="margin-top-0">Editors</h1>
      </section>
    </div>
  </div>
</div>