<div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-12 margin-top-4">
      <%= render partial: "shared/messages", locals: {small_text: false} %>
      <section class="usa-section padding-y-0">
        <h1 class="margin-top-0">Description</h1>
        <%= nested_form_for(@product, html: {multipart: true, style: 'max-width: 100%', class: 'usa-form', id: 'form'}) do |f| %>
          <fieldset class="usa-fieldset grid-col-10">
          </fieldset>
        <% end %>
      </section>
    </div>
  </div>
</div>