/*
 *= require mentionsInput/jquery.mentionsInput
 *= require_self
 *= require_tree .
 */

.commontator {
  *:not(input):not(textarea) {
    border: none;
  }

  .hidden {
    display: none !important;
  }

  .header {
    display: none;
    overflow: hidden;
  }

  .status {
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
  }

  .comment-list {
    background-color: #FFF;
  }

  .children {
    width: 100%;
  }

  /* Modified from: https://www.strangerstudios.com/sandbox/pagination/diggstyle.php */
  .page-entries-info, .will-paginate {
      margin: 10px 0;
  }

  .mentions {
    left: -8px;
    top: -8px;

    font-family: monospace;
    font-size: 13.3333px;
  }

  .field textarea {
    width: 100%;
    max-width: unset !important;
    padding: 6px 18px 6px 18px;
    overflow: auto;
    resize: none;
    height: 40px;
  }

  .submit {
    margin-top: 16px;
    text-align: right;
    width: 100%;

    .cancel-comment, .post-comment, .reply-comment {
      padding: 16px;
      border: 2px solid #565C65;
      border-radius: 4px;
      font-weight: bold;
      color: #565C65;

      &:hover {
        color: #005EA2;
        border-color: #005EA2;
      }
    }

    .cancel-comment {
      margin-right: 8px;
    }

    .post-comment {
      margin-right: 0;
    }
  }

  .fa-edit:hover {
    text-decoration: none;
  }

  .actions {
    .fa-edit:hover {
      text-decoration: none;
    }
  }
}

.show-hide-buttons-container {
  margin-left: 126px;
}
