/*
 *= require mentionsInput/jquery.mentionsInput
 *= require_self
 *= require_tree .
 */

.commontator {
  *:not(input):not(textarea) {
    border: none;
    // padding: 0;
  }

  .hidden {
    display: none !important;
  }

  .header {
    display: none;
    overflow: hidden;
  }

  // .actions {
  //   margin-left: 14px;
  // }

  .status {
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
  }

  .comment-list {
    background-color: #FFF;
  }

  .children {
    width: 100%;
  }

  /* Modified from: https://www.strangerstudios.com/sandbox/pagination/diggstyle.php */
  .page-entries-info, .will-paginate {
      margin: 10px 0;
  }

  .comments-pagination {
    a {
        margin-right: 4px;
        padding: 2px 5px 2px 5px;
        border: 1px solid #999;

        color: #666;
        text-decoration: none;

      &:hover, &:active {
        border: 1px solid #555;

        color: #000;
      }
    }

    em {
        margin-right: 4px;
      border: 1px solid #555;
        padding: 2px 5px 2px 5px;

      background-color: #555;

      font-weight: bold;
      color: #FFF;
    }

    .name {
        margin: 2px 9px 2px 0;
    }

    .disabled {
        margin-right: 4px;
      border: 1px solid #EEE;
      padding: 2px 5px 2px 5px;

      color: #DDD;
    }
  }

  .mentions {
    left: -8px;
    top: -8px;

    font-family: monospace;
    font-size: 13.3333px;
  }

  .field textarea {
    width: 100%;
    border: 1px solid #171717;
    padding: 9px 0 9px 8px;
    overflow: auto;
    resize: none;
    height: 67px;
  }

  .submit {
    margin-top: 8px;
    // margin-bottom: 29px;
    text-align: right;
    width: 100%;

    .cancel-comment, .post-comment, .reply-comment {
      padding: 16px;
      border: 2px solid #565C65;
      border-radius: 4px;
      font-weight: bold;
      color: #565C65;

      &:hover {
        color: #005EA2;
        border-color: #005EA2;
      }
    }

    .cancel-comment {
      margin-right: 8px;
    }

    .post-comment {
      margin-right: 0;
    }
  }

  .fa-edit:hover {
    text-decoration: none;
  }

  .actions {
    .fa-edit:hover {
      text-decoration: none;
    }
  }
}
