@import "../dm/variables/colors";

.commontator .comment {
  &, .body blockquote {
    border: none;

    font-weight: normal;
    color: #000;
  }

  & {
    clear: both;
    margin: 0;
    // padding: 0;

    font-style: normal;
  }

  .section {
      clear: both;
  }

  .middle {
    margin: 0;
  }

  .bottom {
    margin-top: 10px;
  }

  .author {
    font-size: 110%;
    font-weight: bold;
  }

  .actions {
    font-size: 90%;
  }

  .avatar {
    .fa-user-circle::before {
      font-size: 40px;
    }
  }

  .vote-form {
    display: inline-block;
  }

  .votes {

    text-align: center;

    input, img {
      background-color: transparent;
    }
  }

  .upvote, .downvote {
    display: block;

    height: 18px;

    margin: 5px 0;
  }

  .like {

    margin-right: 5px;
  }

  .vote-count {
    font-size: 100%;
    margin-right: 9px;
    color: $dm-color-gray;
  }

  .blocked {
    color: $dm-color-gray;
  }

  .body {
    overflow: hidden;

    blockquote {
      border-color: #CCC;
      padding: 5px 7px;

      background-color: #EEE;

      font-style: italic;
    }
  }

  .reply, .timestamp {
    font-size: 90%;
  }

  .reply {
    a {
      color: $dm-color-gray;
    }
    .new-comment {
      width: 100%;
      margin-top: 18px;
    }
  }

  .reply {
    a:hover {
      color: #005EA2;
    }
  }

  .timestamp {
    color: black;
  }

  .error-explanation {
    margin-bottom: 10px;

    h3 {
      margin-top: 5px;
    }

    ul {
      list-style-position: inside;
    }
  }

  .pagination {
    margin: 10px 7px;
  }
}

h2 {
  margin-bottom: 0;
}

.comment-author-job-title {
  font-size: 16.96px;
  line-height: 26px;
  color: gray;
}

.edit-comment-icon, .fa-trash-alt, .fa-trash-restore-alt {
  color: $dm-color-gray;
  text-decoration: none;
}

.edit-comment-icon:hover, .fa-trash-alt:hover, .fa-trash-restore-alt:hover {
  color: $dm-color-base-dark;
}

body {
  p {
    margin: 0
  }
}

.comment-container {
  margin-top: 29px;
  width: 100%;
}

.association-with-practice-container {
  display: inline-block;
  margin-left: 14px;

  .association-with-practice {
    background: #FFBE2E;
    border-radius: 16px;
    padding: 0 10px;
  }
}

.vote-disabled:hover {
  color: #C9C9C9;
}

.comment-radio {
  display: none;
}

.fa-thumbs-up {
  padding: 0;

  &:hover {
    cursor: pointer;
    color: #565c65;
  }
}

.empty-vote {
  color: $dm-color-gray;
}

.vote-disabled {
  color: #C9C9C9;
  background-color: transparent;
   &:hover {
     color: #C9C9C9 !important;
   }
}

.voted {
  color: #005EA2;
}

.show-hide-button {
  text-decoration: none;
  font-weight: bold;
  color: black;
  
  &:hover {
    text-decoration: underline;
    color: #005EA2;
  }
}

.comment-cancel {
  border: 2px solid #565C65 !important;

  &:hover {
    border: 2px solid #3d4551 !important;
    color: #3d4551;
  }
}

.comments-show-hide-button {

  &:disabled {
    color: $dm-color-gray;
    background-color: initial;
  }
}

.report-abuse-container {
  cursor: pointer;
}

.report-abuse-submit {
    border: 2px solid $dm-color-primary-blue !important;
  &:hover {
    border: 2px solid $dm-color-primary-dark-blue !important;
  }
  &:focus {
    outline-offset: 0 !important;
  }
}

.fa-angle-down {
  font-size: 20px;
}

.hide-report-comment {
  display: none !important;
}

.fa-flag:hover {
  color: #E41D3D;
}

.usa-radio__input:focus + .team-member-label::before, .usa-radio__input:focus + .implementer-label::before {
  outline: 0.25rem solid $dm-color-medium-yellow !important;
  outline-offset: 0.25rem !important;
}

.comment-three-lines {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp : 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.report-comment-body {
  height: 160px;
  overflow-y: auto;
}

.delete-comment-icon {
  &:hover {
    text-decoration: none;
  }
}

::-webkit-input-placeholder {
  color: $dm-color-gray !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: $dm-color-gray !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $dm-color-gray !important;
}

:-ms-input-placeholder {
  color: $dm-color-gray !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .comment-width-ie {
    width: 80%;
  }
}

.more-link {
  color: $dm-color-primary-blue !important;

  &:hover {
    text-decoration: none !important
  }
  i:before {
    display: inline-block;
    text-decoration: none !important;
  }
}

.more-content span {
  display: none;
}

.show-arrow {
  font-size: 0.75em !important;
}

.more {
  p {
    padding-bottom: 4px;
  }
}

.fa-user-circle {
  color: $dm-color-darker-blue !important;
  text-align: center;
}

