.commontator .comment {
  &, .body blockquote {
    border: none;

    font-weight: normal;
    color: #000;
  }

  & {
    clear: both;
    margin: 0;
    // padding: 0;

    font-style: normal;
  }

  .section {
      clear: both;
  }

  .middle {
    margin: 0;
  }

  .bottom {
    margin-top: 10px;
  }

  .author {
    font-size: 110%;
    font-weight: bold;
  }

  .actions {
    font-size: 90%;
  }

  .avatar {
    .fa-user-circle {
      color: #162E51;
      // width: 40px;
      text-align: center;
    }

    .fa-user-circle::before {
      font-size: 40px;
    }
  }

  .vote-form {
    display: inline-block;
  }

  .votes {

    text-align: center;

    input, img {
      background-color: transparent;
    }
  }

  .upvote, .downvote {
    display: block;

    height: 18px;

    margin: 5px 0;
  }

  .like {

    margin-right: 5px;
  }

  .vote-count {
    font-size: 100%;
    margin-right: 9px;
    color: #71767A;
  }

  .blocked {
    color: #71767A;
  }

  .body {
    overflow: hidden;

    blockquote {
      border-color: #CCC;
      padding: 5px 7px;

      background-color: #EEE;

      font-style: italic;
    }
  }

  .reply, .timestamp {
    font-size: 90%;
  }

  .reply {
    a {
      color: #71767A;
    }
    .new-comment {
      width: 100%;
      margin-top: 18px;
    }
  }

  .reply {
    a:hover {
      color: #005EA2;
    }
  }

  .timestamp {
    color: black;
  }

  .error-explanation {
    margin-bottom: 10px;

    h3 {
      margin-top: 5px;
    }

    ul {
      list-style-position: inside;
    }
  }

  .pagination {
    margin: 10px 7px;
  }
}

h2 {
  margin-bottom: 0;
}

// h4 {
//   margin: 10px 0 16px 0;
// }

.comment-author-job-title {
  font-size: 16.96px;
  line-height: 26px;
  color: gray;
}

// .fa-edit, .delete, .undelete {
//   margin-right: 11px;
// }

.fa-edit, .fa-trash-alt, .fa-trash-restore-alt {
  color: #71767A;
  text-decoration: none;
}

.fa-edit {
  text-decoration: none;
}

.fa-edit:hover, .fa-trash-alt:hover, .fa-trash-restore-alt:hover {
  color: #005EA2;
}

body {
  p {
    margin: 0
  }
}

.comment-container {
  margin-top: 29px;
  width: 100%;
}

.association-with-practice-container {
  display: inline-block;
  margin-left: 14px;

  .association-with-practice {
    background: #FFBE2E;
    border-radius: 16px;
    padding: 0 10px;
  }
}

h5 {
  margin-top: 0;
  font-size: 16.96px;
  cursor: pointer;

  &:hover {
    color: #005EA2;
    text-decoration: underline;
  }
}

.vote-disabled:hover {
  color: #71767A;
}

.comment-radio {
  display: none;
}

.fa-thumbs-up {
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.empty-vote, .vote-disabled {
  color: #71767A;
}

.voted {
  color: #005EA2;
}

.show-hide-button {
  text-decoration: none;
  font-weight: bold;
  color: black;
  
  &:hover {
    text-decoration: underline;
    color: #005EA2;
  }
}

.comment-cancel {
  box-shadow: inset 0 0 0 2px #565C65;

  &:hover {
    box-shadow: inset 0 0 0 2px #3d4551;
    color: #3d4551;
  }
}