@import "../dm/variables/colors";

.commontator .comment {
  &, .body blockquote {
    border: none;

    font-weight: normal;
  }

  & {
    clear: both;
    margin: 0;
    // padding: 0;

    font-style: normal;
  }

  .section {
      clear: both;
  }

  .middle {
    margin: 0;
  }

  .bottom {
    margin-top: 4px;
  }

  .author {
    font-size: 16px;
    font-weight: bold;
  }

  .actions {
    font-size: 90%;
  }

  .avatar {
    .fa-user-circle::before {
      font-size: 40px;
    }
  }

  .vote-form {
    display: inline-block;
  }

  .votes {
    input, img {
      background-color: transparent;
    }
  }

  .upvote, .downvote {
    display: block;

    height: 18px;

    margin: 5px 0;
  }

  .vote-count {
    display: inline-block;
    font-size: 100%;
    //margin-right: 24px;
    width: 31px;
    color: $dm-color-blue-50v;
    margin-left: 5px;
  }

  .blocked {
    color: $dm-color-gray-30;
  }

  .body {
    overflow: hidden;

    blockquote {
      border-color: #CCC;
      padding: 5px 7px;

      background-color: #EEE;

      font-style: italic;
    }
  }

  .reply {
    font-size: 90%;
  }

  .reply {
    .new-comment {
      width: 100%;
      margin-top: 18px;
    }
  }

  .error-explanation {
    margin-bottom: 10px;

    h3 {
      margin-top: 5px;
    }

    ul {
      list-style-position: inside;
    }
  }

  .pagination {
    margin: 10px 7px;
  }
}

.commontator-timestamp {
  color: $dm-color-gray-60 !important;
}

// Hiding pagination for now due to extra padding
.pagination {
  display: none !important;
}

h2 {
  margin-bottom: 0;
}

.comment-author-job-title {
  font-size: 16.96px;
  line-height: 26px;
  color: gray;
}

body {
  p {
    margin: 0
  }
}

.comment-container {
  margin-top: 29px;
  width: 100%;
}

.vote-disabled:hover {
  color: #C9C9C9;
}

.comment-radio {
  display: none;
}

.fa-thumbs-up, .edit-comment-icon {
  text-decoration: none;
  padding: 0;
  color: $dm-color-blue-50v;
  background-color: transparent !important;

  &:hover {
    color: $dm-color-blue-70v;
    cursor: pointer;
  }

  &:active {
    color: $dm-color-blue-80v;
  }
}

.vote-disabled {
  color: #C9C9C9;
  background-color: transparent;
   &:hover {
     color: #C9C9C9 !important;
   }
}

.show-hide-button {
  text-decoration: none;
  font-weight: bold;
  color: black;
  
  &:hover {
    text-decoration: underline;
    color: #005EA2;
  }
}

.comments-show-hide-button {

  &:disabled {
    color: $dm-color-gray-30;
    background-color: initial;
  }
}

.report-abuse-container, .adoptions-status-container {
  cursor: pointer;
}


.fa-angle-down {
  font-size: 20px;
}

.hide-report-comment {
  display: none !important;
}

.fa-flag, .fa-trash-alt, .fa-trash-restore-alt {
  color: $dm-color-red-50v;

  &:hover {
    color: $dm-color-red-60v;
  }

  &:active {
    color: $dm-color-red-70v;
  }
}

.usa-radio__input:focus + .team-member-label::before, .usa-radio__input:focus + .implementer-label::before {
  outline: 0.25rem solid $dm-color-gold-20v !important;
  outline-offset: 0.25rem !important;
}

.comment-three-lines {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp : 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.report-comment-body {
  height: 160px;
  overflow-y: auto;
}

.delete-comment-icon {
  &:hover {
    text-decoration: none;
  }
}

::-webkit-input-placeholder {
  color: $dm-color-gray-30 !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: $dm-color-gray-30 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $dm-color-gray-30 !important;
}

:-ms-input-placeholder {
  color: $dm-color-gray-30 !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .comment-width-ie {
    width: 80%;
  }
}

.more-content span {
  display: none;
}

.show-arrow {
  font-size: 0.75em !important;
}

.fa-user-circle {
  color: $dm-color-blue-80v !important;
  text-align: center;
}

.comments-section {
  margin-bottom: 40px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }
}
