<div>
  <section class="grid-container ">
    <%= render "shared/messages" %>
  </section>
  <section class="grid-container practice-partners-background">
    <div class="dm-font-color-primary-blue p1-top breadcrumbs dm-font-color-super-violet-ish">
      <a href="/">Home</a>
      <span class="x0-5-left x0-5-right">›</span>
      <span>Practice Partners</span>
    </div>
    <h1 class="dm-font-color-blue-black fw-normal fs3-5">Practice Partners</h1>
    <p class="dm-font-color-blue-black fs1-125 x3-75-bottom">Best practices are being developed, vetted, and promoted by multiple offices within VA. The combined efforts of each office enable VA as a whole to advance the mission to fulfill President Lincoln's promise: "To care for him who shall have borne the battle, and for his widow, and his orphan" by serving and honoring the men and women who are America's Veterans. Veterans deserve access to the best health care providers, state-of-art facilities, and cutting-edge technology.</p>
    <p class="text-center dm-font-color-super-grey p2-bottom">Please select a VA Office below to be directed to the practices they are offering.</p>
  </section>
</div>