@import '../variables/colors';

.dm-background-triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 133px 49vw 0 50vw;
  border-color: $dm-color-light-blue transparent transparent transparent;
}

.practice-complexity-triangle-top {
  &:before {
    content: " ";
    position: absolute;
    top: -105px;
    left: 33%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 43.3px 50px;
    border-color: transparent transparent $dm-color-light-blue transparent;

    @media screen and (min-width: 375px) {
      left: 37%;
    }

    @media screen and (min-width: 565px) {
      left: 40%;
    }

    @media screen and (min-width: 640px) {
      left: 29%;
      top: -85px;
    }

    @media screen and (min-width: 768px) {
      left: 33%;
    }


    @media screen and (min-width: 1024px) {
      left: 37%
    }
  }
}
