@import '../variables/colors';

$class-slug: background-circle !default;

// For the normal circles in the background with no animation
// Place this html where you want the circles to appear as a background:
// `<div class="diffusion-background-circles"></div>`
// WARNING: DO NOT USE THIS WITH A BACKGROUND OF $dm-color-primary-blue!

.diffusion-background-circles {
  height: 25rem;
  left: 0;
  max-width: 1024px;
  position: absolute;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  overflow: hidden;
  width: 100%;
  z-index: -1;

  @media screen and (min-width: 1024px) {
    left: 50%;
    margin-left: -512px;
  }

  .#{$class-slug}-1 {
    position: absolute;
    left: 37px;
    top: 12px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-2 {
    position: absolute;
    left: 84px;
    top: 34px;
    width: 28px;
    height: 28px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-3 {
    position: absolute;
    left: 119px;
    top: 31px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-4 {
    position: absolute;
    left: 132px;
    top: 129px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-5 {
    position: absolute;
    left: 145px;
    top: 294px;
    width: 14px;
    height: 14px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-6 {
    position: absolute;
    left: 145px;
    top: 167px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-7 {
    position: absolute;
    left: 267px;
    top: 217px;
    width: 19px;
    height: 19px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-8 {
    position: absolute;
    left: 273px;
    top: 96px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-9 {
    position: absolute;
    left: 313px;
    top: 291px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-10 {
    position: absolute;
    left: 366px;
    top: 156px;
    width: 18px;
    height: 18px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.7);
      border-radius: 50%;
    }
  }

  .#{$class-slug}-11 {
    position: absolute;
    left: 375px;
    top: 144px;
    width: 65px;
    height: 65px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.6);
      border-radius: 50%;
    }

  }

  .#{$class-slug}-12 {
    position: absolute;
    left: 133px;
    top: 77px;
    width: 194px;
    height: 194px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.3);
      border-radius: 50%;
    }
  }

  .#{$class-slug}-13 {
    position: absolute;
    left: 455px;
    top: 63px;
    width: 14px;
    height: 14px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.7);
      border-radius: 50%;
    }
  }

  .#{$class-slug}-14 {
    position: absolute;
    left: 511px;
    top: 122px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.41);
      border-radius: 50%;
    }
  }

  .#{$class-slug}-15 {
    position: absolute;
    left: 559px;
    top: 48px;
    width: 136px;
    height: 136px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.8);
      border-radius: 50%;
    }
  }

  .#{$class-slug}-16 {
    position: absolute;
    left: 642px;
    top: 226px;
    width: 25px;
    height: 25px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-17 {
    position: absolute;
    left: 715px;
    top: 115px;
    width: 14px;
    height: 14px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-18 {
    position: absolute;
    left: 738px;
    top: 109px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-19 {
    position: absolute;
    left: 872px;
    top: 144px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
    }
  }

  .#{$class-slug}-20 {
    position: absolute;
    left: 879px;
    top: 167px;
    width: 17px;
    height: 17px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.5);
      border-radius: 50%;
    }
  }

  .#{$class-slug}-21 {
    position: absolute;
    left: 872px;
    top: 54px;
    width: 80px;
    height: 80px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.7);
      border-radius: 50%;
    }
  }
}

.diffusion-background-circles-offset-translucent {
  height: 25rem;
  left: 0;
  max-width: 1024px;
  position: absolute;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  overflow: hidden;
  width: 100%;
  //TODO: think about this
  //z-index: -1;

  @media screen and (min-width: 1024px) {
    left: 50%;
    margin-left: -512px;
  }

  .background-circle-offset-translucent-1 {
    position: absolute;
    left: 53px;
    top: 18px;
    width: 16px;
    height: 16px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-2 {
    position: absolute;
    left: 166px;
    top: 10px;
    width: 91px;
    height: 91px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-3 {
    position: absolute;
    left: 178px;
    top: 53px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-4 {
    position: absolute;
    left: 264px;
    top: 6px;
    width: 8px;
    height: 8px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-5 {
    position: absolute;
    left: 440px;
    top: 92px;
    width: 8px;
    height: 8px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-6 {
    position: absolute;
    left: 460px;
    top: 92px;
    width: 16px;
    height: 16px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-7 {
    position: absolute;
    left: 611px;
    top: 80px;
    width: 152px;
    height: 152px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-8 {
    position: absolute;
    left: 847px;
    top: 244px;
    width: 16px;
    height: 16px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-9 {
    position: absolute;
    left: 876px;
    top: 87px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-10 {
    position: absolute;
    left: 986px;
    top: 136px;
    width: 74px;
    height: 74px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-11 {
    position: absolute;
    left: 810px;
    top: 174px;
    width: 8px;
    height: 8px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-offset-translucent-12 {
    position: absolute;
    left: 611px;
    top: -15px;
    width: 28px;
    height: 28px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }
}

.diffusion-background-circles-promo-translucent {
  height: 25rem;
  left: 0;
  max-width: 1024px;
  position: absolute;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  overflow: hidden;
  width: 100%;
  //TODO: think about this
  //z-index: -1;

  @media screen and (min-width: 1024px) {
    left: 50%;
    margin-left: -512px;
  }

  .background-circle-promo-translucent-1 {
    position: absolute;
    left: 147px;
    top: 20px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-2 {
    position: absolute;
    left: 166px;
    top: 13px;
    width: 15px;
    height: 15px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-3 {
    position: absolute;
    left: 303px;
    top: 9px;
    width: 145px;
    height: 145px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-4 {
     position: absolute;
     left: 556px;
     top: 15px;
     width: 7px;
     height: 7px;

     &:after {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       display: block;
       width: 100%;
       height: 100%;
       background-color: rgba(255, 255, 255, 0.5);;
       border-radius: 50%;
     }
   }

  .background-circle-promo-translucent-5 {
    position: absolute;
    left: 494px;
    top: 94px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-6 {
    position: absolute;
    left: 529px;
    top: 157px;
    width: 15px;
    height: 15px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-7 {
    position: absolute;
    left: 659px;
    top: 61px;
    width: 70px;
    height: 70px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-8 {
    position: absolute;
    left: 715px;
    top: 104px;
    width: 19px;
    height: 19px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-9 {
    position: absolute;
    left: 818px;
    top: 0.5px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-10 {
    position: absolute;
    left: 870px;
    top: 78px;
    width: 20px;
    height: 20px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-11 {
    position: absolute;
    left: 841px;
    top: 207px;
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }

  .background-circle-promo-translucent-12 {
    position: absolute;
    left: 844px;
    top: 62px;
    width: 207px;
    height: 207px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);;
      border-radius: 50%;
    }
  }
}