/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
DM BUTTON CLASSES
----------------------------------------
*/
@import "../variables/colors";

.dm-button-primary,
.dm-button-secondary,
.dm-button-link,
.dm-button-link-secondary {
  border-radius: 100px;
  font-size: .9em;
  font-weight: normal;
  height: 54px;
  max-width: 230px;
  text-align: center;
  width: 100%;
}

.dm-button-primary,
.dm-button-link {
  background-color: $dm-color-primary-blue;
  border: none;
  color: $dm-color-white;
}

.dm-button-secondary,
.dm-button-link-secondary {
  background-color: $dm-color-white;
  border: 1px solid $dm-color-primary-blue;
  color: $dm-color-primary-blue;
}

.dm-button-link,
.dm-button-link-secondary {
  display: block;
  text-decoration: none;
  padding: 1em;
}

.dm-button-link {
  &:visited {
    color: $dm-color-white;
  }

  &:hover {
    color: $dm-color-white;
    text-decoration: underline;
  }
}

.dm-button-link-secondary {
  &:visited {
    color: $dm-color-primary-blue;
  }
}

.dismiss-cross {
  background: none;
  border: none;
  cursor: pointer;
}
