.dm-cropper-boundary {
    .dm-cropper-edit-mode, .dm-cropper-save-edit, .dm-cropper-cancel-edit {
        text-decoration: none !important;
        margin-top: 0 !important;
        min-width: 8.75rem !important;
        min-height: 2.6875rem !important;
      }
}