@import '../variables/colors';

.diffusion-animation-section {
  width: 64em;
  height: 25rem;
  position: relative;
  margin: 0 auto;

  $class-slug: pulsating-circle !default;

  .pulsating-circle-1 {
    position: absolute;
    left: 37px;
    top: 12px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-2 {
    position: absolute;
    left: 84px;
    top: 34px;
    // transform: translateX(-50%) translateY(-50%);
    width: 28px;
    height: 28px;

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 50%;
      background-color: $dm-color-primary-blue;
      animation: pulse-ring-alt 28s cubic-bezier(0.215, 0.61, 0.355, 1) -.4s infinite;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 28s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-3 {
    position: absolute;
    left: 119px;
    top: 31px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-4 {
    position: absolute;
    left: 132px;
    top: 129px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-5 {
    position: absolute;
    left: 145px;
    top: 294px;
    // transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 14px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-6 {
    position: absolute;
    left: 145px;
    top: 167px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-7 {
    position: absolute;
    left: 267px;
    top: 217px;
    // transform: translateX(-50%) translateY(-50%);
    width: 19px;
    height: 19px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-8 {
    position: absolute;
    left: 273px;
    top: 96px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-9 {
    position: absolute;
    left: 313px;
    top: 291px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-10 {
    position: absolute;
    left: 366px;
    top: 156px;
    // transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 18px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.7);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-11 {
    position: absolute;
    left: 375px;
    top: 144px;
    // transform: translateX(-50%) translateY(-50%);
    width: 65px;
    height: 65px;

    //&:before {
    //  content: '';
    //  position: relative;
    //  display: block;
    //  width: 300%;
    //  height: 300%;
    //  box-sizing: border-box;
    //  margin-left: -100%;
    //  margin-top: -100%;
    //  border-radius: 50%;
    //  background-color: rgba($dm-color-primary-blue, 0.6);
    //  animation: pulse-ring-alt 20s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    //}
    //
    //&:after {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  display: block;
    //  width: 100%;
    //  height: 100%;
    //  background-color: rgba($dm-color-primary-blue, 0.6);
    //  border-radius: 50%;
    //  //box-shadow: 0 0 8px rgba(0,0,0,.3);
    //  animation: pulse-dot-alt 20s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    //}

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 50%;
      background-color: rgba($dm-color-primary-blue, 0.6);
      animation: pulse-ring-alt 30s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.6);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 30s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }

  }

  .pulsating-circle-12 {
    position: absolute;
    left: 133px;
    top: 77px;
    // transform: translateX(-50%) translateY(-50%);
    width: 194px;
    height: 194px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.3);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-13 {
    position: absolute;
    left: 455px;
    top: 63px;
    // transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 14px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.7);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-14 {
    position: absolute;
    left: 511px;
    top: 122px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.41);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-15 {
    position: absolute;
    left: 559px;
    top: 48px;
    // transform: translateX(-50%) translateY(-50%);
    width: 136px;
    height: 136px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.8);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-16 {
    position: absolute;
    left: 642px;
    top: 226px;
    // transform: translateX(-50%) translateY(-50%);
    width: 25px;
    height: 25px;

    //&:after {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  display: block;
    //  width: 100%;
    //  height: 100%;
    //  background-color: $dm-color-primary-blue;
    //  border-radius: 50%;
    //  //box-shadow: 0 0 8px rgba(0,0,0,.3);
    //  animation: pulse-dot 26.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    //}
    //
    //&:before {
    //  content: '';
    //  position: relative;
    //  display: block;
    //  width: 300%;
    //  height: 300%;
    //  box-sizing: border-box;
    //  margin-left: -100%;
    //  margin-top: -100%;
    //  border-radius: 50%;
    //  background-color: $dm-color-primary-blue;
    //  animation: pulse-ring 26.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    //}

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 50%;
      background-color: $dm-color-primary-blue;
      animation: pulse-ring-alt 35s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 35s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }


  }

  .pulsating-circle-17 {
    position: absolute;
    left: 715px;
    top: 115px;
    // transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 14px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-18 {
    position: absolute;
    left: 738px;
    top: 109px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-19 {
    position: absolute;
    left: 872px;
    top: 144px;
    // transform: translateX(-50%) translateY(-50%);
    width: 7px;
    height: 7px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $dm-color-primary-blue;
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-20 {
    position: absolute;
    left: 879px;
    top: 167px;
    // transform: translateX(-50%) translateY(-50%);
    width: 17px;
    height: 17px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.5);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  .pulsating-circle-21 {
    position: absolute;
    left: 872px;
    top: 54px;
    // transform: translateX(-50%) translateY(-50%);
    width: 80px;
    height: 80px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($dm-color-primary-blue, 0.7);
      border-radius: 50%;
      //box-shadow: 0 0 8px rgba(0,0,0,.3);
      //animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(.1);
    }
    80%, 100% {
      opacity: 0;
    }
  }

  @keyframes pulse-ring-alt {
    0% {
      transform: scale(.1);
    }

    80%, 100% {
      opacity: 0;
    }
  }

  @keyframes pulse-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }

  @keyframes pulse-dot-alt {
    0% {
      transform: scale(.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.9);
    }
  }

  //.pulsating-circle {
  //  position: absolute;
  //  left: 50%;
  //  top: 50%;
  //  // transform: translateX(-50%) translateY(-50%);
  //  width: 30px;
  //  height: 30px;
  //
  //  &:before {
  //    content: '';
  //    position: relative;
  //    display: block;
  //    width: 300%;
  //    height: 300%;
  //    box-sizing: border-box;
  //    margin-left: -100%;
  //    margin-top: -100%;
  //    border-radius: 50%;
  //    background-color: $dm-color-primary-blue;
  //    animation: pulse-ring 3.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  //  }
  //
  //  &:after {
  //    content: '';
  //    position: absolute;
  //    left: 0;
  //    top: 0;
  //    display: block;
  //    width: 100%;
  //    height: 100%;
  //    background-color: $dm-color-primary-blue;
  //    border-radius: 50%;
  //    //box-shadow: 0 0 8px rgba(0,0,0,.3);
  //    animation: pulse-dot 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  //  }
  //}
  //
  //@keyframes pulse-ring {
  //  0% {
  //    transform: scale(.33);
  //  }
  //  80%, 100% {
  //    opacity: 0;
  //  }
  //}
  //
  //@keyframes pulse-dot {
  //  0% {
  //    transform: scale(.8);
  //  }
  //  50% {
  //    transform: scale(1);
  //  }
  //  100% {
  //    transform: scale(.8);
  //  }
  //}

  //$class-slug: pulsating-circle !default;
  //
  //@for $i from 1 through 21 {
  //  $randomSize: random(80) + 5 ;
  //  $randomOpacity: random();
  //  $randomLeft: random(1024);
  //  $randomTop: random(400) + 20;
  //  $animationDelay: random(10) + 2;
  //  $animationTime:  random(10) + 4;
  //
  //  .#{$class-slug}-#{$i} {
  //    position: absolute;
  //    left: #{$randomLeft}px;
  //    top: #{$randomTop}px;
  //    // transform: translateX(-50%) translateY(-50%);
  //    width: #{$randomSize}px;
  //    height: #{$randomSize}px;
  //
  //    &:before {
  //      content: '';
  //      position: relative;
  //      display: block;
  //      width: 300%;
  //      height: 300%;
  //      box-sizing: border-box;
  //      margin-left: -100%;
  //      margin-top: -100%;
  //      border-radius: 50%;
  //      background-color: rgba($dm-color-primary-blue, $randomOpacity);
  //      animation: pulse-ring-#{$i} #{$animationTime}s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  //      animation-delay: #{$animationDelay}s;
  //    }
  //
  //    &:after {
  //      content: '';
  //      position: absolute;
  //      left: 0;
  //      top: 0;
  //      display: block;
  //      width: 100%;
  //      height: 100%;
  //      background-color: rgba($dm-color-primary-blue, $randomOpacity);
  //      border-radius: 50%;
  //      //box-shadow: 0 0 8px rgba(0,0,0,.3);
  //      animation: pulse-dot-#{$i} #{$animationTime}s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  //      animation-delay: #{$animationDelay}s;
  //    }
  //  }
  //
  //  $pulse-ring-scale: random(3) / 10 + .01;
  //  $pulse-dot-scale: random(8) / 10 + .01;
  //
  //  @keyframes pulse-ring-#{$i} {
  //    0% {
  //      transform: scale($pulse-ring-scale);
  //    }
  //    80%, 100% {
  //      opacity: 0;
  //    }
  //  }
  //
  //  @keyframes pulse-dot-#{$i} {
  //    0% {
  //      transform: scale($pulse-dot-scale);
  //    }
  //    50% {
  //      transform: scale(1);
  //    }
  //    100% {
  //      transform: scale($pulse-dot-scale);
  //    }
  //  }
  //}
}