.dm-marker-container {
  background-color: color($theme-color-dm-white);
  min-height: 146px;
  border-radius: 4px;
  padding: 8px 15px;
}

.home-marker-modal {
  .modal-content {
    border-radius: 4px;
  }

  .practice-list {
    height: 263px;
    overflow-x: hidden;
    overflow-y: auto;

    .map-marker-practice {
      border: 2px solid color($theme-color-base-lightest);
      box-sizing: border-box;
      border-radius: 4px;

      &:hover {
        border: 2px solid color($theme-color-primary-vivid);
      }
    }

    a {
      text-decoration: none;
      .map-marker-practice-content {
        @include u-text('ink');
        text-decoration: none !important;
        font-size: 16.96px;
      }

      .map-marker-practice-name {
        @include u-text('ink');
        text-decoration: none !important;
        font-weight: bold;
        font-size: 16.96px;
      }

      &:hover {
        text-decoration: none;

        .map-marker-practice-name {
          @include u-text('primary-vivid');
          text-decoration: underline;
        }

        .map-marker-practice-content {
          p {
            text-decoration: none !important;
            font-size: 16.96px;
            color: color($theme-color-base-ink);
          }
        }
      }
    }
  }

}

.map-filters {
  fieldset {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
    padding: 0 8px 0 8px;
    border: 0;
  }

  .close {
    font-size: 17.5px;
  }

  .usa-input {
    width: 98%;
  }

  .map-filters-content {
    #practice-list-container, #facilityListContainer {
      max-height: 500px;
      overflow-y: auto;
      border: 1px solid color($theme-color-base-ink);

      .grid-col-4 {
        @include u-padding-right('05');
      }
    }

    .fa-question-circle {
      color: color($theme-color-base-ink) !important;
      padding: 4px;
      text-decoration: none !important;
      display: inline-block !important;

      &:visited {
        text-decoration: none !important;
        color: color($theme-color-base-ink) !important;
      }
    }
  }

  #visn-list-container {
    border: 1px solid color($theme-color-base-ink);
    box-sizing: border-box;
    height: 147px;
    padding: 0 4px 12px 4px;
    overflow-y: scroll;
    width: 275px;
  }
}