/****************************************
  GRADIENT BANNER
  To use default class: <*element* class="dm-gradient-banner"...>
  To add extension: <*element class="dm-gradient-banner-*extension-class*"...>
*****************************************/

.dm-gradient-banner {
  background: linear-gradient(236.03deg, color($theme-color-primary-vivid) 10.06%, #182F4C 93.13%);
  transform: matrix(1, 0, 0, -1, 0, 0);

  // Per research, the banner may have varying heights. As of 8/10/21, the designs use 318px (desktop version). Add any other height options as an extension class here
  &-318 {
    @extend .dm-gradient-banner;
    height: 485px;

    @media screen and (min-width: 1024px) {
      height: 318px;

      + section {
        height: 318px
      }
    }
  }
}