/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
DM TILES ON THE HOME PAGE
----------------------------------------
*/

@import '../variables/colors';

.home-tiles {

  .home-tile {
    .gold-status-first {
      font-size: 2.75rem;
    }

    .gold-status-second {
      font-size: 1.25rem;
    }

    h1 {
      font-weight: normal;
      font-size: 1.5em;
    }

    a {
      font-weight: normal;
      text-decoration: none;
      position: relative;
      top: 38%;

      &:hover {
        text-decoration: underline;
      }
    }

    .featured-practice {


    }

    .middle {
      background-color: rgba($dm-color-pastel-blue, .75);
      height: calc(100% + 1px);
      left: 50%;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transition: .5s ease;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: calc(100% - 22px);
    }

    .middle-1 {
      border-radius: 20px 20px 0 0;
    }

    .middle-2 {
      border-radius: 0;
    }

    .middle-3 {
      border-radius: 0 0 20px 20px;
    }

    &:hover .middle {
      opacity: 1;
    }

  }
}

.dm-background-gold-tile-1,
.dm-background-gold-tile-2,
.dm-background-gold-tile-3 {
  background: rgba(26, 68, 128, 0.5);
  display: block;
  margin: 0 auto;
  max-width: calc(100% - 22px);
  width: 100%;
}

.dm-background-gold-tile {
  opacity: 1;

  &:hover {
    opacity: 0.3;
  }
}

.dm-background-gold-tile-1 {
  border-radius: 20px 20px 0 0;
}

.dm-background-gold-tile-2 {
  border-radius: 0;
}

.dm-background-gold-tile-3 {
  border-radius: 0 0 20px 20px;
}

.dm-background-gold-tile:after {
  opacity: 1;

  &:hover {
    opacity: 0.3;
  }
}

.dm-background-gold-tile-1:after,
.dm-background-gold-tile-2:after,
.dm-background-gold-tile-3:after {
  background-size: cover;
  content: "";
  height: 100%;
  left: 11px;
  margin: auto 0;
  max-width: calc(100% - 23px);
  padding: inherit;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.dm-background-gold-tile-1:after {
  border-radius: 20px 20px 0 0;
}

.dm-background-gold-tile-2:after {
  border-radius: 0;
}

.dm-background-gold-tile-3:after {
  border-radius: 0 0 20px 20px;
}
