/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
DM TILES ON THE HOME PAGE
----------------------------------------
*/

.home-tiles {

  .home-tile {
    h1 {
      font-weight: normal;
      font-size: 1.5em;
    }

    a {
      font-weight: normal;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}