.dm-footer-link {
  color: color($theme-color-secondary-darker);
  @include u-text('normal');
  text-decoration: underline;

  &:hover {
    color: color($theme-color-secondary-darkest);
    text-decoration: underline;
  }

  &:visited {
    color: color($theme-color-secondary-darker);
    text-decoration: underline;

    &:hover {
      color: color($theme-color-secondary-darkest);
      text-decoration: underline;
    }
  }

  &:active {
    color: color($theme-color-secondary-darkest);
    text-decoration: underline;
  }
}

.dm-alt-link {
  &-gold {
    color: color($theme-color-accent-warm) !important;

    &:hover {
      color: color($theme-color-accent-warm-dark) !important;
    }

    &:active {
      color: color($theme-color-accent-warm-darker) !important;
    }
  }

  &-light {
    color: color($theme-color-primary-light) !important;

    &:hover {
      color: color($theme-color-primary) !important;
    }

    &:active {
      color: color($theme-link-color) !important;
    }
  }

  &-white {
    color: color($theme-color-dm-white) !important;
    text-decoration: underline !important;

    &:hover {
      color: color($theme-color-base-lighter) !important;
      text-decoration: underline !important;
    }

    &:active {
      color: color($theme-color-base-light) !important;
      text-decoration: underline !important;
    }
  }

  &-dark {
    color: color($theme-color-base-ink);
    text-decoration: none;
    @include u-text('semibold', !important);

    &:hover {
      color: color($theme-color-primary-vivid);
      text-decoration: underline;
    }

    &:visited {
      color: color($theme-color-base-ink);
      text-decoration: none;

      &:hover {
        color: color($theme-color-primary-vivid);
        text-decoration: underline;
      }
    }
  }
}

.usa-link {
  &-bold {
    font-weight: 800;
  }
}