@import "../variables/colors";

$none-important: none !important;

a.dm {
  color: #000000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #000000;
  }
}

.page-subpage-hyperlink {
  color: $dm-color-base !important;

  &:hover {
    color: $dm-color-darker-blue !important;
    text-decoration: $none-important;

    span {
      text-decoration: $none-important;
    }
  }

  &:visited {
    color: $dm-color-base;
  }
}