// header nav links
.usa-nav__primary-item {
  .usa-nav__link {
    &:hover {
      color: color($theme-color-primary-vivid) !important;

      &::after {
        background-color: color($theme-color-primary-vivid) !important;
      }
    }
  }
}

.dm-footer-link {
  color: color($theme-color-base-ink);
  text-decoration: none;

  &:hover {
    color: color($theme-color-primary-vivid);
    text-decoration: underline;
  }

  &:visited {
    color: color($theme-color-base-ink);
    text-decoration: none;

    &:hover {
      color: color($theme-color-primary-vivid);
      text-decoration: underline;
    }
  }
}

.dm-primary-link {
  color: color($theme-link-color) !important;
  @include u-text('bold', !important);

  &:hover {
    color: color($theme-link-hover-color) !important;
  }

  &:active {
    color: color($theme-link-active-color) !important;
  }
}

.dm-alt-link {
  &-gold {
    @include u-text('bold', !important);
    color: color($theme-color-accent-warm) !important;

    &:hover {
      color: color($theme-color-accent-warm-dark) !important;
    }

    &:active {
      color: color($theme-color-accent-warm-darker) !important;
    }
  }

  &-light {
    @include u-text('bold', !important);
    color: color($theme-color-primary-light) !important;

    &:hover {
      color: color($theme-color-primary) !important;
    }

    &:active {
      color: color($theme-link-color) !important;
    }
  }
}