// header nav links
.usa-nav__primary-item {
  .usa-nav__link {
    @include u-text('normal', !important);

    &:hover {
      @include u-text('primary-vivid', !important);

      &::after {
        @include u-bg('primary-vivid', !important);
      }
    }

    @media all and (min-width: 75rem) {
      @include u-text('semibold', !important);
    }
  }
}

.internal-server-error-link{
  color: #345d96;
}

.internal-server-error-link2{
  color: color($theme-color-primary-vivid);
}

.dm-footer-link {
  color: color($theme-color-base-ink);
  text-decoration: none;
  @include u-text('semibold', !important);

  &:hover {
    color: color($theme-color-primary-vivid);
    text-decoration: underline;
  }

  &:visited {
    color: color($theme-color-base-ink);
    text-decoration: none;

    &:hover {
      color: color($theme-color-primary-vivid);
      text-decoration: underline;
    }
  }
}

.dm-alt-link {
  &-gold {
    color: color($theme-color-accent-warm) !important;

    &:hover {
      color: color($theme-color-accent-warm-dark) !important;
    }

    &:active {
      color: color($theme-color-accent-warm-darker) !important;
    }
  }

  &-light {
    color: color($theme-color-primary-light) !important;

    &:hover {
      color: color($theme-color-primary) !important;
    }

    &:active {
      color: color($theme-link-color) !important;
    }
  }

  &-white {
    color: color($theme-color-dm-white) !important;
    text-decoration: underline;

    &:hover {
      color: color($theme-color-base-lighter) !important;
    }

    &:active {
      color: color($theme-color-base-light) !important;
    }
  }
}