@import "../variables/colors";

/****************************************
  LINKS
  To use: <a class="dm-internal-link"...>
*****************************************/
a {
  // pages internal to DM
  &.dm-internal-link {
    color: $dm-color-base !important;
    text-decoration: underline;

    &:visited, &:hover, &:active {
      text-decoration: underline;
    }

    &:hover, &:active {
      cursor: pointer;
    }

    &:visited {
      color: $dm-color-base !important;
    }

    &:hover {
      color: $dm-color-blue-50v !important;
    }

    &:active {
      color: $dm-color-blue-70v !important;
    }
  }

  // pages external to DM
  &.dm-external-link {
    color: $dm-color-blue-50v;
    text-decoration: underline;

    &:visited, &:hover, &:active {
      text-decoration: underline;
    }

    &:hover, &:active {
      cursor: pointer;
    }

    &:visited {
      color: $dm-default-visited-purple;
    }

    &:hover {
      color: $dm-color-blue-70v;
    }

    &:active {
      color: $dm-color-blue-80v;
    }
  }

  // links within a banner
  // TODO: Confirm with Becca on this
  &.dm-banner-link {
    color: $dm-color-base;

    &:hover {
      text-decoration: none;
    }
    &:visited {
      color: $dm-color-base;
    }
  }
}
