.dm-loading-spinner, .search-spinner {
  .fa-circle-notch {
    color: color($theme-color-primary-dark);
    font-size: 40px;
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
