@import "../variables/colors";

.dm-loading-spinner, .search-spinner {
  .fa-circle-notch {
    color: $dm-color-blue-70v;
    font-size: 40px;
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}