@import "../variables/colors";

.successful-modal-icon, .in-progress-modal-icon, .unsuccessful-modal-icon {
  @media screen and (min-width: 1024px) {
    display: none !important;
  }
}

/* The Modal (background) */
.modal, .terms-modal, .report-abuse-modal, .publication-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.successful-status-modal-container, .in-progress-status-modal-container, .unsuccessful-status-modal-container {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.adoption-status-modal {
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .adoption-status-modal-content {
    // get the height of the modal and divide by two so it's in the middle of the screen
    top: calc(50vh - 80px);
    border: 0;

    .fa-times-circle {
      font-size: 1.5em !important;
      &:hover {
        color: $dm-color-alt-lighter-grey;
      }

      &:active {
        color: $dm-color-light-grey;
      }
    }
  }
}

/* Modal Content */
.modal-content, .terms-modal-content, .report-abuse-modal-content, .publication-modal-content, .adoption-status-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.terms-modal, .report-abuse-modal, .publication-modal {
  display: block;
  padding-top: 120px;

  .terms-modal-content {
    border: none
  }
}

.publication-modal-content {
  width: 524px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 23.3px;
  font-weight: bold;
  position: absolute;
  right: 8px;
  top: 4px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $dm-color-blue-50v;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: $dm-color-blue-50v;
  color: white;
}

/* map marker modal */
.home-marker-modal {
  position: absolute;
  background-color: transparent;

  .modal-content {
    border: none;
    box-shadow: none;
  }
}

.publication-modal-hidden {
  display: none;
}

.marker-modal-practice-description {
  height: 20px;
}

