@import '../variables/colors';

.dm-practice-card {
  position: relative;
  max-height: 436px;

  .dm-practice-link {
    color: $dm-color-base;
    text-decoration: none;

    &:hover {
      h3 {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $dm-color-yellow-20v;
      }
    }
  }

  // bookmark button
  .dm-practice-bookmark-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    text-align: center;
    background-color: $dm-color-white;
    padding: 5px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 18px;
    right: 18px;

    .fas {
      color: $dm-color-blue-50v;

      &:hover {
        color: $dm-color-blue-70v;
      }

      &:active {
        color: $dm-color-blue-80v;
      }
    }

    .far {
      color: $dm-color-black;

      &:hover {
        color: $dm-color-blue-50v;
      }

      &:active {
        color: $dm-color-blue-70v;
      }
    }
  }

  .dm-practice-card-container {
    height: 412px;
    max-width: 309px;
    min-width: -webkit-calc(100vw - 48px);
    min-width: -moz-calc(100vw - 48px);
    min-width: calc(100vw - 48px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media all and (min-width: 357px){
      min-width: 309px;
    }
  }

  .dm-practice-card-img-container {
    max-height: 165px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-height: 100%;
      min-width: 100%;
    }
  }

  .dm-practice-title {
    overflow: hidden;
  }

  .padding-105 {
    height: calc(100% - 165px);
  }

  .dm-practice-card-origin {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 12px;
    margin-right: 24px;
    max-width: 278px;

    span {
      height: 30px;
    }
  }

  // styling for when there is no practice thumbnail
  .dm-bg-gray-80 {
    height: 165px;
    background-color: $dm-color-gray-80;
    display: flex;

    h3 {
      align-self: flex-end;
      color: $dm-color-white;
    }
  }

  .practice-card-tagline {
    line-height: 25.92px;
  }

  .multiline-ellipses-1, .multiline-ellipses-2, .multiline-ellipses-3 {
    display: block; /* Fallback for non-webkit */
    max-width: 400px;
    overflow: hidden;
  }

  .multiline-ellipses-1 {
    height: 100px;
  }

  .multiline-ellipses-2 {
    max-height: 51px;
  }

  .multiline-ellipses-3 {
    height: 32px;
  }
}
