#dm-practice-nav {
  a {
    &#publish-practice-button {
      padding: 0.75rem 0 !important;
      font-weight: bold;
      color: color($theme-color-dm-white);

      &:visited {
        background-color: color($theme-color-primary);
      }

      &:hover {
        background-color: color($theme-color-primary-dark) !important;
      }

      &:active {
        background-color: color($theme-color-primary-darker) !important;
      }
    }
  }
}
