@import '../variables/colors';

/* The actual timeline (the vertical ruler) */
.timeline {
  margin: 0 auto;
  max-width: 100%;
  position: relative;

  /* The actual timeline (the vertical ruler) */
  &:after {
    background-color: $dm-color-cool-gray-30;
    bottom: 0;
    content: '';
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 0;
    width: 6px;
  }


  /* Container around content */
  .timeline-container {
    background-color: inherit;
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }

  /* The circles on the timeline */
  .timeline-container::after {
    background-color: white;
    border: 4px solid $dm-color-primary-vivid;
    border-radius: 50%;
    content: '';
    height: 25px;
    position: absolute;
    right: -12px;
    top: 0;
    width: 25px;
    z-index: 1;
  }

  /* Place the container to the left */
  .timeline-left {
    left: 0;
  }

  /* Place the container to the right */
  .timeline-right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .timeline-left::before {
    border: medium solid $dm-color-light-blue;
    border-color: transparent transparent transparent $dm-color-light-blue;
    border-width: 10px 0 10px 10px;
    content: " ";
    height: 0;
    position: absolute;
    right: 31px;
    top: 3px;
    width: 0;
    z-index: 1;
  }

  /* Add arrows to the right container (pointing left) */
  .timeline-right::before {
    border: medium solid $dm-color-light-blue;
    border-color: transparent $dm-color-light-blue transparent transparent;
    border-width: 10px 10px 10px 0;
    content: " ";
    height: 0;
    left: 31px;
    position: absolute;
    top: 3px;
    width: 0;
    z-index: 1;
  }

  /* Fix the circle for containers on the right side */
  .timeline-right::after {
    left: -13px;
  }

  /* The actual content */
  .timeline-content {
    background-color: $dm-color-light-blue;
    border-radius: 20px;
    padding: 20px 30px;
    position: relative;
    top: -45px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timeline to the left */
    &:after {
      left: 27px;
    }

    /* Full-width containers */
    .timeline-container {
      padding-left: 70px;
      padding-right: 25px;
      width: 100%;
    }
    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        display: block;
        border: medium solid white;
        border-color: transparent $dm-color-light-blue transparent transparent;
        border-width: 10px 10px 10px 0;
        left: 60px;
    }

    /* Make sure all circles are at the same spot */
    .timeline-left::after, .timeline-right::after {
      left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .timeline-right {
      left: 0;
    }
  }

}



