.user-icon-placeholder {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFFFFF; 
}

.dm-user {
  bottom: -15px;
  position: relative;
}

.avatar-profile-photo {
  max-width: 224px;
  width: 100%;
  padding: -5px;
}

.avatar-header-photo {
  max-width: 100%;
  max-height: 100%;
  /*border-radius: 50%;*/
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%)
}

.empty-user-avatar {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 12em;
}

.profile-h1 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans !important;
}

.profile-job-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans !important;
  margin-top: 0 !important;
}

.profile-avatar-container {
  height: 226px !important;
  width: 226px !important;
  position: relative;
}

.edit-profile-link {
  color: #005ea2 !important;
   
  &:hover {
    text-decoration: none !important;
    color: #1a4480 !important;
  }

  .edit-profile-icon {
    &:after {
      text-decoration: none;
    }
  }
}

.cancel-edit-profile-link {
  &:hover {
    text-decoration: none !important;
  }

  .cancel-edit-profile-button {
    &:hover {
      text-decoration: none !important;
    }
  }
}

.edit-profile-form {
  max-width: unset !important;
}

.profile-bio {
  max-width: unset !important;
  resize: none;
}

.profile-min-height {
  min-height: 380px;
}