#practice-search-field {
  width: 100%;
}

#search-field-big {
  max-width: unset !important;
}

@media screen and (min-width: 425px) {
  #practice-search-field {
    width: 350px;
  }
}

@media screen and (min-width: 600px) {
  #practice-search-field {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  #practice-search-field {
    width: 960px;
  }
}