@import "../variables/colors";

.category-link {
  cursor: pointer;
  text-decoration: none;
  background-color: $dm-color-blue-50v;

  &:hover {
    text-decoration: none;
    color: $dm-color-white !important;
    background-color: $dm-color-blue-70v !important;
  }

  &:visited {
    color: $dm-color-white !important;
  }

  &:active {
    background-color: $dm-color-blue-80v !important;
  }
}

#seeMore_search_terms_desktop, #seeMore_search_terms_mobile {
  font-weight: bold !important;
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }

  &:active {
    text-decoration: underline !important;
  }
}