.category-link {
  cursor: pointer;
  text-decoration: none;
  background-color: color($theme-color-primary);

  &:hover {
    text-decoration: none;
    color: color($theme-color-dm-white) !important;
    background-color: color($theme-color-primary-dark) !important;
  }

  &:visited {
    color: color($theme-color-dm-white) !important;
  }

  &:active {
    background-color: color($theme-color-primary-darker) !important;
  }
}
