@import "../variables/colors";

#sticky-wrapper {
  z-index: 1000;
}

.dm-sidenav {
  box-shadow: 1px 1px 2px 0px;
  background-color: white;
}

.nav-button {
  color: #000000;
  font-weight: 100;
  padding: .5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: $dm-color-gray-5;
    color: #005ea2;
  }
}

.nav-divider {
  width: 100%;
  border-bottom: 1px solid #AEB0B5;
  margin: .5rem 0;
}

.practice-nav {
  border: 0 !important;
}
