// `usa-tag` OVERRIDES
.usa-tag {
  @include u-font('sans', '3xs');
  @include u-display('inline-block');
  @include u-margin-bottom(1);
  @include u-margin-right(1);
  padding: 4.5px 8px 4.5px 8px;
  @include u-text('no-underline');
  @include u-bg('primary-vivid');
  letter-spacing: 0.05em;

  &:hover {
    @include u-bg('primary-dark');
  }

  &:active {
    @include u-bg('primary-darker');
  }
}

.usa-tag--big {
  @include u-padding-y('05');
}



// CUSTOM TAGS
.dm-tag--big--action-primary {
  @extend .usa-tag;
  @extend .usa-tag--big;
  @include u-bg('primary-vivid');
  cursor: pointer;
  letter-spacing: 0.1em;
  padding: 6px 11px 6px 11px;
  margin-right: 16px;
  margin-bottom: 16px;

  &:hover {
    @include u-bg('primary-dark');
  }

  &:active {
    @include u-bg('primary-darker');
  }

  &--selected {
    @extend .usa-tag;
    @extend .usa-tag--big;
    @include u-bg('base-lighter');
    @include u-text('ink');
    cursor: pointer;
  }
}
