@import "../../dm/variables/colors";
body {
  p.ql-align-justify {
    margin-bottom: 16px;

    a {
      color: $dm-color-primary-vivid;
      
      &:visited {
        color: $dm-color-primary-vivid;
      }
    }
  }
}

a.pb-downloadable-file-link {
  color: $dm-color-primary-vivid !important;
  text-decoration: none !important;

  &:hover {
    color: $dm-color-primary-dark-blue !important;
  }

  &:active {
    color: $dm-color-darker-blue !important;
  }

  &:visited {
    color: $dm-alt-visited-purple !important;
  }
}

.page-content {
  p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.53;

    a {
      color: $dm-color-primary-vivid !important;
      text-decoration: underline !important;

      &:hover {
        color: $dm-color-primary-dark-blue !important;
        text-decoration: none !important;
      }

      &:active {
        color: $dm-color-darker-blue !important;
      }

      &:visited {
        color: $dm-alt-visited-purple !important;
      }
    }
  }
}