@import "../../dm/variables/colors";
body {
  p.ql-align-justify {
    margin-bottom: 16px;

    a {
      color: $dm-color-primary-vivid;
      
      &:visited {
        color: $dm-color-primary-vivid;
      }
    }
  }
}

.pb-downloadable-file-link {
  color: $dm-color-primary-vivid !important;

  &:hover {
    color: $dm-color-primary-dark-blue !important;
  }

  &:active {
    color: $dm-color-darker-blue !important;
  }

  &:visited {
    color: $dm-alt-visited-purple !important;
  }
}