.dm-page-content {
  p, li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.62;

    &.usa-prose-body {
      line-height: 1.62;
    }

    &.ql-align-justify {
      display: flex;
      justify-content: center;

      > p, span, a, li, blockquote, pre, strong, em, u {
        display: flex;
        justify-content: center;
      }
    }

    &.ql-align-center {
      text-align: center;

      > p, span, a, li, blockquote, pre, strong, em, u {
        text-align: center;
      }
    }

    &.ql-align-right {
      text-align: right;

      > p, span, a, li, blockquote, pre, strong, em, u {
        text-align: right;
      }
    }
  }

  p:last-of-type {
    @include u-margin-bottom(0, !important);
  }

  .pb-link {
    .pb-link-card-title, .pb-link-card-body {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .pb-link-card-title {
      color: color($theme-color-primary-vivid);
      -webkit-line-clamp: 2;
    }

    .pb-link-card-body {
      color: color($theme-color-base-ink);
      @include u-text-decoration('no-underline');
      -webkit-line-clamp: 4;
    }

    &:hover {
      .pb-link-card-title {
        color: color($theme-color-primary-dark) !important;
      }
    }

    &:active {
      .pb-link-card-title {
        color: color($theme-color-primary-darker) !important;
      }
    }

    &:visited {
      .pb-link-card-title {
        color: color($theme-link-visited-color);
      }
    }
  }

  // Per design, these styles should mimic the homepage's 'Featured' innovation and 'Featured' topic styles as much as possible (10/14/2022)
  .page-compound-body-component {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    .grid-item-text {
      grid-column: 1 / 13;
      grid-row: 2 / 2;

      &.no-images {
        grid-row: 1 / 1;
      }

      @media screen and (min-width: 1024px) {
        grid-column: 1 / 7;
        grid-row: 1 / 1;

        &.no-images {
          grid-column: 1 / 9;
        }

        &.right-align {
          grid-column: 7 / 13;

          &.no-images {
            grid-column: 5 / 13;
          }
        }
      }
    }

    .grid-item-images {
      grid-column: 1 / 13;
      grid-row: 1 / 2;
      @include u-margin-bottom(4);

      @media screen and (min-width: 1024px) {
        grid-column: 8 / 13;
        grid-row: 1 / 1;
        @include u-margin-bottom(0);

        &.left-align {
          grid-column: 1 / 6;
        }
      }

      .image-container {
        height: 174px;
        max-width: 308px;

        @media screen and (min-width: 1024px) {
          height: 223px;
          @include u-maxw('none');
        }

        a {
          &:focus {
            img {
              outline: 0.25rem solid #2491ff;
              outline-offset: 0;
            }
          }
        }

        img {
          object-fit: cover;
        }
      }
    }

    p {
      @include u-margin(0);
    }
  }

  .usa-img {
    object-fit: cover;
  }

  @media screen and (max-width: 640px) {
    .flex-column {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 641px) {
    .flex-row-tablet {
      flex-direction: row;
    }
  }

  .page-map-component {
    .page-marker-container {
      padding: 52px 8px 0 8px;
    }

    .infoBox {
      img {
        @include u-position('absolute');
        @include u-right('105');
        @include u-top('105');
      }
    }
  }

  .page_builder_map {
    height: 440px;
  }

  // replicates .dm-practice-card-img-container
  .dm-news-img-container {
    max-height: 165px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-height: 100%;
      min-width: 100%;
    }
  }

  // disable USWDS USA card styles the affect whitespace
  .page-event-component, .page-news-component {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    .usa-card__container {
      border: 0;
      max-width: 395px; // Match card widths in Figma
    }

    .usa-card__container > div {
      padding-left: 0;
      padding-right: 0;
    }

    .usa-card__media--inset {
      padding-top: 0;
      padding-bottom: 1.5rem;
    }

    .usa-card__header {
      padding-top: 0;
    }

    .usa-card__body {
      padding-bottom: 0;
      &:last-child {
        padding-bottom: 0;
      }

      .event-metadata p {
        margin-bottom: 0.5rem;
        margin-top: 0;
      }
    }
  }

  .publication-component-list {
    .page-publication-component:not(:last-child) {
      @include u-padding-bottom(4);
      border-bottom: 2px #e6e6e6 solid;
    }
  }
}