.dm-page-content {
  p, li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.53;

    &.usa-prose-body {
      line-height: 1.6;
    }

    &.ql-align-justify {
      display: flex;
      justify-content: center;

      > p, span, a, li, blockquote, pre, strong, em, u {
        display: flex;
        justify-content: center;
      }
    }

    &.ql-align-center {
      text-align: center;

      > p, span, a, li, blockquote, pre, strong, em, u {
        text-align: center;
      }
    }

    &.ql-align-right {
      text-align: right;

      > p, span, a, li, blockquote, pre, strong, em, u {
        text-align: right;
      }
    }
  }

  p:last-of-type {
    @include u-margin-bottom(0, !important);
  }

  .pb-link {
    .pb-link-card-title, .pb-link-card-body {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .pb-link-card-title {
      color: color($theme-color-primary-vivid);
      -webkit-line-clamp: 2;
    }

    .pb-link-card-body {
      color: color($theme-color-base-ink);
      @include u-text-decoration('no-underline');
      -webkit-line-clamp: 4;
    }

    &:hover {
      .pb-link-card-title {
        color: color($theme-color-primary-dark) !important;
      }
    }

    &:active {
      .pb-link-card-title {
        color: color($theme-color-primary-darker) !important;
      }
    }

    &:visited {
      .pb-link-card-title {
        color: color($theme-link-visited-color);
      }
    }
  }
}
