.dm-page-content {
  p, li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.53;

    &.ql-align-justify {
      display: flex;
      justify-content: center;

      > p, span, a, li, blockquote, pre, strong, em, u {
        display: flex;
        justify-content: center;
      }
    }

    &.ql-align-center {
      text-align: center;

      > p, span, a, li, blockquote, pre, strong, em, u {
        text-align: center;
      }
    }

    &.ql-align-right {
      text-align: right;

      > p, span, a, li, blockquote, pre, strong, em, u {
        text-align: right;
      }
    }
  }

  .page-builder-component:last-of-type, p:last-of-type {
    @include u-margin-bottom(0, !important);
  }
}
