@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
@import "wigu/active_admin_theme";
@import 'activeadmin/quill_editor_input';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header {
  h1.site_title {
    background-color: transparent;
    background: none;
    padding-left: 30px;
    text-indent: 0px;
  }

  #utility_nav {
    background: transparent;
    padding-right: 26px;
  }
}

.attributes_table {
  table {
    th, td {
      color: black;
    }
  }
}

table.index_table {
  th, td {
    color: black;
  }
}

.attributes_table {
  white-space: pre-line;
}

.panel {
  h3 {
    font-size: 1rem;
    margin-top: 0;
  }
}

form fieldset legend {
  width: 10%;
}

form fieldset.inputs legend {
  border: none;
}

.polyform {
  display: none
}

.active_admin_action_button{
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 4px;
  background-color: #5ea3d3;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 10px 20px;
  line-height: 12px;
    &:link,&:visited{
        color: #ffffff;
      text-decoration: none;
    }
  &:hover{
    background-color: #72aed8 !important;
    text-decoration: none;
  }
}

fieldset.page_components.inputs.has_many_fields {
  padding-top: 0;
}

.max-width-15 {
  max-width: 15rem;
}

.max-height-15 {
  max-height: 15rem;
}


.aa-downloadable-file-link {
  margin: 0.5em 0 0 20%;
  font-size: 14px;

  span {
    padding-right: 5px;
  }
}

.form-and-legend-container {
  position: relative;
  margin-top: 1.8rem;
}

.adoptions-legend {
  border: 1px solid #5ea3d3;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 4px;
  position: absolute;
  right: 0;
  bottom: 0;

  h4 {
    margin-top: 0;

    span:first-child {
      color: #000000;
      font-weight: bold;
    }
  }

  ul {
    padding: 0;
    margin-bottom: 0;

    li {
      color: #5E6469;
      list-style-type: none;
      font-size: 13px;

      span:first-child {
        color: #000000;
        font-weight: bold;
      }
    }
  }
}