/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/tooltip
 *= require cropper
 *= require commontator/application
 */

@import "font-awesome-sprockets";
@import "font-awesome";

// TODO: move these styles
.practice-editor-long-rect-svg{
  height: 4px;

  @media screen and (min-width: 1024px) {
    width: 726px;
  }
}

.overview_error_msg {
  display: none;
  margin-top: 0;
  width: 300px;
}

#more_text, #more_text_award, #more_text_origin_story {
  display: none;
}
