/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./dm
 *= require_tree ./dm_uswds
 *= require_self
 *= require jquery-ui/tooltip
  *= require cropper
 *= require commontator/application
 */

@import 'dm_uswds/theme/uswds-theme-typography';
@import 'dm_uswds/theme/_uswds-theme-custom-styles';
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
}

#main-content {
  position: relative;
  // Add padding equal to the height of the current footer plus 40px for spacing between 'Return to top' button and the element above it based on Figma designs

  // Mobile footer height + 20px
  padding-bottom: 439px;
  @media screen and (min-width: 1024px) {
    // Desktop footer height + 20px
    padding-bottom: 215px;
  }
}

.practice-editor-rect-svg {
  height: 4px;
  width: 60px;
}

.practice-editor-long-rect-svg{
  height: 4px;

  @media screen and (min-width: 1024px) {
    width: 726px;
  }
}

.overview_error_msg {
  display: none;
  margin-top: 0;
  width: 300px;
}

#more_text, #more_text_award, #more_text_origin_story {
  display: none;
}
