/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "uswds/uswds";

// USWDS utility extensions

.display-none {
  display: none;
}

.bottom-2rem {
  bottom: 2rem;
}

.margin-auto {
  margin: auto;
}

.maxw-675px {
  max-width: 675px;
}

button.appearance-none {
  appearance: none;
  background: none;
  border: none;
}

.link-dark, .link-dark:visited {
  @extend .text-base-darkest;
}

// Custom styles

.icon {
  position: relative;
  top: 6px;
  margin-right: 6px;
}

.icon-large {
  float: left;
  margin-right: 15px;
  position: relative;
  top: 20px;
  height: 50px;
}

.icon-positive-outcomes {
  float: left;
  margin-right: 15px;
  position: relative;
  top: 13px;
  height: 35px;
}

.icon-highlights {
  width: 35px;
}

.badge {
  position: relative;
  top: 15px;
  width: 40px;
}

.section-selected {
  border-bottom: solid 6px color('accent-cool-dark');
}
