$dm-color-primary-blue: #0076D6;
$dm-color-alpha-blue-7: rgba($dm-color-primary-blue, 0.8);
$dm-color-alpha-blue-7: rgba($dm-color-primary-blue, 0.7);
$dm-color-alpha-blue-6: rgba($dm-color-primary-blue, 0.6);
$dm-color-alpha-blue-5: rgba($dm-color-primary-blue, 0.5);
$dm-color-alpha-blue-3: rgba($dm-color-primary-blue, 0.3);
$dm-color-alpha-blue-1: rgba($dm-color-primary-blue, 0.1);
$dm-color-light-blue: #E7F6F8;
$dm-color-gold: #E4A002;
$dm-color-pink: #FE4497;
$dm-color-red: #E52107;
$dm-color-dark-blue: #0076D6;
$dm-color-mint-green: #1CC2AE;
$dm-color-purple: #9058D3;
$dm-color-light-gray: #F3F3F3;
$dm-color-light-black: #252D32;
