// https://designsystem.digital.gov/design-tokens/color/system-tokens/
$dm-color-base: #1b1b1b; // gray-90
$dm-color-gray-60: #5c5c5c;
$dm-color-gray-30: #adadad;
$dm-color-gray-20: #c9c9c9;
$dm-color-gray-10: #e6e6e6;
$dm-color-gray-2: #f9f9f9;
$dm-color-blue-20v: #a1d3ff; // covid-19 banner background color
$dm-color-blue-50v: #0076d6;
$dm-color-blue-70v: #0b4778;
$dm-color-blue-80v: #112f4e;
$dm-color-red-50: #d83933;
$dm-color-red-50v: #e52207;
$dm-color-red-60v: #b50909;
$dm-color-red-70v: #8b0a03;
$dm-color-gold-20v: #ffbe2e;

// other
$dm-color-white: #ffffff;
$dm-color-black: #000000;
$dm-default-visited-purple: #562b97;

// homepage map
$dm-color-dark-black: #171717;
$dm-color-lighter-grey: #DCDEE0;

// comments section TODO: cleanup once new comment designs in place
$dm-color-base-dark: #565C65;
$dm-color-base-darker: #3d4551;

// TODO: can probably clean up once new designs in place
$dm-color-primary-blue: #005EA2;
$dm-color-light-blue: #E7F6F8;
$dm-color-darker-gold: #795c1e;
$dm-color-light-black: #252D32;
