$dm-color-primary-blue: #005EA2;
$dm-color-primary-vivid: #0050D8;
$dm-color-primary-dark-blue: #1A4480;
$dm-color-darker-blue: #162e51;
$dm-color-primary-light-blue: #C2D6E7;
$dm-color-pastel-blue: #DAEDFFBF;
$dm-color-alpha-blue-8: rgba($dm-color-primary-blue, 0.8);
$dm-color-alpha-blue-7: rgba($dm-color-primary-blue, 0.7);
$dm-color-alpha-blue-6: rgba($dm-color-primary-blue, 0.6);
$dm-color-alpha-blue-5: rgba($dm-color-primary-blue, 0.5);
$dm-color-alpha-blue-3: rgba($dm-color-primary-blue, 0.3);
$dm-color-alpha-blue-1: rgba($dm-color-primary-blue, 0.1);
$dm-color-alpha-blue-0: rgba($dm-color-primary-blue, 0);
$dm-color-light-blue: #E7F6F8;
$dm-color-gold: #E4A002;
$dm-color-darker-gold: #795c1e;
$dm-color-pink: #FE4497;
$dm-color-red: #E52107;
$dm-color-secondary-red: #D83933;
$dm-color-dark-blue: #0076D6;
$dm-color-mint-green: #1CC2AE;
$dm-color-purple: #9058D3;
$dm-color-light-gray: #F3F3F3;
$dm-color-cool-gray-30: #ADADAD;
$dm-color-light-black: #252D32;
$dm-color-dark-brown: #585858;
$dm-color-dark-black: #171717;
$dm-color-white: #FFFFFF;
$dm-color-white-important: #FFFFFF !important;
$dm-color-black: #000000;
$dm-color-dark-blue-gray: #002A5C;
$dm-color-light-blue-gray: rgba(0, 42, 92, 0.6);

$dm-color-low-green: #04c585;
$dm-color-medium-yellow: #ffbe2e;
$dm-color-dark-yellow: #FFBE2E;
$dm-color-medium-high-yellow: #e66f0e;
$dm-color-high-red: #e52207;
$dm-color-blue-black: #112E51;
$dm-color-super-grey: #424344;
$dm-color-super-violet-ish: #004795;
$dm-color-royal-blue: #205493;
$dm-color-pale-blue: #0071BB;
$dm-color-steel-grey: #585C62;
$dm-color-light-grey: #D6D7D9;
$dm-color-midnight-black: #2D2E2F;
$dm-color-base-dark: #565C65;
