<section class="search-terms-section margin-bottom-neg-1 desktop-hide">
  <div class="grid-container">
    <div class="height-05 width-8 border-top-05 border-primary-dark margin-top-5"></div>
    <h3 class="font-sans-lg margin-y-2">Search categories</h3>
    <%= render partial: 'practices/show/mobile_partials/search_term_selectors' %>
  </div>
</section>
