<div class="usa-alert usa-alert--info usa-alert--no-icon margin-bottom-1 maturity-level-banner">
  <div class="usa-alert__body line-height-26">
    <%
      maturity = @practice.maturity_level
      maturity_map = Practice::MATURITY_LEVEL_MAP[maturity.to_sym]
    %>
    <p class="usa-alert__text margin-bottom-0">
      <%= maturity_map[:description] %>
      <a href="/search?filter_by=<%= maturity %>" class="dm-button--unstyled-primary">See more <%= maturity_map[:link_text] %> innovations.</a>
    </p>
  </div>
</div>