<h1>Thank you for committing to implement <%= @practice.name %></h1>

<p>The support team has been notified and will be reaching out; expect an email from them soon.</p>

<p>Typically the support team will:<p>
<ul>
  <li>review the checklist</li>
  <li>share the toolkit</li>
  <li>help your team get started</li>
  <li>provide support</li>
  <li>answer questions</li>
  <li>trouble shoot</li>
  <li>coordinate feedback</li>
</ul>

<p>We appreciate your effort to implement this innovation in order to improve health outcomes, save lives, and increase
  veteran and staff satisfaction.</p>