<h1>There is interest in implementing your innovation!</h1>
<p><%= @user.email %> has committed to implementing <%= @practice.name %> on <%= Date.today %>.</p>
<p>They are looking forward to you reaching out and helping them get started.</p>
<p>Thank you for your efforts to spread your practice and further improve health outcomes, save lives, and increase veteran and staff satisfaction.</p>